
<h1>Customers</h1>
<p>avatars : 140 x 140</p>
<p>avatar comment : 80 x 80</p>
<div class="row">
  <%= render(partial: 'customers/customer', locals: {customer: Customer.first, withcols: true}) %>
</div>
<hr>
<div class="row">
  <%= render(partial: 'customers/customer_picture', locals: {customer: Customer.first, withcols: false}) %>
</div>
<hr>

<h1>Products</h1>
<p>images mini : 160 x 162</p>
<p>images preview : 174 x 225</p>
<p>image full : 272 x 350</p>
<div class="row">
<%= render(partial: 'products/product', locals: {product: Product.first, with_cols: true}) %>
</div>
  <%= render(partial: 'products/product', locals: {product: Product.first, with_cols: false}) %>
<div class="row">
  <%= render(partial: 'products/product_cart', locals: {product: Product.first}) %>
</div>
<hr>

<h1>Posts</h1>
<div class="row">
  <%= render(partial: 'posts/post', locals: {post: Post.first, with_cols: true, with_body: true}) %>
  <%= render(partial: 'posts/post', locals: {post: Post.first, with_cols: true, with_body: false}) %>
</div>
<%= render(partial: 'posts/post', locals: {post: Post.first, with_cols: false, with_body: true}) %>
<%= render(partial: 'posts/post', locals: {post: Post.first, with_cols: false, with_body: false}) %>
<hr>


<h1>Reviews</h1>
<%= render(partial: 'reviews/review', object: Review.first) %>
<hr>

<h1>Comments</h1>
<%= render(partial: 'comments/comment', locals: {comment: Comment.first}) %>
<hr>

<h1>Order Item</h1>
  <%= render(partial: 'order_items/order_item', object: OrderItem.first) %>
<hr>