
<% provide(:title, t('activerecord.attributes.customer.terms_of_service')) %>



<div class="container">
<div class="row">

<div class="col-md-3" id="navScrollspy" role="navigation">
  <ul  class="nav nav-pills nav-stacked hidden-xs hidden-sm affix" id="affix_nav2">
    <li><a href="#forewords">Préambule - Définitions</a></li>
    <li><a href="#obligation_platform">Obligations de MyGoodCourse</a></li>
    <li><a href="#obligation_member">Obligations du Membre</a></li>
    <li><a href="#obligation_seller">Obligations du Vendeur</a> </li>
    <li><a href="#obligation_buyer">Obligations de l'Acheteur</a> </li>
    <li><a href="#sales_process">Processus de Vente</a></li>
    <li><a href="#sales_cancel">Réclamation et droit de rétractation</a></li>
    <li><a href="#financials">Dispositions financières</a></li>
    <li><a href="#intellectual_prop">Propriété de la Plateforme</a></li>
    <li><a href="#law_respect">Conformité à la loi</a></li>
    <li><a href="#duration">Durée et résiliation</a></li>
    <li><a href="#responsability">Responsabilité</a></li>
    <li><a href="#general">Stipulations générales</a></li>
  </ul>
</div>

<div role="main" class="col-md-9" >
  <!-- Image Header -->
  <h1><%= t('activerecord.attributes.customer.terms_of_service') %></h1>
  <!-- /.row -->
  <section id="forewords">
    <h2>
      <span class="fa-stack">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-file-text fa-stack-1x fa-inverse"></i>
      </span>
      Préambule
    </h2>
    <p>Bienvenue sur la Plateforme MYGOODCOURSE (ci-après « MYGOODCOURSE »).</p>

    <p>La Plateforme est le portail Internet de MYGOODCOURSE permettant d'accéder à l'ensemble des sites exploités par MYGOODCOURSE,
      en particulier, le site www.mygoodcourse.com (ci-après désignés le « Site » ou les « Sites »).</p>

    <p>Les Sites permettent la mise en relation de vendeurs (ci-après les « Vendeurs ») avec des acheteurs préalablement inscrits
      sur le Site (ci-après les « Acheteurs »). Le Site www.mygoodcourse.com est la place de marché pour les créations de ressources pédagogiques numériques.</p>

    <p>Le Sites permet en outre la mise en relation des Vendeurs avec tout Utilisateur de la Plateforme, même non Acheteur,
      qui se sera préalablement inscrit sur le Site en tant que Membre, et offrent également des outils de communication entre Membres.</p>

    <p>Les Vendeurs, les Acheteurs et les Utilisateurs de la Plateforme, non Acheteurs ou Vendeurs, préalablement inscrits sur le Site,
      sont ci-après désignés conjointement les « Membres ». L'ensemble des produits mis en vente sur la Plateforme par les Vendeurs sont désignés ci-après les « Produits ».</p>

    <p>Les présentes conditions générales d'utilisation (ci-après les « Conditions Générales ») gouvernent l'accès et l'utilisation
      à l'ensemble de la Plateforme et décrivent les conditions selon lesquelles MYGOODCOURSE propose l'accès à ses services par le biais de la Plateforme.
      Les Conditions Générales s'appliquent à tout Utilisateur du Site, qu'il soit inscrit en tant que Membre ou non.</p>

    <p>Les documents intitulés Produits autorisés et interdits à la vente et Charte éthique et vie privée ont pour objet de compléter
      les Conditions Générales et/ou d'en préciser les termes, et sont incorporés par référence aux présentes Conditions Générales.
      Vous aurez l'opportunité de lire attentivement ces documents à valeur contractuelle avant d'utiliser la Plateforme et
      nous vous conseillons vivement de le faire car ils ont pour objet notamment de préciser les règles d'utilisation de notre service.</p>
  </section>
  <section id="definitions">
    <h2>
      <span class="fa-stack">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-file-text fa-stack-1x fa-inverse"></i>
      </span>
      Définitions
    </h2>
    <dl>
      <dt>« Acheteur »</dt>
      <dd>désigne un Membre ayant indiqué son acceptation de l'offre d'un Vendeur sur le Site.</dd>
    </dl>
    <dl>
      <dt>« Contenu(s) »</dt>
      <dd>désigne tout contenu fourni par un Membre sur le Site, notamment, sans que cette liste soit limitative, tout Produit,
        toute donnée, information, texte, tout objet répertorié, descriptif, tout commentaire, toute évaluation d'un Vendeur ou d'un Produit,
        tout nom, pseudonyme, enseigne, photographie, image, son, vidéo, logo et tout autre élément fourni par le Membre sur la Plateforme,
        y compris lors de son inscription, dans une annonce, un message électronique, sur un forum ou sur la boutique d'un Vendeur.</dd>
    </dl>
    <dl>
      <dt>« Membre »</dt>
      <dd>désigne toute personne qui s'inscrit sur le Site.</dd>
    </dl>
    <dl>
      <dt>« Plateforme »</dt>
      <dd>désigne la structure fonctionnelle et organisationnelle mise en place par MYGOODCOURSE permettant la mise en relation de
        Vendeurs et d'Acheteurs de Produits, accessible par le biais de l'un quelconque des Sites. La Plateforme inclut l'ensemble des Sites et désigne
        donc indifféremment l'ensemble ou tout ou partie des Sites.</dd>
    </dl>
    <dl>
      <dt>« Porte-Monnaie Virtuel »</dt>
      <dd>désigne :
        <ul>
          <li>
            pour le Vendeur, la réserve d'argent disponible sur le compte du Vendeur qui a effectué au moins
        une vente sur l'un quelconque des Sites par le biais du système de paiement CB sécurisé Stripe utilisé par MYGOODCOURSE, et s'est vu créditer le fruit de sa vente;
          </li>
          <li>
            pour l'Acheteur, la réserve d'argent disponible sur le compte de l'Acheteur qui a effectué au moins un achat sur l'un quelconque des Sites
            par le biais du système de paiement CB sécurisé Stripe utilisé par MYGOODCOURSE, et s'est vu rembourser tout ou partie de ses achats par un Vendeur suite à une demande de remboursement.
            Le Porte-Monnaie Virtuel peut être utilisé par l'Acheteur pour acheter des Produits sur l'ensemble de la Plateforme.
            Chaque Membre dispose d'un Porte-Monnaie Virtuel au moment de l'ouverture de son compte pour l'ensemble des Sites, qui lui permet de régler
            ses achats et d'être payé dans les conditions décrites aux présentes Conditions Générales.
          </li>
        </ul>
    </dd>
    </dl>
    <dl>
      <dt>« Produit »</dt>
      <dd>désigne un produit mis en vente sur la Plateforme par un Vendeur. Le Produit doit être conforme aux présentes Conditions Générales
        et en particulier ne pas constituer un Produit Interdit.</dd>
    </dl>
    <dl>
      <dt>« Produit Interdit »</dt>
      <dd>désigne un produit interdit à la vente sur la Plateforme, tel que plus amplement décrit à l'article 4.4 des présentes Conditions Générales.</dd>
    </dl>
    <dl>
      <dt>« Sites »</dt>
      <dd>désigne le site Web à l'adresse www.mygoodcourse.com (ou tout(es) autre(s) adresse(s) qui pourrai(en)t leur être substitué(s))
        et « Sites » désignent l'ensemble des Sites précités. Les Sites font partie de la Plateforme.</dd>
    </dl>
    <dl>
      <dt>« Utilisateur »</dt>
      <dd>désigne toute personne qui utilise la Plateforme, qu'elle soit Membre ou non.</dd>
    </dl>
    <dl>
      <dt>« Vendeur »</dt>
      <dd>désigne un Membre qui ouvre une boutique virtuelle sur un ou plusieurs Sites de la Plateforme et offre des Produits
        à la vente par le biais de la Plateforme.</dd>
    </dl>

  </section>
  <section id="obligation_platform">
    <h2>
      <span class="fa-stack">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-file-text fa-stack-1x fa-inverse"></i>
      </span>
      Obligations de MyGoodCourse
    </h2>
    <ul>
      <li>
        <p>La Plateforme est un espace de vente en ligne sur lequel des Produits, conformes aux présentes Conditions Générales
          (et en particulier à la politique de MYGOODCOURSE concernant les Produits autorisés et interdits à la vente),
          peuvent être proposés à la vente, vendus et acquis par les Membres, tant que leur offre, vente ou acquisition
          n'est pas contraire aux dispositions légales en vigueur et aux présentes Conditions Générales.</p>
      </li>
      <li>
        <p>A cette fin, MYGOODCOURSE</p>
          <ol>
            <li>
              offre aux Vendeurs la possibilité de présenter et de vendre leurs Produits et leur univers par le biais
              d'une boutique virtuelle et personnelle à chaque Vendeur
            </li>
            <li>
              met à disposition des Vendeurs des outils leur permettant de mettre en avant et de promouvoir leur Produits et
            </li>
            <li>
              propose aux Membres des outils communautaires leur permettant de dialoguer avec les autres Membres et d'échanger
              des informations autour de leur pratiques pédagogiques.
            </li>
          </ol>

      </li>
      <li>
        <p>Le rôle de MYGOODCOURSE se limite à l'intermédiation entre Acheteurs et Vendeurs, sauf stipulation expresse contraire des présentes.
          MYGOODCOURSE n'intervient en aucune manière dans les transactions entre Acheteurs et Vendeurs, qui décident seuls,
          et à leur propre discrétion, de la conclusion de contrats de vente par l'intermédiaire de la Plateforme.
          MYGOODCOURSE n'est ni revendeur ni propriétaire des Produits offerts à la vente sur la Plateforme,
          n'entre jamais en possession des Produits mis en vente, ne stocke pas les Produits et n'en est pas davantage dépositaire
          de quelque manière que ce soit. En outre, à l'exception du rôle limité d'intermédiation décrit aux présentes Conditions Générales,
          MYGOODCOURSE n'intervient en aucune manière dans la chaîne de fabrication, de commercialisation et/ou de réalisation des Produits.
          MYGOODCOURSE n'a donc aucun contrôle sur les Produits et ne peut en particulier garantir que le Produit du Vendeur satisfera l'Acheteur.
          De même, MYGOODCOURSE ne peut garantir au Vendeur que la vente en cas de non conformité des Produits, sauf stipulation contraire des présentes Conditions Générales.</p>
      </li>
      <li>
        <p>MYGOODCOURSE d'une part et le Membre d'autre part sont des parties indépendantes, chacune agissant en son nom et pour son propre compte.
          Sauf stipulations contraires des présentes Conditions Générales, les présentes Conditions Générales ne créent aucun lien de subordination,
          de mandat, société en participation, entreprise commune, de relations employeur/employé ou franchiseur/franchisé entre MYGOODCOURSE et chaque Membre.</p>
      </li>
      <li>
        <p>Sauf disposition légale impérative contraire, chaque Membre dégage MYGOODCOURSE (ainsi que toute société du groupe, mandataires sociaux,
          dirigeants, agents et employés) de toute responsabilité en cas de réclamation, différend et/ou litige entre Membres,
          et/ou de tout dommage présent ou futur, présumé ou non, constaté ou non, résultant de manière directe ou indirecte de cette réclamation, ce différend et/ou ce litige.</p>
      </li>
      <li>
        <p>Sans préjudice de ce qui précède, MYGOODCOURSE se réserve le droit de participer à la promotion des Produits mis en ligne
          sur la Plateforme et commercialisés par les Vendeurs, notamment par la mise en place de partenariats avec d'autres sites Internet
          et/ou par des publications dans les médias et/ou par l'envoi d'e-mails publicitaires dans le respect des dispositions légales applicables.
          Une telle participation ne saurait lui ôter la qualité de simple intermédiaire dans les échanges entre Vendeurs et Acheteurs
          dans la mesure où MYGOODCOURSE ne fait que promouvoir la Plateforme et les Produits qui y sont offerts dans leur ensemble
          (et non pas tels ou tels Produits déterminés ou sélectionnés par MYGOODCOURSE), mais n'intervient pas dans la relation entre Acheteur
          et Vendeur concernant un ou plusieurs Produits en particulier.</p>
      </li>
      <li>
        <p>MYGOODCOURSE ne contrôle pas les informations fournies par les Membres et rendues publiques sur la Plateforme.
          Les informations des autres Membres peuvent être offensantes, dommageables, imprécises ou trompeuses.
          L'identité et la qualité d'un Membre peuvent être différentes de celles présentées sur le Site.
          MYGOODCOURSE recommande donc à chaque Utilisateur de faire preuve de prudence et de bon sens lors de l'utilisation de la Plateforme.</p>
      </li>
    </ul>
  </section>
  <section id="obligation_member">
    <h2>
      <span class="fa-stack">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-file-text fa-stack-1x fa-inverse"></i>
      </span>
      Obligations du Membre
    </h2>
    <ul>
      <li>
        <p>Pour accéder à la Plateforme, le Membre doit préalablement s'inscrire et ouvrir un compte sur l'un quelconque des Sites.
          L'inscription n'est autorisée qu'aux personnes physiques de plus de 16 ans ayant la capacité d'accomplir des actes juridiques,
          sous réserve, pour les mineurs, d'avoir obtenu l'autorisation préalable de leur représentant légal.</p>
      </li>
      <li>
        <p>Toute personne qui s'inscrit en tant que Membre sur l'un quelconque des Sites s'engage à fournir des informations exactes, complètes et actualisées,
          et toutes autres données (notamment personnelles) qui seraient nécessaires à la finalisation et au maintien de l'inscription sur la Plateforme, notamment
          une adresse électronique valide et toutes informations complémentaires nécessaires pour devenir Vendeur ou Acheteur.
          Chaque Membre s'engage également à mettre à jour son compte et à y apporter sans délai toute modification concernant ses informations.
          Chaque Membre sera seul responsable des conséquences pouvant résulter de la fourniture d'informations mensongères, invalides ou erronées à MYGOODCOURSE et/ou à un autre Membre.</p>
      </li>
      <li>
        <p>Pour s'inscrire, le Membre devra fournir un nom d'utilisateur (nom et un prénom) en plus d'une adresse électronique (email) et un mot de passe. Le Membre s'engage à ne pas s'enregistrer
          sous un nom d'utilisateur portant atteinte aux droits d'un tiers. Notamment, le Membre n'utilisera pas un nom d'utilisateur portant atteinte aux droits d'auteur,
          marques, dénominations sociales ou enseignes d'un tiers ou d'un autre Membre, ou encore un nom d'utilisateur visuellement ou phonétiquement
          proche du nom d'utilisateur ou pseudo d'un autre Membre. Par ailleurs, le Membre s'interdit d'enregistrer comme nom d'utilisateur tout ou partie d'un lien URL,
          adresse ou autre nom de domaine pointant vers un site externe. MYGOODCOURSE se réserve le droit, notamment en cas de litige entre Membres,
          de demander au Membre qui n'a pas respecté le présent article de modifier son nom d'utilisateur dans un délai qui lui sera communiqué par MYGOODCOURSE.
          A défaut de se conformer à cette demande, MYGOODCOURSE pourra résilier les présentes Conditions Générales.</p>
      </li>
      <li>
        <p>L'inscription du Membre sur un Site lui permet de créer un compte unique par lequel il peut accéder à l'ensemble de la Plateforme et donc à tous
          les autres Sites disponibles par le biais de la Plateforme, à l'aide du même nom d'utilisateur et mot de passe, chaque Site comportant un accès direct aux autres Sites.</p>
      </li>
      <li>
        <p>Le nom d'utilisateur (email) et le mot de passe du Membre sont strictement personnels et le Membre s'engage à en maintenir la confidentialité.
          Le Membre inscrit est seul autorisé à utiliser la Plateforme à l'aide de son nom d'utilisateur et de son mot de passe et s'engage à ne permettre à aucune autre personne
          un accès sous son identité ou son nom d'utilisateur. L'utilisation du nom d'utilisateur du Membre, associée à son mot de passe,
          fait présumer un accès et un usage de la Plateforme par ce Membre. Dans l'hypothèse où il aurait connaissance d'un accès par un tiers à son compte,
          le Membre s'engage à en informer MYGOODCOURSE sans délai.</p>
      </li>
      <li>
        <p>Chaque Membre s'engage à ne créer et à n'utiliser qu'un seul compte, sauf stipulation spécifique pour les Vendeurs.
          Toute dérogation à cette règle devra faire l'objet d'une demande explicite de la part du Membre et d'une autorisation exprès et spécifique d'MYGOODCOURSE.
          Le fait de créer ou d'utiliser de nouveaux comptes sous sa propre identité ou celle de tiers sans avoir demandé et obtenu l'autorisation d'MYGOODCOURSE
          pourra entraîner la suspension immédiate et/ou la clôture des comptes du Membre et de tous les services associés.</p>
      </li>
      <li>
        <p>Chaque Membre s'engage à utiliser le Site et à fournir des Contenus sur le Site dans le respect des présentes Conditions Générales
          et des dispositions législatives et/ou réglementaires en vigueur.</p>
      </li>
      <li>
        <p>Chaque Membre est seul responsable de son Contenu, MYGOODCOURSE ne jouant qu'un rôle d'intermédiaire technique passif pour sa mise en ligne
          et ne contrôlant pas le Contenu avant sa mise en ligne. Le Membre s'interdit de fournir un ou des Contenus et plus généralement d'effectuer tout
          acte ou agissement, sur tout ou partie de la Plateforme :</p>

        <ul>
          <li>portant atteinte aux droits d'auteurs, brevets, marques, dessins et modèles, secrets de fabrication, au droit de divulgation et/ou à la vie privée des tiers</li>
          <li>diffamatoire, injurieux, dénigrant et/ou calomnieux</li>
          <li>discriminatoire et/ou incitant à la violence ou à la haine raciale, religieuse ou ethnique</li>
          <li>obscène et/ou pédophile</li>
          <li>susceptible d'être qualifié de détournement, d'escroquerie, d'abus de confiance ou de tomber sous le coup de toute autre infraction pénale</li>
          <li>en vue d'obtenir ou de tenter d'obtenir le transfert de sommes d'argent sans qu'il y ait en contrepartie la remise d'un Produit conforme aux présentes
            Conditions Générales d'une valeur équivalente aux sommes sollicitées</li>
          <li>susceptible d'endommager tout système informatique ou d'intercepter clandestinement toutes données ou informations nominatives</li>
          <li>engageant ou susceptible d'engager la responsabilité de MYGOODCOURSE ou ayant pour conséquence la perte du bénéfice de tout ou partie des
            services des prestataires de MYGOODCOURSE et notamment de ses prestataires de services Internet, prestataires de paiement et/ou prestataires de stockage</li>
          <li>susceptible de porter atteinte à l'image et/ou la réputation de MYGOODCOURSE ou de la Plateforme et/ou de constituer des actes de concurrence déloyale
            ou parasitaire à l'égard de MYGOODCOURSE, de tout autre Membre et/ou de tiers</li>
          <li>en vue de détourner ou de tenter de détourner tout ou partie des Acheteurs de l'un quelconque des Sites ou d'inciter tout ou partie des Acheteurs
            à ne pas ou ne plus acheter sur l'un quelconque des Sites ou sur l'une quelconque des boutiques virtuelles présentes sur un Site ou la Plateforme</li>
          <li>potentiellement déloyal, préjudiciable, anti-commercial ou nuisible à l'égard de MYGOODCOURSE, de la Plateforme, de tout Membre et/ou de tout tiers</li>
          <li>inexact ou trompeur</li>
          <li>qui viole ou est susceptible de violer toute loi ou règlement applicable et/ou toute clause contractuelle liant le Membre.</li>
        </ul>
      </li>
      <li>
        <p>En outre le Membre s'interdit</p>
          <ul>
            <li>d'inclure dans ses mots clé de recherche des termes portant atteinte aux droits d'un tiers, et notamment aux droits d'auteur, marques,
              dénominations sociales ou enseignes d'un tiers ou d'un Membre, ou reprenant en tout ou partie le nom d'un autre Membre,</li>
            <li>d'inclure dans tout Contenu tout ou partie d'un lien URL, adresse ou autre nom de domaine pointant vers un site externe à la Plateforme, et/ou</li>
            <li>de contourner, détourner et/ou faire obstacle (ou tenter de contourner, détourner et/ou faire obstacle) de manière déloyale à un service soumis
              à rémunération sur la Plateforme.</li>
          </ul>
      </li>
      <li>
        <p>En communiquant un Contenu par le biais du Site, le Membre concède à MYGOODCOURSE (mais sans obligation pour MYGOODCOURSE)
          une licence non-exclusive, non-transférable, susceptible de sous-licence, et gratuite, pour le monde entier, et pour la durée de l'inscription du Membre,
          d'utiliser, de reproduire, représenter, publier, mettre à disposition, communiquer, modifier, adapter, afficher, sur le Site et sur tous autres supports
          (notamment sur tout support physique ou numérique, dans tout communiqué ou dossier de presse ou financier, support de présentation,
          matériel promotionnel et/ou publicitaire, site Internet), par tous moyens, tout ou partie du Contenu, sans limitation dans le nombre d'exemplaires,
          à des fins internes, de stockage, publicitaires, de promotion, de marketing, de communication, de relations publiques et pour les besoins de la mise en
          place de partenariats ou sponsors avec les partenaires de MYGOODCOURSE. Le Membre reconnaît que toute utilisation de son Contenu effectuée par MYGOODCOURSE
          préalablement à sa désinscription, la suppression ou la clôture de son compte ou à la résiliation des présentes Conditions Générales ne pourra être remise en cause par le Membre.</p>
      </li>
      <li>
        <p>En communiquant un Contenu par le biais du Site, le Membre concède également directement à tout Utilisateur une licence non-exclusive, personnelle,
          non-transférable, insusceptible de sous-licence, pour le monde entier, et pour la durée de l'inscription du Membre, de reproduire et de représenter le
          Contenu à des fins privées non commerciales.</p>
      </li>
      <li>
        <p>Le Membre reconnaît que son Contenu pourra être visualisé sur le Site par tout Utilisateur qui pourra accéder à son profil et suivre son activité.
          Des options de désactivation sont disponibles sur le compte du Membre.</p>
      </li>
      <li>
        <p>Chaque Membre accepte d'indemniser MYGOODCOURSE en cas d'action d'un tiers contre MYGOODCOURSE dès lors que cette action aurait pour cause,
          fondement ou origine tout Contenu fourni par lui sur la Plateforme. Chaque Membre s'engage à supporter toutes les conséquences,
          notamment financières, qui pourraient résulter d'une telle action et à indemniser à première demande MYGOODCOURSE. MYGOODCOURSE se réserve le droit,
          sans indemnité, ni notification, ni préavis, de modifier ou de supprimer tout Contenu qui violerait l'une des dispositions des Conditions Générales,
          ainsi que de suspendre, de clôturer ou de supprimer le compte du Membre.</p>
      </li>
      <li>
        <p>Dans l'hypothèse où un Membre constaterait l'offre de vente de Produits Interdits sur le Site, il s'engage à en informer immédiatement par e-mail
          MYGOODCOURSE.</p>
      </li>
      <li>
        <p>Dans l'hypothèse où MYGOODCOURSE aurait connaissance de tout acte ou agissement d'un Membre en dehors de la Plateforme
        <ul>
          <li>
            en vue de détourner ou de tenter de détourner tout ou partie des Acheteurs de l'un quelconque des Sites ou d'inciter tout ou partie des Acheteurs
            à ne pas ou ne plus acheter sur l'un quelconque des Sites ou sur l'une quelconque des boutiques virtuelles présentes sur un Site ou la Plateforme</li>
          <li>potentiellement déloyal, préjudiciable, anti-commercial, dénigrant, diffamatoire, injurieux ou nuisible à l'égard de MYGOODCOURSE, de la Plateforme,
            de tout Membre et/ou de tout tiers ou</li>
          <li>
            violant à l'égard de MYGOODCOURSE de quelconque autre manière les législations et réglementations applicables,
          </li>
        </ul>
        <p>MYGOODCOURSE se réserve le droit de résilier les présentes Conditions Générales.
        </p>
      </li>
      <li>
        <p>Le Membre a une obligation d'agir de bonne foi et avec respect dans ses relations avec MYGOODCOURSE et les autres Membres.</p>
      </li>
    </ul>
  </section>
  <section id="obligation_seller">
    <h2>
      <span class="fa-stack">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-file-text fa-stack-1x fa-inverse"></i>
      </span>
      Obligations du Vendeur
    </h2>
    <ul>
      <li>
        <p>L'objectif de MYGOODCOURSE est clair: aider les Vendeurs à vendre leurs Produits et à développer leur activité.
          Pour plus d'informations sur les Produits autorisés et interdits à la vente sur chaque Site, le Vendeur est invité à consulter la rubrique
          « Produits autorisés et interdits à la vente » disponible sur chaque Site. Il est notamment précisé que les Produits mis en vente sur le Site
          doivent être exclusivement des créations originales faites en-dehors du temps scolaire, indépendamment de son temps de travail comme enseignant.</p>
      </li>
      <li>
        <p>La Plateforme permet au Vendeur de créer sa boutique virtuelle sur chacun des Sites de la Plateforme par le biais d'un compte unique
          auquel sont associés une adresse email et un mot de passe uniques. Le paiement se fait obligatoirement par Carte Bancaire.</p>
      </li>
      <li>
        <p>Chaque Vendeur s'interdit de répertorier et/ou d'offrir à la vente sur le Site des Produits :</p>
        <ol>
          <li>non autorisés à la vente par MYGOODCOURSE</li>
          <li>ne correspondant pas ou pas exactement à un Produit du Vendeur effectivement disponible à l'achat ou mis en vente sur un Site</li>
          <li>contraires ou non-conformes aux lois et règlements en vigueur ou aux bonnes mœurs ou non autorisés en vertu de dispositions contractuelles,
            portant atteinte aux droits d'un tiers, tels que des Produits contrefaits au sens des dispositions du Code de la propriété intellectuelle,
            vendus en violation de réseaux de distribution sélective ou exclusive,
            MYGOODCOURSE attire l'attention du Vendeur sur la nécessité absolue pour le Vendeur qui met un Produit sur le marché et notamment en vente sur la Plateforme
            de s'assurer que ce Produit est rigoureusement conforme aux lois, règlements et autres prescriptions en vigueur.
        </ol>
      </li>
      <li>
        <p>Dans l'hypothèse où MYGOODCOURSE constaterait, suite à une alerte d'un Membre ou de son propre fait, la mise en vente de Produits Interdits
          sur un Site, MYGOODCOURSE se réserve le droit de :</p>
        <ul>
          <li>retirer de la vente ledit Produit Interdit ou tout Produit contraire aux présentes Conditions Générales</li>
          <li>bloquer, suspendre, clôturer ou supprimer le compte du Vendeur</li>
          <li>communiquer aux autorités compétentes toutes les informations requises concernant toute offre de vente et/ou tout achat d'un Produit Interdit sur un Site,
            y compris les informations nominatives des Membres le cas échéant, et/ou de coopérer avec les autorités compétentes sur leur demande</li>
        </ul>
      </li>
      <li>
        <p>Chaque Vendeur s'engage à:</p>
        <ul>
          <li>indiquer les caractéristiques et qualités complètes et exactes de chaque Produit offert à la vente sur la Plateforme,
            le prix du Produit</li>
          <li>effectuer tous les contrôles et les vérifications nécessaires en vue de la commercialisation du Produit et fournir toutes les informations nécessaires
            dans l'offre de vente de chaque Produit afin que l'offre soit véridique et que l'Acheteur ne puisse pas être induit en erreur.
            Chaque Vendeur est seul responsable de la fourniture de l'intégralité des éléments de l'offre de vente d'un Produit,
            notamment le descriptif, le prix de vente</li>
          <li>mettre le Produit en vente dans le pays d'usage, la catégorie appropriée, le niveau appropié, le Vendeur étant seul responsable des informations pour le classement de son Produit,
            ce référencement ne pouvant en aucun cas être interprété comme une garantie de MYGOODCOURSE sur l'origine, la conformité légale ou
            l'authenticité de ce Produit</li>
        </ul>
      </li>
      <li>
        <p>Chaque Vendeur est seul responsable de tout Produit qu'il met en vente sur la Plateforme, de même que de l'observation de
          l'ensemble des lois et réglementations applicables à la réalisation, la commercialisation et la vente de ces Produits, et sera seul responsable
          (notamment vis-à-vis d'un Acheteur mais également de MYGOODCOURSE) en cas de dommage causé par ses Produits ou plus généralement de toutes
          les conséquences liées à l'offre et la vente de ses Produits. MYGOODCOURSE ne saurait en aucune manière être tenue responsable de la non-conformité et de la mise en vente
          d'un Produit par le Vendeur non-conforme aux lois et réglementations en vigueur. Le Vendeur s'engage à garantir MYGOODCOURSE en cas de plainte,
          d'action ou de réclamation d'un tiers à l'encontre de MYGOODCOURSE lié à la non-conformité d'un Produit à la réglementation en vigueur, et à indemniser
          MYGOODCOURSE de toutes les conséquences liées à la non-conformité de ses Produits aux lois et réglementations en vigueur.
          Le Vendeur s'engage en conséquence à prendre directement à sa charge le paiement de toutes sommes, y compris toutes éventuelles condamnations, frais de justice,
          honoraires d'avocat et autres montants qui seraient dus à ce titre (ou à rembourser MYGOODCOURSE à première demande).</p>
      </li>
      <li>
        <p>Le Vendeur s'engage à garder les informations de l'Acheteur confidentielles et à ne pas les divulguer. Le Vendeur s'engage également à n'utiliser les coordonnées
          et autres données communiquées par l'Acheteur que pour les stricts besoins de l'exécution de la commande concernée et des obligations légales qui s'y rattachent,
          et en conformité avec les présentes Conditions Générales. Notamment, le Vendeur s'engage à ne pas proposer à l'Acheteur des produits disponibles hors de la
          Plateforme et à ne pas utiliser les données personnelles de l'Acheteur à d'autres fins que l'exécution de la commande effectuée sur le Site.</p>
      </li>
      <li>
        <p>Le Vendeur dont le comportement (sur la Plateforme ou hors Plateforme) est susceptible de nuire à l'image et/ou à la
          réputation de MYGOODCOURSE ou de la Plateforme pourra voir son comportement sanctionné par MYGOODCOURSE, notamment en cas d'évaluations négatives répétées
          ou de litiges consécutifs avec un ou plusieurs Acheteurs.</p>
      </li>
      <li>
        <p>Chaque Vendeur garantit détenir tous les droits nécessaires pour vendre tout Produit offert à la vente par lui sur la Plateforme et garantit
          MYGOODCOURSE contre toute réclamation concernant le contenu d'une offre de vente d'un Produit et/ou l'exécution de la vente.</p>
      </li>
      <li>
        <p>En cas de litige entre Vendeurs du fait du Contenu publié par l'un d'eux (par exemple, en cas de contrefaçon ou de concurrence
          déloyale alléguée par l'un des Vendeurs), il appartient aux Vendeurs d'entrer en contact et de régler leur litige entre eux.
          MYGOODCOURSE n'est pas tenue d'intervenir et n'interviendra pas dans la résolution du litige. MYGOODCOURSE se réserve donc le droit de ne pas donner
          suite à la réclamation d'un Vendeur qui lui serait adressée dans ce cas, sans encourir une quelconque responsabilité à ce titre.
          MYGOODCOURSE a publié une foire aux questions concernant la gestion par les Vendeurs de leurs droits de propriété intellectuelle sur la Plateforme.
          Toutefois, les informations ainsi fournies par MYGOODCOURSE ne le sont qu'à titre indicatif et ce FAQ ne saurait se substituer à la
          consultation par le Vendeur d'un avocat le cas échéant.</p>
      </li>
      <li>
        <p>Le Vendeur qui souhaite être payé doit au préalable s'enregister auprès de Stripe et fournir ses coordonnées bancaires à ce partenaire de MYGOODCOURSE qui gére les paiements.
          Dans le cadre des différentes régelementations en vigueur et en particulier les lois sur le blanchiment d'argent, le Vendeur devra fournir les informations
          personnelles nécessaires au traitement des versements d'argent qui pourraient lui être demandé par Stripe dans un but de vérification.
          La non création d'un compte Stripe valide ne permettra pas les paiements.</p>
      </li>
    </ul>
  </section>
  <section id="obligation_buyer">
    <h2>
      <span class="fa-stack">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-file-text fa-stack-1x fa-inverse"></i>
      </span>
      Obligations de l'Acheteur
    </h2>
    <ul>
      <li>
        <p>L'Acheteur ne peut créer qu'un seul compte sur la Plateforme. L'ouverture d'un compte par l'Acheteur sur un Site lui permet d'accéder à l'ensemble
          des Sites de la Plateforme et d'acheter des Produits sur l'un quelconque des Sites, par le biais du même compte.</p>
      </li>
      <li>
        <p>L'Acheteur s'engage à respecter l'ensemble des lois et réglementations relatives à l'acquisition de biens de toute nature.</p>
      </li>
      <li>
        <p>Après avoir choisi son ou ses Produit(s), l'Acheteur devra vérifier le détail de sa commande, son prix, renseigner si nécessaire,
          en fonction du mode de paiement choisi, les informations permettant le paiement du Produit et corriger d'éventuelles erreurs avant de confirmer
          la commande pour exprimer son acceptation</p>
      </li>
      <li>
        <p>Dès lors que l'Acheteur a passé une commande de Produits sur la Plateforme, l'Acheteur accepte que ses nom et prénom, soient communiqués au Vendeur
          pour les besoins de la commande.</p>
      </li>
      <li>
        <p>L'Acheteur pourra évaluer le Vendeur. Toute évaluation par l'Acheteur relative à un Produit spécifique identifié dans
          l'évaluation implique également que la transaction est parfaite entre l'Acheteur et le Vendeur.</p>
      </li>
    </ul>
  </section>
  <section id="sales_process">
    <h2>
      <span class="fa-stack">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-file-text fa-stack-1x fa-inverse"></i>
      </span>
      Processus de Vente
    </h2>
    <ul>
      <li>
        <p>Pour acheter sur la Plateforme, il faut s'être préalablement inscrit en tant que Membre, ou s'inscrire en tant que Membre au moment de l'achat.</p>
      </li>
      <li>
        <p>Les paiements sont effectués uniquement par carte bancaire auprès auprès de notre partenaire Stripe qui garanti un niveau de sécurité des plus élevés
          et qui respecte les réglementations en visgueur dans les divers pays où les paiements sont acceptés.</p>
      </li>
      <li>
        <p>L'Acheteur peut ajouter à son panier des Produits de plusieurs boutiques virtuelles
          et régler l'intégralité de son panier en une seule fois directement auprès de Stripe, MYGOODCOURSE n'intervenat pas en tant qu'intermédiaire financier.
          A l'issue du paiement, le Portefeuille Electronique de chaque Vendeur sera automatiquement crédité du montant correspondant au prix
          de la commande minoré de la commission prélevée par la plateforme MYGOODCOURSE.</p>
      </li>
      <li>
        <p>La vente est conclue entre l'Acheteur et le Vendeur dès la finalisation par l'Acheteur de sa commande sur le Site, et la validation du paiement
          par notre partenaire Stripe. Le vendeur est crédité sur son compte Stripe du montant de la commande moins la commission de MYGOODCOURSE.</p>

        <p>Il appartient au vendeur de fixer la règle pour le versement du montant de son portefeuille électronique Stripe vers son compte bancaire.</p>
      </li>
      <li>
        <p>Dès que l'Acheteur a finalisé sa commande sur le Site, une confirmation de la commande sera adressée à l'Acheteur et au Vendeur.</p>
      </li>
      <li>
        <p>Les réclamations, exercices du droit de rétractation et demandes de remboursement effectués par l'Acheteur doivent être adressés au Vendeur
          et seront directement gérées entre l'Acheteur et le Vendeur.</p>
      </li>
      <li>
        <p>Une fois la commande livrée, l'Acheteur pourra évaluer la transaction par le biais du système d'évaluation disponible sur la plateforme.</p>
      </li>
      <li>
        <p>MYGOODCOURSE n'est en aucun cas responsable de la vente et ne saurait fournir une quelconque garantie à ce titre.</p>
      </li>
    </ul>
  </section>
  <section id="sales_cancel">
    <h2>
      <span class="fa-stack">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-file-text fa-stack-1x fa-inverse"></i>
      </span>
      Réclamations et Droit de rétractation
    </h2>
    <ul>
      <li>
        <p>Les réclamations, exercices du droit de rétractation, annulations et demandes de remboursement effectués par l'Acheteur doivent être adressés au Vendeur
        et seront directement gérés entre l'Acheteur et le Vendeur depuis leurs comptes respectifs sans aucune intervention de MYGOODCOURSE
        sauf stipulation contraire du présent article. Il appartient à l'Acheteur et au Vendeur de se mettre d'accord.
        L'Acheteur et le Vendeur pourront chacun suivre la procédure sur leur compte respectif et disposeront d'un système d'alertes dans leur suivi de commandes.</p>
      </li>
      <li>
        <p>L'Acheteur et le Vendeur agiront avec toutes les diligences nécessaires à la bonne résolution des réclamations, exercices du droit de rétractation,
        annulations et demandes de remboursement. La décision finale de rembourser l'Acheteur appartient au Vendeur.
        Toutefois, si le Vendeur refuse de faire droit à une réclamation, une demande de rétractation, d'annulation ou de retour formulée par l'Acheteur
        ou ne traite pas cette réclamation ou demande dans un délai de 48 heures à compter de celle-ci, MYGOODCOURSE se réserve la possibilité d'étudier
        la réclamation ou demande de l'Acheteur et, en cas de refus ou de non-traitement abusif de la part du Vendeur, de rembourser l'Acheteur du montant
        de la commande concernée. Ce montant sera refacturé au Vendeur et encaissé dans les conditions prévues.</p>
      </li>
      <li>
        <p>En cas de réclamation et jusqu'à résolution du litige, MYGOODCOURSE se réserve le droit de bloquer temporairement le Porte-Monnaie Virtuel du Vendeur.
        En cas de réclamations répétées visant un même Vendeur ou d'un taux d'annulation élevé de la part d'un même Acheteur, MYGOODCOURSE se réserve également
        le droit de bloquer temporairement le Porte-Monnaie Virtuel du Membre concerné, de suspendre temporairement ou définitivement et/ou de clôturer le compte du Membre concerné.</p>
      </li>
      <li>
        <p>L'Acheteur qui a payé un Produit par carte bancaire via le système de paiement sécurisé de la Plateforme pourra se faire rembourser sur son Porte-Monnaie Virtuel.
        En cas de remboursement sur son Porte-Monnaie Virtuel, l'Acheteur pourra utiliser son Porte-Monnaie Virtuel pour effectuer d'autres achats sur la Plateforme
        ou à tout moment solliciter que le montant ainsi crédité sur son Porte-Monnaie Virtuel soit versé sur son compte bancaire.
        Il devra dans ce cas effectuer une demande de virement et communiquer à Stripe les détails de son RIB.</p>
      </li>
    </ul>

</section>
  <section id="financials">
    <h2>
      <span class="fa-stack">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-file-text fa-stack-1x fa-inverse"></i>
      </span>
      Dispositions financières
    </h2>

        MYGOODCOURSE se rémunère sur la mise en relation entre l'Acheteur et le Vendeur et perçoit une commission selon les principes décrits au présent article.

    <h3><span class="fa fa-file-text"></span> Commission sur les ventes</h3>

    <ul>
      <li>
        MYGOODCOURSE se rémunère sur la mise en relation entre l'Acheteur et le Vendeur et perçoit une commission selon les principes décrits au présent article.
        En rémunération du service de mise en relation fourni par MYGOODCOURSE, le Vendeur accepte de rémunérer MYGOODCOURSE, du fait de la finalisation par l'Acheteur
        de la commande sur la Plateforme, une commission calculée par produit et par vendeur de la manière suivante:
        <ul>
          <li>Des frais fixes de <%= nice_price(TRANSACTION_COST/100) %> </li>
          <li>Une commission de <%= COMMISSION_RATE %> % du prix de vente</li>
        </ul>
      </li>
      <li>
        La commission est acquise et due dès que l'Acheteur a passé commande sur la Plateforme, quel que soit le mode de paiement utilisé.
        <p>Pour chaque transaction, MYGOODCOURSE déduira automatiquement les frais de service à partir du prix de vente collectées auprès des acheteurs au travers de la plateforme.</p>
        <p>MYGOODCOURSE n'agissant pas en tant qu'intermédiaire financier, sitôt le paiement réalisé et validé par la banque, le Vendeur percevra le fruit de sa vente (diminué des frais de commission).</p>
        <p>Les paiements au Vendeur seront effectués par Stripe. il appartient au vendeur de renseigner ses informations auprès de Stripe et de les mettre à jour autant que nécessaire.</p>

      </li>
      <li>
        En cas de remboursement à l'Acheteur conformément aux présentes Conditions Générales, la commission due à MYGOODCOURSE pourra être remboursée au Vendeur par
        MYGOODCOURSE. Dans ce cas, le remboursement aura lieu au pro rata du montant remboursé à l'Acheteur et le Vendeur s'engage à verser à MYGOODCOURSE le cas échéant
        le solde de la commission due. Il est toutefois précisé que MYGOODCOURSE ne remboursera pas la commission au Vendeur dans l'hypothèse où
        <ol>
          <li>
            le Vendeur refuse de faire droit à une réclamation de l'Acheteur ou ne traite pas cette réclamation dans un délai de 48 heures et MYGOODCOURSE rembourse l'Acheteur et
          </li>
          <li>
            plus généralement, le Vendeur ne respecte pas ses obligations conformément aux présentes CGU.
          </li>
        </ol>
      </li>
    </ul>

    <h3><span class="fa fa-file-text"></span> Illustration des commissions sur les ventes</h3>
    Le tableau suivant donne une illustration des différents niveaux de commission et de versement aux Vendeurs:
      <table class="table">
        <tr>
          <th>Prix du produit</th>
          <th>Commission de la Plateforme</th>
          <th>(part des taxes)</th>
          <th>Reversement au Vendeur</th>
          <th>Pourcentage du Vendeur</th>
        </tr>
        <% Product::PRICE_LIST.each do |pp| price=BigDecimal.new(pp) %>
            <% oi = OrderItem.new
               oi.initPrice(price) %>
            <tr>
              <td><%=nice_price(price)%></td>
              <td><%= nice_price(oi.application_fee) %></td>
              <td>(incl. <%= nice_price(oi.tax_amount) %>)</td>
              <td><%= nice_price(oi.unit_cost_price) %></td>
              <td><%= oi.share_seller.round(0) %> %</td>
            </tr>
        <% end %>
      </table>

    <h3><span class="fa fa-file-text"></span> Ajustement des commissions</h3>
    <ul>
      <li>
        <p>
        Dans le cadre de la mise en place par MYGOODCOURSE d'opérations spécifiques (telles que programmes d'affiliation et/ou partenariats avec des entreprises et/ou
          sites Internet tiers), le montant des commissions prévu aux présentes Conditions Générales pourra être modifié.
          Dans ce cas, MYGOODCOURSE informera à l'avance chaque Membre de la commission appliquée pour de telles opérations.</p>
      </li>
      <li>
        <p>MYGOODCOURSE se réserve le droit, sans indemnité, de modifier sa politique relative à la mise en vente de Produits sur la Plateforme et/ou
        à la commission perçue par MYGOODCOURSE et en informera les Membres. En cas de réduction de ces frais, commissions et tarifs, ces modifications seront effectives
        dès leur mise en ligne sur le Site. Si la modification est temporaire (par exemple, les jours de promotion exceptionnelle), la durée de cette modification
        sera également communiquée aux Membres et affichée sur le Site.
        En cas d'augmentation de ces frais, commissions et tarifs, MYGOODCOURSE en informera les Membres qui seront tenus d'accepter ces nouvelles modifications.
        Ces modifications seront effectives à la fin du mois suivant le mois au cours duquel ces modifications auront été notifiées aux Vendeurs, sauf si les modifications
        ont fait l'objet de tests auprès des Membres, auquel cas les modifications seront effectives immédiatement à l'issue de la période de tests.
        Si le Membre n'accepte pas les nouvelles conditions financières applicables, il est libre de résilier les présentes Conditions Générales conformément aux
        présentes Conditions Générales, ce qui entraînera la résiliation et la fermeture de son compte.</p>

      </li>
    </ul>

  </section>
  <section id="intellectual_prop">
    <h2>
      <span class="fa-stack">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-file-text fa-stack-1x fa-inverse"></i>
      </span>
      Propriété de la Plateforme
    </h2>
    <ul>
      <li>
        <p>La Plateforme, les Sites, leurs contenus, catalogues, textes, illustrations, photographies et images respectifs, et tous autres éléments visuels et sonores,
        y compris la technologie sous-jacente utilisée, sont la propriété exclusive de MYGOODCOURSE et/ou de tiers contractuellement liés à MYGOODCOURSE,
        titulaires des droits de propriété intellectuelle afférents à la Plateforme. Nonobstant ce qui précède, les Contenus fournis par chaque Membre sont et restent
        la propriété de chaque Membre, sous réserve de la licence concédée par le Membre à MYGOODCOURSE et aux Utilisateurs
        conformément aux présentes Conditions Générales.</p>
      </li>
      <li>
        <p>Il est interdit de reproduire, représenter et/ou exploiter de quelque autre manière que ce soit tout ou partie de la Plateforme, d'un Site, de leurs contenus,
        catalogues, textes, illustrations, photographies et images et de tous autres éléments visuels et sonores, y compris la technologie sous-jacente utilisée,
        sans l'autorisation préalable de MYGOODCOURSE. Par exception à ce qui précède, l'Utilisateur de la Plateforme est autorisé à reproduire
        (y compris en téléchargeant ou en imprimant tout ou partie de la Plateforme) et représenter tout ou partie de la Plateforme, à des fins strictement personnelles
        et privées et à l'exclusion de toute finalité commerciale ou lucrative.</p>
      </li>
      <li>
        <p>Toute personne qui édite un site web et souhaite créer un lien hypertexte direct vers l'un quelconque des Sites doit demander l'autorisation
        de MYGOODCOURSE par écrit. L'autorisation de MYGOODCOURSE ne sera en aucun cas accordée de manière définitive. Ce lien devra être supprimé à la demande de MYGOODCOURSE.</p>
      </li>
      <li>
        <p>Les liens hypertextes vers le Site qui utilisent des techniques tels que le cadrage (framing) ou l'insertion par liens hypertextes (in-line linking) sont strictement interdits.</p>
      </li>
    </ul>
</section>
  <section id="law_respect">
    <h2>
      <span class="fa-stack">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-file-text fa-stack-1x fa-inverse"></i>
      </span>
      Conformité à la loi
    </h2>
    <ul>
      <li>
        <p>Chaque Membre s'engage à respecter les lois, réglementations et normes de toutes sortes en vigueur relatives à l'utilisation des services proposés via la Plateforme,
        à la mise en vente, à l'achat, à la sollicitation d'offres d'achat et/ou à la vente d'objets.</p>
      </li>
      <li>
        <p>En outre, chaque Membre reconnaît expressément que l'utilisation de la Plateforme et des services fournis par MYGOODCOURSE par le biais de la Plateforme
        peut entraîner une qualification de « commerçant » au sens de l'article L121-1 du Code de commerce et que des obligations supplémentaires peuvent s'appliquer au
        Membre en sa qualité de professionnel.</p>
      </li>
      <li>
        <p>Dans le cas de fraude caractérisée (copie frauduleuse, recel, importation illégale, etc.) ou sur demande, MYGOODCOURSE communiquera toutes les informations nécessaires,
        y compris nominatives, aux services compétents chargés de la répression desdites fraudes et infractions.</p>
      </li>
    </ul>
</section>
  <section id="duration">
    <h2>
      <span class="fa-stack">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-file-text fa-stack-1x fa-inverse"></i>
      </span>
      Durée et résiliation des conditions générales
    </h2>
    <ul>
      <li>
        Les présentes Conditions Générales sont conclues pour une durée indéterminée et sont résiliables à tout moment par le Membre ou par MYGOODCOURSE,
        sans motif particulier, par e-mail ou par le biais de la Plateforme. Toute résiliation prendra effet à la fin du mois suivant celui au cours duquel
        la notification a été adressée.
      </li>
      <li>
        Sans exclure d'autres voies de recours, MYGOODCOURSE se réserve le droit de donner un avertissement, de suspendre temporairement ou définitivement
        l'inscription et le compte d'un Membre, d'y mettre fin, de clôturer son compte, de cesser de fournir ses services audit Membre et/ou de résilier
        les présentes Conditions générales, de plein droit, avec effet immédiat, dans les cas suivants :
        <ul>
          <li>
            en cas de violation de tout ou partie des présentes Conditions Générales ou des documents qui y sont incorporés par référence (y compris dans les cas visés ci-après) ;
          </li>
          <li>
            si MYGOODCOURSE est dans l'incapacité de vérifier ou d'authentifier les informations fournies par le Membre, et que le Membre ne donne pas suite
            à ses demandes de vérification et/ou d'authentification ;
          </li>
          <li>
            si les agissements du Membre sont susceptibles d'engager la responsabilité de MYGOODCOURSE, celle du Membre ou de tout autre Membre ;
          </li>
          <li>
            en cas de comportement du Membre contraire aux engagements de qualité de service de la Plateforme, potentiellement nuisible, préjudiciable,
            et/ou déloyal à l'égard de la Plateforme, de MYGOODCOURSE ou de tout Membre ;
          </li>
          <li>
            pour tout autre juste motif à la discrétion de MYGOODCOURSE.
          </li>
        </ul>
      </li>
      <li>
        <p>
          En cas de résiliation entraînant automatiquement la clôture du compte, le compte du Membre sera désactivé et la boutique virtuelle du Vendeur
          deviendra inaccessible et disparaîtra du moteur de recherche de la Plateforme à la date effective de la résiliation. Le Membre devra solliciter
          le versement sur son compte du solde éventuellement présent sur son Porte-Monnaie Virtuel avant la date effective de résiliation. Les présentes Conditions
          Générales seront automatiquement résiliées de plein droit à la date de clôture du compte.
        </p>
      </li>
    </ul>

</section>
  <section id="responsability">
    <h2>
      <span class="fa-stack">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-file-text fa-stack-1x fa-inverse"></i>
      </span>
      Responsabilité
    </h2>
    <ul>
      <li>
        <p>MYGOODCOURSE n'est tenue qu'à une obligation de moyens.</p>
      </li>
      <li>
        <p>MYGOODCOURSE ne sera responsable que des dommages directs exclusivement imputables à une faute contractuelle commise par MYGOODCOURSE.
        Sauf faute de sa part, MYGOODCOURSE ne pourra être tenue responsable d'un dommage éventuellement subi par un Membre ou un Utilisateur
        au titre de l'utilisation de tout ou partie de la Plateforme ou d'un Site ou de l'impossibilité d'utiliser tout ou partie de la Plateforme ou d'un Site.
        MYGOODCOURSE ne pourra être davantage tenue responsable d'un éventuel dysfonctionnement, panne, retard ou interruption de l'accès au réseau Internet.</p>
      </li>
      <li>
        <p>En sa qualité d'hébergeur des Contenus mis en ligne par les Membres, MYGOODCOURSE ne pourra être tenue responsable au titre des Contenus publiés sur la Plateforme
        ou l'un quelconque des Sites par les Membres.</p>
      </li>
      <li>
        <p>Chaque Membre est invité à avertir MYGOODCOURSE en cas de violation des présentes Conditions Générales notamment dans l'hypothèse où il constaterait
        l'offre de vente de Produits Interdits.</p>
      </li>
      <li>
        <p>MYGOODCOURSE ne saurait être tenue responsable au titre des litiges intervenant entre Membres.</p>
      </li>
    </ul>
    <h4>PREUVES</h4>
    <ul>
      <li>
        <p>Les parties reconnaissent que la production par MYGOODCOURSE des enregistrements sur les serveurs de MYGOODCOURSE relatifs à l'utilisation de la Plateforme,
        et notamment des codes d'accès nominatifs des Membres et des logs de connexion, feront foi entre les parties.</p>
      </li>
    </ul>
  </section>
  <section id="general">
    <h2>
      <span class="fa-stack">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-file-text fa-stack-1x fa-inverse"></i>
      </span>
      Stipulations générales
    </h2>
    <ul>
      <li>
        <p>MYGOODCOURSE se réserve à tout moment et à sa seule discrétion la faculté de suspendre ou d'interrompre l'accès à la Plateforme ou à l'un quelconque
        des Sites et/ou l'exploitation de la Plateforme ou de l'un quelconque des Sites, en tout ou partie, notamment pour des interventions de maintenance,
        des nécessités opérationnelles, des choix internes ou en cas d'urgence.
        MYGOODCOURSE se réserve également la faculté à tout moment et à sa seule discrétion d'enlever ou de modifier tout contenu, notamment pour des raisons techniques,
        commerciales ou pratiques. Il est entendu que de telles interventions ne pourront en aucun cas engager la responsabilité de MYGOODCOURSE, ni donner lieu à
        des indemnités ou à des dommages et intérêts au profit d'un Membre ou d'un Utilisateur de la Plateforme.</p>
      </li>
      <li>
        <p>Toute notification adressée à MYGOODCOURSE mais destinée à un Membre sera envoyée en principe par e-mail à l'adresse que ce Membre a communiquée à MYGOODCOURSE
        lors de son inscription. Les notifications sont réputées être parvenues à un Membre 24 heures après l'envoi d'un e-mail, sauf si l'expéditeur se voit notifier
        l'invalidité de l'adresse e-mail.</p>
      </li>
      <li>
        <p>Les notifications peuvent également parvenir au Membre, par lettre recommandée avec avis de réception, à l'adresse postale communiquée lors de l'inscription.
        Le délai de 24 heures mentionné plus haut est alors porté à 3 jours après l'envoi du courrier.</p>
      </li>
      <li>
        <p>Les présentes Conditions Générales, accompagnées des documents cités dans les Conditions Générales qui sont incorporés par référence, constituent
        l'intégralité de l'accord conclu entre les parties. MYGOODCOURSE se réserve le droit de modifier les Conditions Générales et en informera chaque Membre par e-mail.</p>
      </li>
      <li>
        <p>Sous réserve des stipulations concernant la modification de la politique relative aux frais de mise en relation et concernant les modalités de facturation,
        les modifications apportées aux Conditions Générales seront effectives 15 jours après avoir été mises en ligne.
        Pendant cette période de 15 jours, chaque Membre peut notifier à MYGOODCOURSE son refus de ces changements, auquel cas les présentes Conditions Générales
        et donc son droit d'utiliser les services de MYGOODCOURSE prendront fin au terme de la période de 15 jours dans les conditions prévues.</p>
      </li>
      <li>
        <p>Dans l'hypothèse où une ou plusieurs modalités figurant dans les Conditions Générales seraient considérées comme illégales, inopposables ou inapplicables
        par une décision de justice, les autres stipulations des Conditions Générales resteront en vigueur, à la condition que l'économie générale des
        Conditions Générales n'en soit pas bouleversée.</p>
      </li>
      <li>
        <p>Chaque Membre accepte que les droits et obligations issus des présentes Conditions Générales ainsi que tous les documents qui y sont incorporés par référence
        pourront librement et de plein droit être cédés par MYGOODCOURSE à un tiers en cas de cession d'actifs, de fusion ou d'acquisition.</p>
      </li>
      <li>
        <p>La tolérance de MYGOODCOURSE à un manquement aux présentes Conditions Générales par un Membre ou un tiers n'altérera aucunement ses droits et actions à l'encontre
        de tout autre manquement similaire et/ou ultérieur.</p>
      </li>
      <li>
        <p>Propriété intellectuelle : En tant qu'hébergeur, nous avons adopté une politique de propriété intellectuelle conformément à la loi n° 2004-575 du 21 juin 2004
        sur la confiance dans l'économie numérique (la « LCEN »).</p>
      </li>
    </ul>
  </section>
  <section id="juridiction">
    <h2>
      <span class="fa-stack">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-file-text fa-stack-1x fa-inverse"></i>
      </span>
      Loi applicable et juridiction compétente
    </h2>
    <ul>
      <li>
        <p>Les présentes Conditions Générales sont régies et interprétées conformément au droit français.</p>
      </li>
      <li>
        <p>Les tribunaux français auront compétence pour se prononcer sur tous les litiges susceptibles de naître entre les parties relatifs à l'exécution des présentes.
        PAR EXCEPTION À CE QUI PRÉCÈDE, TOUT LITIGE AVEC UN MEMBRE AGISSANT À TITRE PROFESSIONNEL EST DE LA COMPÉTENCE EXCLUSIVE DU TRIBUNAL DE COMMERCE DE PARIS.</p>
      </li>
      <li>
        <p>Les litiges intervenant entre Membres doivent être réglés entre les Membres et MYGOODCOURSE n'est pas requise d'intervenir ou de régler ledit litige.</p>
      </li>
    </ul>

  </section>
</div>

</div><!--end of .row-->
</div><!--end of .container-->

<script language="JavaScript">
    $('body').scrollspy({ target: '#navScrollspy' });
    $('#affix_nav').affix({
        offset: {
            top: 0,
            bottom: function () {
                return (this.bottom = $('.footer').outerHeight(true))
            }
        }
    })
</script>

