
<% provide(:title, t('activerecord.attributes.customer.terms_of_service')) %>


<div class="container">
  <div class="row">

    <div class="col-md-3" id="navScrollspy" role="navigation">
      <ul  class="t-and-c-sidebar nav nav-pills nav-stacked hidden-xs hidden-sm affix" id="affix_nav2">
        <li><a href="#forewords" data-turbolinks="false">Preamble - Definitions</a></li>
        <li><a href="#obligation_platform" data-turbolinks="false">Bonds MyGoodCourse</a></li>
        <li><a href="#obligation_member" data-turbolinks="false">Member Obligations</a></li>
        <li><a href="#obligation_seller" data-turbolinks="false">Seller's obligations</a> </li>
        <li><a href="#obligation_buyer" data-turbolinks="false">Buyer's Obligations</a> </li>
        <li><a href="#sales_process" data-turbolinks="false">Selling process</a></li>
        <li><a href="#sales_cancel" data-turbolinks="false">Claims and Returns Policy</a></li>
        <li><a href="#financials" data-turbolinks="false">Financial provisions</a></li>
        <li><a href="#intellectual_prop" data-turbolinks="false">Property</a></li>
        <li><a href="#law_respect" data-turbolinks="false">Compliance with Law</a></li>
        <li><a href="#duration" data-turbolinks="false">Duration and Termination of the GC</a></li>
        <li><a href="#responsability" data-turbolinks="false">Responsibility</a></li>
        <li><a href="#general" data-turbolinks="false">General provisions</a></li>
      </ul>
    </div>

    <div role="main" class="col-md-9" >
      <!-- Image Header -->
      <h1><%= t('activerecord.attributes.customer.terms_of_service') %></h1>
      <!-- /.row -->
      <section id="forewords">
        <h2>
      <span class="fa-stack">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-file-text fa-stack-1x fa-inverse"></i>
      </span>
          Preamble
        </h2>
        <p>Welcome to the Platform MYGOODCOURSE (hereinafter "MYGOODCOURSE").</p>

        <p>The Platform is MYGOODCOURSE portal providing access to all websites operated by MYGOODCOURSE, in particular, the site www.mygoodcourse.com (hereinafter referred to as the "Site" or "Sites").</p>

        <p>The sites allow linking sellers (hereinafter "Sellers") with buyers pre-registered on the Site (hereinafter the "Buyer"). The www.mygoodcourse.com Site is the marketplace for the creation of digital educational resources.</p>

        <p>The sites also allows the linking of Sellers with any User of the Platform, including non Buyer, which will first be registered with the Site as a Member, and also offer tools for communication between Members.</p>

        <p>Sellers, Buyers and Platform Users, Sellers or Buyers not previously registered on the site, are hereinafter jointly referred to as "Members". All products offered for sale on the Platform by the Sellers are hereinafter the "Products".</p>

        <p>These general conditions of use (hereinafter "Terms") govern the access and use the entire platform and describe the conditions under which MYGOODCOURSE offers access to its services through the platform. The General Conditions apply to any User of the Site, whether registered as a member or not.</p>

        <p>The documents entitled and authorized products banned from sale and Ethics and privacy are intended to supplement the General Conditions and / or clarify the terms, and are incorporated by reference to these Terms and Conditions. You will have the opportunity to read these documents contract value before using the platform and we strongly advise you to do so because they are intended to include clarifying the rules for using our service.</p>
      </section>
      <section id="definitions">
        <h2>
      <span class="fa-stack">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-file-text fa-stack-1x fa-inverse"></i>
      </span>
          Definitions
        </h2>
        <dl>
          <dt>« Buyer »</dt>
          <dd>means a Member who indicated his acceptance of the offer of a Seller on the Site.</dd>
        </dl>
        <dl>
          <dt>« Content(s) »</dt>
          <dd>means any content provided by a Member on the Site, including, but not limited to, any product, any data, information,
            text, any object listed, description, comments, any assessment of a Seller or Product , every name, nickname, sign, photograph,
            image, sound, video, logo and other materials provided by the member on the platform, including when registering, in an advertisement,
            an email, a forum or on the shop of a Seller.</dd>
        </dl>
        <dl>
          <dt>« Member »</dt>
          <dd>means any person who registers on the Site.</dd>
        </dl>
        <dl>
          <dt>« Plateform »</dt>
          <dd>means the functional and organizational structure set up by MYGOODCOURSE enabling matchmaking Sellers and Buyers products,
            accessible through any of the Sites. The platform includes all sites and therefore denotes either all or all or part of the Sites.</dd>
        </dl>
        <dl>
          <dt>« Virtual Wallet »</dt>
          <dd>means :
            <ul>
              <li>
                to the Seller, reservation of money available in the account of the Seller who performed at least one sale on any of the Sites through
                the secure Credit Card payment system used by MYGOODCOURSE Stripe, and was credited the fruit sale;
              </li>
              <li>
                for Buyer, reservation of money available in the account of the Buyer who made at least one purchase on any of the Sites through the
                secure payment system used by MYGOODCOURSE Stripe CB and has seen repay all or part of its purchases by Seller pursuant to a request
                for reimbursement. The Virtual Wallet can be used by the Purchaser to purchase Products on the entire platform.
                Each member has a Virtual Wallet at the time of opening his account for all sites, allowing it to pay for purchases and get paid
                under the conditions described in these Conditions.
              </li>
            </ul>
          </dd>
        </dl>
        <dl>
          <dt>« Product »</dt>
          <dd>means a product sold on the platform by a Seller. The product must conform to these Terms and in particular does not constitute a
            prohibited product..</dd>
        </dl>
        <dl>
          <dt>« Prohibited product »</dt>
          <dd>designates a product banned from sale on the Platform.</dd>
        </dl>
        <dl>
          <dt>« Sites »</dt>
          <dd>means the website at www.mygoodcourse.com (or (es) other (s) address (es) that could (are) they be substituted (s)) and "Sites"
            refer to all sites supra. The sites are part of the Platform.</dd>
        </dl>
        <dl>
          <dt>« User »</dt>
          <dd>means any person who uses the platform, whether members or not.</dd>
        </dl>
        <dl>
          <dt>« Seller »</dt>
          <dd>means a Member opening a virtual store on one or more sites of the Platform and offers products for sale through the Platform.</dd>
        </dl>

      </section>
      <section id="obligation_platform">
        <h2>
      <span class="fa-stack">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-file-text fa-stack-1x fa-inverse"></i>
      </span>
          Bonds MyGoodCourse
        </h2>
        <ul>
          <li>
            <p>The Platform is an online retail space on which products which comply with these Terms and Conditions
              (and in particular the policy of MYGOODCOURSE for authorized products and prohibited for sale) may be offered for sale,
              sold and acquired by Members, as their offer, sale or acquisition is not contrary to the legal provisions in force and to these Terms.</p>
          </li>
          <li>
            <p>To this end, MYGOODCOURSE</p>
            <ol>
              <li>
                offers to Sellers the opportunity to present and sell their products and their world through a virtual shop and personal to each Seller
                makes available Sellers of tools to showcase and promote their products and
              </li>
              <li>
                makes available to Sellers a set of tools to showcase and promote their products and.
              </li>
              <li>
                offers to Members community tools to interact with other members and share information about their teaching practices.
              </li>
            </ol>
          </li>
          <li>
            <p>The role is limited to MYGOODCOURSE intermediation between Buyers and Sellers, except as expressly provided herein. MYGOODCOURSE not involved
              in any way in the transactions between Buyers and Sellers who decide alone, at their own discretion, to the conclusion of sales contracts
              through the Platform. MYGOODCOURSE is neither dealer or owner of the Products offered for sale on the Platform, never took possession of the
              products on sale, does not store products and is not more depositary in any way whatsoever. In addition, except for the limited role of
              intermediation described in these Terms and Conditions, MYGOODCOURSE not involved in any way in the production line, marketing and / or
              production of products. MYGOODCOURSE therefore has no control over the products and can in particular ensure that the Seller the Product
              will meet the Buyer. Similarly, MYGOODCOURSE can not guarantee the Seller that the sale in case of non conformity of the Products,
              unless otherwise specified in these Terms and Conditions.</p>
          </li>
          <li>
            <p>MYGOODCOURSE one hand and the other members are independent parties, each acting on its behalf and for its own account. Unless otherwise provided
              in these Terms, these Terms and Conditions do not create any subordination, mandate, joint venture, joint venture relations employer / employee
              or franchisor / franchisee relationship between MYGOODCOURSE and each Member.</p>
          </li>
          <li>
            <p>Unless otherwise provided by mandatory, each Member emerges MYGOODCOURSE (and all Group companies, officers, directors, agents and employees)
              from any liability for any claim, dispute and / or dispute between Members, and / or any current injury or future, suspected or not found or
              not arising directly or indirectly from the complaint, the dispute and / or the dispute.</p>
          </li>
          <li>
            <p>Without limiting the foregoing, MYGOODCOURSE reserves the right to participate in the promotion of online products placed on the Platform and
              sold by the Sellers, in particular through the establishment of partnerships with other websites and / or by publications in the media
              and / or by sending advertising emails in compliance with applicable legal provisions. Such participation can not take his as a mere
              intermediary in the exchanges between Sellers and Buyers insofar MYGOODCOURSE only promote the Platform and the products that are offered
              as a whole (and not this or that products determined or selected by MYGOODCOURSE) but is not involved in the relationship between
              Buyer and Seller regarding one or more particular products.</p>
          </li>
          <li>
            <p>MYGOODCOURSE does not control the information provided by Members and published on the Platform. The information of other Members may be
              offensive, harmful, inaccurate or misleading. The identity and status of a Member may be different from those presented on the Site.
              MYGOODCOURSE therefore recommends that each User to use caution and common sense when using the Platform.</p>
          </li>
        </ul>
      </section>
      <section id="obligation_member">
        <h2>
      <span class="fa-stack">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-file-text fa-stack-1x fa-inverse"></i>
      </span>
          Member Obligations
        </h2>
        <ul>
          <li>
            <p>To access the platform, the Member must first register and open an account on any of the Sites. Registration is allowed only to individuals over 16 years having the capacity to perform legal acts, provided for minors to have the prior approval of their legal representative.</p>
          </li>
          <li>
            <p>Anyone who registers as a member on any of the Sites is committed to provide accurate, complete and updated, and all other data (including personal) that would be required to complete and maintain the registration on the platform, including a valid email address and any additional information needed to become a Seller or Buyer. Each member also agrees to update his account and without delay to make any modifications for its information. Each Member shall be solely responsible for any consequences arising from the provision of false information, invalid or erroneous to MYGOODCOURSE and / or another Member.</p>
          </li>
          <li>
            <p>To register, the Member must provide a user name (first and last name) in addition to an email address (email) and password. The Member agrees not to register with a user name infringing a third party. In particular, the Member will not use a user name infringing copyrights, trademarks, trade names or signs of another person or of another Member, or a visually or phonetically similar username user name or nickname of another Member. Moreover, the Member is prohibited to register as a user name or part of a URL, address or other domain name points to an external site. MYGOODCOURSE reserves the right, in particular in cases of dispute between members, to ask the Member who has not complied with this section to change the user name within which will be supplied by MYGOODCOURSE. Failing to comply with this request, MYGOODCOURSE may terminate these Terms and Conditions.
            </p>
          </li>
          <li>
            <p>Registration on a member site allows him to create a single account through which it can access all of the platform and thus to all other sites available through the Platform, with the same name user and password, each site with direct access to other sites.</p>
          </li>
          <li>
            <p>The username (email) and Member of the password are strictly personal and the member undertakes to maintain confidentiality. The registered member is only allowed to use the Platform using the username and password and agrees not to allow any other person access under his identity or his user name. Using the username member, associated password, assume that access and use of the platform by that Member. Assuming he has knowledge of a third party access to their account, the Member undertakes to inform MYGOODCOURSE immediately.
            </p>
          </li>
          <li>
            <p>Each member undertakes to create and use a single account, unless specifically provided for the Sellers. Any exception to this rule will be subject to an explicit request from the Member and an express authorization and specific MYGOODCOURSE. The fact of creating or using new accounts under his own identity or that of others without having requested and obtained permission to MYGOODCOURSE may result in immediate suspension and / or termination of member accounts and all associated services.</p>
          </li>
          <li>
            <p>Each Member undertakes to use the Site and to provide content on the Site in accordance with these Conditions and the laws and / or regulations in force.</p>
          </li>
          <li>
            <p>CEach Member is solely responsible for its contents, MYGOODCOURSE playing only the role of technical intermediary liability for its on-line and do not control the content before going live. The Member will not provide content or more generally to perform any act or thing, on all or part of the Platform:</p>

            <ul>
              <li>infringing copyrights, patents, trademarks, designs, trade secrets, the right of disclosure and / or third parties' privacy</li>
              <li>defamatory, abusive, derogatory and / or libelous</li>
              <li>discriminatory and / or inciting violence or racial hatred, religious or ethnic</li>
              <li>obscene and / or pedophile</li>
              <li>might be described as misappropriation, fraud, breach of trust or fall foul of any other criminal offense</li>
              <li>to obtain or attempt to obtain the transfer of money without consideration in the delivery of a product complies with these Terms of equivalent value to the sums claimed</li>
              <li>likely to damage any computer system or surreptitiously intercept any data or personal information</li>
              <li>engaging or likely to engage the responsibility of MYGOODCOURSE or as a consequence the loss of the benefit of some or all of MYGOODCOURSE services providers and in particular Internet service providers, payment service providers and / or storage providers</li>
              <li>likely to harm the image and / or reputation or MYGOODCOURSE of the Platform and / or constitute acts of unfair or abusive competition with regard to MYGOODCOURSE, to other Members and / or third parties</li>
              <li>to divert or attempt to divert any or all Buyers of any of the Sites or incite or all of the buyers not to buy or not on any of the Sites or on any of virtual stores present on a Website or platform</li>
              <li>potentially unfair, harmful, anti-commercial or harmful towards MYGOODCOURSE, the Platform of any Member and / or any third party</li>
              <li>inaccurate or misleading</li>
              <li>which violates or may violate any applicable laws or regulations and / or any contractual clause binding the Member.</li>
            </ul>
          </li>
          <li>
            <p>In addition, the Member is prohibited</p>
            <ul>
              <li>to include in its search key words terms infringing third party rights, including copyright, trademarks, trade names or signs of a third party or a Member, or taking in all or part the name of another member,</li>
              <li>to include in any Content or any portion of a URL, address or other domain name points to an external site to the platform, and / or</li>
              <li>bypass, divert and / or prevent (or attempt to, divert and / or hinder) unfairly to a service subject to compensation on the Platform.</li>
            </ul>
          </li>
          <li>
            <p>By providing any Content through the Site, the Member grants MYGOODCOURSE (but without obligation to MYGOODCOURSE) a non-exclusive, non-transferable, may sub-license, and free for the whole world, and for the duration registration member, to use, reproduce, publish, make available, transmit, modify, adapt, display, on the Website and on all other media (including any physical or digital, in any press or press kit or financial presentation support, promotional material and / or advertising, website), by any means, all or part of the Content without limitation in the number of copies, for internal purposes, storage, advertising , promotion, marketing, communication, public relations and for the purposes of the establishment of partnerships with sponsors or partners MYGOODCOURSE. Member acknowledges that any use of the Content by MYGOODCOURSE done prior to its deregistration, removal or closure of the account or termination of these Terms shall not be questioned by the Member.</p>
          </li>
          <li>
            <p>By providing any Content through the Site, the Member also grants directly to any User a non-exclusive, personal, non-transferable, not subject to sublicense, for the whole world, and for the duration of the inclusion of member, reproduce and represent the Content for non-commercial private use.</p>
          </li>
          <li>
            <p>Member acknowledges that its contents can be viewed on the Site by any user who can access their profile and monitor its activity. deactivation of options are available on the Member's account.</p>
          </li>
          <li>
            <p>Each member agrees to indemnify MYGOODCOURSE in case of third party action against MYGOODCOURSE since this action would cause, basis or origin any Content provided by him on the platform. Each Member undertakes to bear all the consequences, including financial, that may result from such an action and to indemnify MYGOODCOURSE first request. MYGOODCOURSE reserves the right, without compensation or notice, or notice, to edit or remove any Content that violates any provision of the Terms, and to suspend, terminate or delete the Member's account.</p>
          </li>
          <li>
            <p>In the event that a Member find the offer of sale of Prohibited Substances on the Site, it undertakes to inform immediately by e-mail MYGOODCOURSE.</p>
          </li>
          <li>
            <p>Assuming MYGOODCOURSE has knowledge of any act or thing outside of a member of the Platform
            <ul>
              <li>
                to divert or attempt to divert any or all Buyers of any of the Sites or incite or all of the buyers not to buy or not on any of the Sites or on any of virtual stores present on a Website or platform
              </li>
              <li>
                potentially unfair, harmful, anti-commercial, disparaging, defamatory, abusive or detrimental towards MYGOODCOURSE, the Platform of any Member and / or any third party or
              </li>
              <li>
                violating in any respect MYGOODCOURSE of otherwise applicable laws and regulations,
              </li>
            </ul>
            <p>MYGOODCOURSE reserves the right to terminate these Terms and Conditions.
            </p>
          </li>
          <li>
            <p>The Member has an obligation to act in good faith and with respect in its relations with MYGOODCOURSE and other Members.</p>
          </li>
        </ul>
      </section>
      <section id="obligation_seller">
        <h2>
      <span class="fa-stack">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-file-text fa-stack-1x fa-inverse"></i>
      </span>
          Seller's obligations
        </h2>
        <ul>
          <li>
            <p>The objective of MYGOODCOURSE is clear: help the Sellers to sell their products and develop their business. For more information on permitted and prohibited products for sale on each site, the Seller is invited to consult the "permitted and prohibited for Sale" available on each site. It states in particular that the products sold on the website must be exclusively original creations made outside of school time, regardless of his working time as a teacher.</p>
          </li>
          <li>
            <p>The Platform allows the Seller to create its virtual store on each of the sites of the Platform through a single account with an associated email address and a unique password. Payment is made mandatory by credit card.</p>
          </li>
          <li>
            <p>Each Seller agrees not to list and / or offering for sale of products on the Site:</p>
            <ol>
              <li>
                unauthorized sale by MYGOODCOURSE
              </li>
              <li>
                not or not exactly corresponding to a Seller's Product actually available for purchase or offered for sale on a website
              </li>
              <li>
                or otherwise not in accordance with laws and regulations or morality or not permitted under contractual provisions affecting the rights of a third party, such as counterfeit products under the provisions of the Code of intellectual property, sold in violation of selective and exclusive distribution networks, MYGOODCOURSE the attention of the Seller on the absolute need for the Seller that puts a product on the market and especially for sale on the platform to ensure that this product is in strict accordance with laws regulations and other regulations.
              </li>
            </ol>
          </li>
          <li>
            <p>Assuming MYGOODCOURSE would find, following a warning or a member of his own doing, the sale of Prohibited Substances on a website, MYGOODCOURSE reserves the right to:</p>
            <ul>
              <li>remove from sale prohibited such Product or any product contrary to these Terms</li>
              <li>block, suspend, terminate or delete the account of the Seller</li>
              <li>communicate to the competent authorities all necessary information regarding any offer for sale and / or purchase of any Prohibited Substance on a website, including personal information of Members if any, and / or to cooperate with the competent authorities at their request</li>
            </ul>
          </li>
          <li>
            <p>Each Seller agrees to:</p>
            <ul>
              <li>indicate the complete and accurate characteristics and qualities of each product offered for sale on the Platform, the product price</li>
              <li>carry out any checks and verifications, for the marketing of product and provide all necessary information in each product sales offer to the offer to be true and that the Buyer can not be misled. Each seller is solely responsible for the provision of all the elements of the offer for sale of a product, including the description, the sale price</li>
              <li>
                qualify the Product in the country of use, the appropriate category, the appropié level, the Seller is solely responsible for the information for the classification of its product, this listing may in no way be construed as a guarantee on MYGOODCOURSE origin, legal compliance or authenticity of this product
              </li>
            </ul>
          </li>
          <li>
            <p>Each seller is solely responsible for any product it sells on the Platform, as well as observing all laws and regulations applicable to the production, marketing and sale of these products, and will only responsible (especially vis-à-vis a buyer but also MYGOODCOURSE) for damage caused by its products or more generally for all consequences related to the offer and sale of its products. MYGOODCOURSE can in no way be held responsible for non-compliance and the sale of a Product by the Seller does not comply with laws and regulations. The Seller undertakes to guarantee MYGOODCOURSE in case of complaint, action or claims by third parties against MYGOODCOURSE related to non-compliance of a product with the applicable regulations, and to compensate for MYGOODCOURSE all consequences of non-compliance of its products with the laws and regulations. Seller shall accordingly take immediate dependents payment of all amounts, including any possible convictions, court costs, attorney fees and other amounts that are due to that title (or refund MYGOODCOURSE first demand ).</p>
          </li>
          <li>
            <p>Seller agrees to keep confidential information of the Buyer and not to disclose them. Seller also agrees to use the contact information and other data provided by the Buyer that for the strict requirements for the execution of the order concerned and legal obligations attached to it, and in accordance with these Terms General. In particular, the Seller will not provide the Buyer with products available off the platform and not to use the personal data of Buyer for purposes other than the execution of the order placed on the website.</p>
          </li>
          <li>
            <p>Seller whose behavior (on or off the platform Platform) is likely to harm the image and / or reputation of MYGOODCOURSE or platform may see his behavior sanctioned by MYGOODCOURSE, especially in case of repeated negative evaluations or consecutive dispute with one or more buyers.</p>
          </li>
          <li>
            <p>Each Seller warrants to hold all necessary rights to sell any product offered for sale by him on the platform and guarantees MYGOODCOURSE against any claims about the content of an offer to sell a product and / or the execution of the sale.</p>
          </li>
          <li>
            <p>In case of dispute between Sellers due to the Content posted by any of them (for example, in case of infringement or alleged unfair competition by one of the Sellers), it is for dealers to contact and settle their dispute them. MYGOODCOURSE is not obliged to intervene and will not intervene in the resolution of the dispute. MYGOODCOURSE therefore reserves the right not to proceed with the claim of a Seller sent to it in this case, without incurring any liability in this regard. MYGOODCOURSE published an FAQ on the management by the Sellers of their intellectual property rights on the Platform. However, the information thus provided by MYGOODCOURSE are only indicative and this FAQ is not a substitute for consultation by the Seller of an appropriate lawyer.</p>
          </li>
          <li>
            <p>The Seller wishes to be paid in Register must first with Stripe and provide bank details to MYGOODCOURSE partner that manages payments. Within the different régelementations in force and in particular the laws on money laundering, the Seller shall provide the personal information required to process cash payments as may be required by Stripe in for verification purposes. The non creation of a valid Stripe account will not allow payments.</p>
          </li>
        </ul>
      </section>
      <section id="obligation_buyer">
        <h2>
      <span class="fa-stack">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-file-text fa-stack-1x fa-inverse"></i>
      </span>
          Buyer's Obligations
        </h2>
        <ul>
          <li>
            <p>The Purchaser may only create one account on the Platform. Opening an account by the Purchaser on a website allows access to all the Platform sites and buy products on any of the Sites through the same account.</p>
          </li>
          <li>
            <p>Buyer agrees to comply with all laws and regulations related to the acquisition of assets of any kind.</p>
          </li>
          <li>
            <p>After choosing his or her product (s), Buyer shall verify the details of the order, price, inquire if necessary, depending on the chosen method of payment, information for the payment of the Product and correct any errors before confirming the order to express its acceptance.</p>
          </li>
          <li>
            <p>Once the Buyer has placed an order on the Platform Products, Buyer agrees that its name, are communicated to the Seller for the purposes of the order.</p>
          </li>
          <li>
            <p>Buyer may assess the Seller. Any assessment by the Buyer relating to a specific product identified in the assessment also implies that the transaction is complete between the Buyer and Seller.</p>
          </li>
        </ul>
      </section>
      <section id="sales_process">
        <h2>
      <span class="fa-stack">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-file-text fa-stack-1x fa-inverse"></i>
      </span>
          Selling process
        </h2>
        <ul>
          <li>
            <p>To buy on the platform, he must have registered as a member, or sign up as a member at the time of purchase.</p>
          </li>
          <li>
            <p>Payments are made by credit card only with Stripe with our partner that guarantees a higher level of security and meets the regulations visgueur in the various countries where payments are accepted.</p>
          </li>
          <li>
            <p>Buyer may add to its basket of products from several online stores and adjust its entire basket in one go directly to Stripe, MYGOODCOURSE not intervenat as a financial intermediary. After the payment, the Seller Electronics each Portfolio will be automatically credited with the amount corresponding to the price of the order minus the fee charged by the MYGOODCOURSE platform.</p>
          </li>
          <li>
            <p>The sale is concluded between the Buyer and the Seller from the finalization by the Purchaser of its order on the Site, and the confirmation of payment by our partner Stripe. The seller is credited to his account Stripe the order amount less commission of MYGOODCOURSE.</p>

            <p>It is up to the seller to fix the rules for cashing out the payment of the amount of its electronic wallet Stripe to his bank account.</p>
          </li>
          <li>
            <p>As soon as the Buyer has finalized its order on the site, an order confirmation will be sent to the Buyer and the Seller.</p>
          </li>
          <li>
            <p>Complaints, withdrawal of fiscal and claims made by the Buyer must be addressed to the Seller and will be handled directly between Buyer and Seller.</p>
          </li>
          <li>
            <p>Once the order delivered, the Purchaser shall evaluate the transaction through the review system available on the platform.</p>
          </li>
          <li>
            <p>MYGOODCOURSE is in no way responsible for the sale and shall not provide any guarantee in this respect.</p>
          </li>
        </ul>
      </section>
      <section id="sales_cancel">
        <h2>
      <span class="fa-stack">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-file-text fa-stack-1x fa-inverse"></i>
      </span>
          Claims and Returns Policy
        </h2>
        <ul>
          <li>
            <p>Complaints, withdrawal of exercises, cancellations and claims made by the Buyer must be addressed to the Seller and will be managed directly between Buyer and Seller from their accounts without any intervention MYGOODCOURSE unless otherwise provided in this Article . It is the Buyer and the Seller to agree. Buyer and Seller will each follow the procedure on their respective account and will have an alert system in their order tracking.</p>
          </li>
          <li>
            <p>Buyer and Seller will act with all necessary diligence to the proper resolution of claims, the withdrawal right exercise, cancellations and claims. The final decision to reimburse the Buyer with Seller. However, if the seller refuses to grant a claim, an application for revocation, cancellation or return made by the Purchaser or does not address this claim or demand within 48 hours of it, MYGOODCOURSE reserves the right to investigate the complaint or request of the Purchaser and, in case of refusal or non-abusive treatment by the Seller, Buyer to pay the amount of the order concerned. This amount will be billed to the Seller and cashed in accordance.</p>
          </li>
          <li>
            <p>In case of complaint until resolution of the dispute, MYGOODCOURSE reserves the right to temporarily block the Purse Seller Virtual. In case of repeated claims against the same seller or a high cancellation rate from the same Buyer, MYGOODCOURSE also reserves the right to temporarily block the Wallet Virtual Member concerned, to temporarily or permanently suspend and / or terminate the account of the Member concerned.</p>
          </li>
          <li>
            <p>The buyer who paid a Product by credit card via the secure payment system of the Platform will be reimbursed on its Virtual Wallet. If a refund on her Virtual Purse, the Purchaser shall use its Virtual Wallet to make additional purchases on the platform or at any time request that the amount so credited to its Virtual Wallet is poured over his Bank account. It must in that case request a transfer to Stripe and communicate the details of his bank account.</p>
          </li>
        </ul>

      </section>
      <section id="financials">
        <h2>
      <span class="fa-stack">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-file-text fa-stack-1x fa-inverse"></i>
      </span>
          Financial provisions
        </h2>

        MYGOODCOURSE is remunerated on the linkage between Buyer and Seller and receives a fee according to the principles described in this section.

        <h3><span class="fa fa-file-text"></span> Commission on sales</h3>

        <ul>
          <li>
            <p>MYGOODCOURSE is remunerated on the linkage between Buyer and Seller and receives a fee according to the principles described in this section. In consideration of the matchmaking service provided by MYGOODCOURSE, Seller agrees to pay
              MYGOODCOURSE, due to the finalization by the Buyer of the order on the Platform, a fee calculated by product and sales as follows:
            <ul>
              <li>A fixed fee of <%= nice_price(TRANSACTION_COST/100) %> </li>
              <li>A commission of  <%= COMMISSION_RATE %> % of the sale price</li>
            </ul>
            </p>
          </li>
          <li>
            <p>The commission shall become due and when the Buyer has placed an order on the Platform, regardless of the payment method used.
              For each transaction, MYGOODCOURSE automatically deduct service charges from the sale price collected from customers through the platform.</p>
            <p>MYGOODCOURSE not acting as a financial intermediary as soon as the payment made and approved by the bank, the Seller will receive the fruit of sale (less the commission fee).</p>
            <p>Payments will be made by Seller Stripe. it is up to the seller to inform its information from Stripe and update them as necessary.</p>

          </li>
          <li>
            In case of refund to Buyer in accordance with these Terms and Conditions, the commission due to MYGOODCOURSE will be reimbursed by the Seller MYGOODCOURSE. In this case, the refund will be in proportion to the amount reimbursed to the Buyer and the Seller agrees to pay MYGOODCOURSE appropriate balance of outstanding commission. It is, however, that MYGOODCOURSE will not reimburse the commission to the Seller in the event
            <ol>
              <li>
                Seller refuses to grant a claim by the Purchaser or does not process the claim within 48 hours MYGOODCOURSE reimburse the Buyer
              </li>
              <li>
                more generally, the Seller does not respect its obligations under these Terms.
              </li>
            </ol>
          </li>
        </ul>

        <h3><span class="fa fa-file-text"></span> illustration of sales commissions</h3>
        The following table provides an illustration of the different levels of commission and payment to the Sellers:
        <table class="table">
          <tr>
            <th>Product price</th>
            <th>Platform Commission</th>
            <th>(included taxes)</th>
            <th>Amount for Seller</th>
            <th>Percentage to Seller</th>
          </tr>
          <% Product::PRICE_LIST.each do |pp| price=BigDecimal.new(pp) %>
              <% product = Product.new
                 product.price = price
                 oi = OrderItem.new
                 oi.product = product %>
              <tr>
                <td><%=nice_price(price)%></td>
                <td><%= nice_price(oi.application_fee) %></td>
                <td>(incl. <%= nice_price(oi.tax_amount) %>)</td>
                <td><%= nice_price(oi.unit_cost_price) %></td>
                <td><%= oi.share_seller.round(0) %> %</td>
              </tr>
          <% end %>
        </table>

        <h3><span class="fa fa-file-text"></span> Commissions adjustments</h3>
        <ul>
          <li>
            <p>As part of the implementation by MYGOODCOURSE specific transactions (such as affiliate programs and / or partnerships with companies and / or third party web sites), the amount of commissions provided to these Terms may be amended. In this case, MYGOODCOURSE inform in advance each Member of the Committee applied for such operations.</p>
          </li>
          <li>
            <p>MYGOODCOURSE reserves the right, without compensation, to change its policy regarding the sale of products on the Platform and / or the commission received by MYGOODCOURSE and shall notify the Members. In case of reduction of these fees, commissions and tariffs, these changes will be effective upon posting on the Site. If the change is temporary (eg exceptional promotion day), the duration of this change will also be communicated to Members and posted on the Site. In case of increase of these fees, commissions and rates, MYGOODCOURSE shall notify the Members will be required to accept these new changes. These changes will be effective at the end of the month following the month in which such changes have been notified to the Sellers, unless the amendments were tested to Members, in which case the changes will be effective immediately after the test period. If the Member does not accept the new applicable financial conditions, he is free to terminate these Terms in accordance with these Terms and Conditions, which will result in termination and closure of his account.</p>

          </li>
        </ul>

      </section>
      <section id="intellectual_prop">
        <h2>
      <span class="fa-stack">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-file-text fa-stack-1x fa-inverse"></i>
      </span>
          Property
        </h2>
        <ul>
          <li>
            <p>Platform, the sites, their content, catalogs, texts, illustrations, photographs and respective images, and other visual and sound elements, including the underlying technology used, are the exclusive property of MYGOODCOURSE and / or third parties contractually bound to MYGOODCOURSE, holders of intellectual property rights in the platform. Notwithstanding the foregoing, the Content provided by each Member shall be and remain the property of each member, subject to the license granted by the Member to MYGOODCOURSE and users in accordance with these Terms.</p>
          </li>
          <li>
            <p>It is forbidden to reproduce, represent and / or exploit in any other manner whatsoever all or part of the Platform, a website, their contents, catalogs, texts, illustrations, photographs and images and all other visual elements and audio, including the underlying technology used, without the prior permission of MYGOODCOURSE. As an exception to the above, the User Platform is allowed to reproduce (including downloading or printing all or part of the Platform) and represent all or part of the Platform for strictly personal and private purposes and excluding any commercial or profit-making.</p>
          </li>
          <li>
            <p>Any person who publishes a website and wants to create a direct hyperlink to any of the sites must request permission to MYGOODCOURSE writing. Permission MYGOODCOURSE will in no case be granted permanently. This link will be deleted at the request of MYGOODCOURSE.</p>
          </li>
          <li>
            <p>Hypertext links to the Site using techniques such as framing (framing) or by inserting hyperlinks (inline linking) is strictly prohibited.</p>
          </li>
        </ul>
      </section>
      <section id="law_respect">
        <h2>
      <span class="fa-stack">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-file-text fa-stack-1x fa-inverse"></i>
      </span>
          Compliance with Law
        </h2>
        <ul>
          <li>
            <p>Each Member undertakes to respect the laws, regulations and standards of all kinds in force on the use of the services offered via the Platform, to the sale, purchase, solicitation of offers to purchase and / or sale of objects.</p>
          </li>
          <li>
            <p>In the case of outright fraud (fraudulent copying, receiving stolen property, illegal importation, etc.) or on request, MYGOODCOURSE communicate all necessary information, including personal and the competent services responsible for the suppression of said fraud and offenses.</p>
          </li>
        </ul>
      </section>
      <section id="duration">
        <h2>
      <span class="fa-stack">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-file-text fa-stack-1x fa-inverse"></i>
      </span>
          Duration and Termination of the general conditions
        </h2>
        <ul>
          <li>
            These Conditions are concluded for an indefinite period and are cancellable at any time by the Member or by MYGOODCOURSE, without cause, by email or through the Platform. Any cancellation will take effect at the end of the month following the month in which the notification was sent.
          </li>
          <li>
            Without limiting other remedies, MYGOODCOURSE reserves the right to give a warning, suspend or terminate the registration and the account of a Member, terminate, close their account, to stop providing Member services audit and / or terminate these Terms and Conditions as of right, with immediate effect in the following cases:
            <ul>
              <li>
                for violation of all or part of these Conditions or documents that are incorporated by reference (including in the cases referred to below);
              </li>
              <li>
                if MYGOODCOURSE is unable to verify or authenticate the information provided by the Member, and the Member does not comply with its requests for verification and / or authentication;
              </li>
              <li>
                if the actions of the Member may incur liability MYGOODCOURSE, that Member or any other Member;
              </li>
              <li>
                in case of behavior contrary to the Member Platform service level agreements, potentially harmful, harmful, and / or unfair with regard to the Platform of MYGOODCOURSE or any Member;
              </li>
              <li>
                for other good cause at the discretion of MYGOODCOURSE.
              </li>
            </ul>
          </li>
          <li>
            <p>
              Upon termination automatically causing the closure of the account, the Member's account will be disabled and the virtual shop of the Seller will become inaccessible and disappear from the platform search engine on the effective date of termination. The Member must request payment on his account balance may be present on its Wallet Virtual prior to the effective date of termination. These Conditions shall be automatically terminated as of right to the closing date of the account.
            </p>
          </li>
        </ul>

      </section>
      <section id="responsability">
        <h2>
      <span class="fa-stack">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-file-text fa-stack-1x fa-inverse"></i>
      </span>
          Responsibility
        </h2>
        <ul>
          <li>
            <p>MYGOODCOURSE is held to an obligation of means.</p>
          </li>
          <li>
            <p>MYGOODCOURSE be liable for direct damage attributable solely to contractual misconduct by MYGOODCOURSE. Save fault on its part, MYGOODCOURSE not be held liable for any damage suffered by a Member or User for the use of all or part of the Platform or the Site or inability to use all or part of the platform or website.</p>
          </li>
          <li>
            <p>MYGOODCOURSE may be more liable for any malfunction, breakdown, delay or interruption of access to the Internet.
              As the host of the Content posted by Members MYGOODCOURSE can not be held liable under the Content posted on the Platform or any of the Sites by Members.</p>
          </li>
          <li>
            <p>Each member is asked to notify MYGOODCOURSE for violation of these Terms and Conditions including the assumption that it would find the offer of Prohibited Substances sales.</p>
          </li>
          <li>
            <p>MYGOODCOURSE can not be held responsible in respect of disputes arising between Members.</p>
          </li>
        </ul>
        <h4>EVIDENCE</h4>
        <ul>
          <li>
            <p>The parties acknowledge that the production MYGOODCOURSE records on servers MYGOODCOURSE on the use of the Platform, including access codes registered Members and connection logs are valid between the parties.</p>
        </ul>
      </section>
      <section id="general">
        <h2>
      <span class="fa-stack">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-file-text fa-stack-1x fa-inverse"></i>
      </span>
          General provisions
        </h2>
        <ul>
          <li>
            <p>MYGOODCOURSE reserves at any time and in its sole discretion the right to suspend or interrupt access to the platform or any of the Sites and / or operation of the platform or any of the Sites in whole or part, in particular for maintenance work, the operational requirements, internal choice or in an emergency. MYGOODCOURSE also reserves the right at any time and in its sole discretion to remove or edit any content, especially for technical, commercial or practices. It is understood that such interventions will in no case liability for MYGOODCOURSE, or give rise to compensation or damages in favor of a Member or Platform User.</p>
          </li>
          <li>
            <p>Any notice to MYGOODCOURSE but for a Member in principle be sent by email to the address that Member has communicated to MYGOODCOURSE during registration. Notices shall be deemed to have reached a Member 24 hours after sending an e-mail unless the sender is notified of the invalidity of the email address.</p>
          </li>
          <li>
            <p>Notifications can also be sent to members by registered letter with acknowledgment of receipt at the mailing address provided at registration. The 24-hour period mentioned above is then increased to 3 days after sending mail.</p>
          </li>
          <li>
            <p>These Conditions, accompanied by the documents mentioned in the General Conditions which are incorporated by reference, constitute the entire agreement between the parties. MYGOODCOURSE reserves the right to change the Terms and inform each Member by email.</p>
          </li>
          <li>
            <p>Subject to the provisions concerning the amendment of the policy on fees for linking and billing terms, the changes to the Terms will be effective 15 days after being posted. During this 15 day period, any Member may notify MYGOODCOURSE refusal of these changes, in which case these Terms and Conditions and therefore its right to use the services of MYGOODCOURSE to expire at the end of the 15 day period as provided .</p>
          </li>
          <li>
            <p>In the event that one or more conditions set out in the General Conditions are deemed illegal, unenforceable or unenforceable by a court, the remaining provisions of the Terms remain in force, provided that the general economy of Terms n 'either not upset.</p>
          </li>
          <li>
            <p>Each Member agrees that the rights and obligations arising from these Terms and Conditions as well as all the documents incorporated by reference may freely and legally be transferred to a third party by MYGOODCOURSE on disposal of assets, merger or acquisition.</p>
          </li>
          <li>
            <p>MYGOODCOURSE tolerance to a breach of these Terms by a Member or a third party does not alter the rights and actions against any similar breach and / or later.</p>
          </li>
        </ul>
      </section>
      <section id="juridiction">
        <h2>
      <span class="fa-stack">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-file-text fa-stack-1x fa-inverse"></i>
      </span>
          Applicable law and jurisdiction
        </h2>
        <ul>
          <li>
            <p>These Terms and Conditions are governed and interpreted in accordance with French law.</p>
          </li>
          <li>
            <p>The French courts have jurisdiction to rule on any disputes which may arise between the parties relating to the execution hereof. BY EXCEPTION TO THE ABOVE, ANY DISPUTE WITH A MEMBER IS ACTING AS PROFESSIONAL COMPETENCE OF EXCLUSIVE PARIS COMMERCIAL COURT.</p>
          </li>
          <li>
            <p>The disputes arising between Members shall be settled between the Member and MYGOODCOURSE is not required to intervene or settle such dispute.</p>
          </li>
        </ul>

      </section>
    </div>

  </div><!--end of .row-->
</div><!--end of .container-->


<script language="JavaScript">
    $('body').scrollspy({ target: '#navScrollspy' });
    $('#affix_nav').affix({
        offset: {
            top: 0,
            bottom: function () {
                return (this.bottom = $('.footer').outerHeight(true))
            }
        }
    })
</script>
