<h1><%= t('devise.page.edit_my_account') %></h1>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

    <%= f.error_notification %>

    <div class="form-inputs">
        <%= f.input :email, autofocus: true %>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>
        <%= f.input :password, autocomplete: "off", placeholder: t('devise.infos.blank') %>
        <%= f.input :password_confirmation, autocomplete: "off" %>
        <%= f.input :current_password, autocomplete: "off", hint: t('devise.infos.password_needed') %>
    </div>
    <div class="form-actions">
      <%= f.button :submit, t('devise.page.update_my_account') %>
    </div>

<% end %>


<h3><%= t('devise.page.cancel_account')%></h3>

<p>Unhappy? <%= link_to "#{t('devise.page.cancel_account')}", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-default' %></p>

<%= link_to "Back", :back %>
