<!-- COMMENT - START -->
<li id='<%= "current_comment" if comment == @current_comment %>' class='comment_<%= comment.id%>'>
  <!-- Customer picture -->
  <div class="comment-customer"><%= render(partial: 'customers/customer', locals: {customer: comment.customer, withcols: 'false'}) %></div>
  <!-- Comment text -->
  <div class="comment-panel">
    <div class="arrow"></div>
    <div class="comment-tools">
      <% if customer_signed_in?
           context = comment.commentable %>
          <% if comment.customer.id == current_customer.id %>
              <%= render(partial: 'comments/btn_edit', locals: {comment: comment}) %>
          <% end %>
      <% end %>
      <div id="abus_comment_<%= comment.id%>">
        <%= render(partial: 'abuses/btn_create', locals: {context: comment}) %>
      </div>
    </div>
    <div class="comment-heading"><p><small class="text-muted"><i class="fa fa-clock-o"></i> <%= time_ago_in_words(comment.created_at) %></small></p></div>
    <div class="comment-body">
      <p><%= comment.text %></p>
    </div>
  </div>
</li>

<!-- COMMENT - END -->