<!-- REVIEW - START -->
<div id=<%= 'current_comment' if comment == @current_comment %> >
    <div class="row">
      <div class="col-xs-6 col-sm-3 col-md-3">
          <%= render('customers/customer', :customer => comment.customer, :withcols => 'false' ) %>
      </div>
      <div class="hidden-xs col-sm-6 col-md-6">
        <b><%= comment.title %></b>
        <p><%= comment.description %></p>
        <p><span class="date text-muted"><%= nice_date(comment.updated_at) %></span></p>

      </div>
      <div class="col-xs-6 col-sm-3 col-md-3">
        <!--- stars --->
        <%= render :partial =>"comments/show_stars", :locals => {:score => comment.score,:simple => true} %>
        <!--- end stars --->

        <% # @TODO add report %>
        <div id="abus_comment_<%= comment.id%>">
            <p><%= link_to t('actions.abuses.new'), new_abuse_path(:comment_id => comment.id), :remote => true %></p>
        </div>
      </div>
    </div>
</div>
<!-- REVIEW - END -->