<!-- REVIEW - START -->

<div class="media comment" id=<%= 'current_comment' if comment == @current_comment %> >
    <div class="row">
      <div class="col-xs-6 col-sm-3 col-md-3">
        <%= render('customers/customer', :customer => comment.customer, :withcols => 'false' ) %>
      </div>
      <div class="hidden-xs col-sm-6 col-md-6">
        <b><%= comment.title %></b>
        <p><%= comment.description %></p>
        <p><span class="date text-muted"><%= nice_date(comment.updated_at) %></span></p>

      </div>
      <div class="col-xs-6 col-sm-3 col-md-3">
        <%= render "comments/show_stars", :score => comment.score %>
        <% # @TODO add report %>
        <p>REPORT problem</p>
      </div>
    </div>
</div>
<!-- REVIEW - END -->