<!-- REVIEW - START -->
    <div class="row">
      <div class="col-xs-4">
        <%= link_to product_path(comment.product) do %>
            <h5 class="ellipsis"><%= comment.product.name %></h5>
            <%= image_tag comment.product.small, class: 'img-thumbnail center-block' %>
        <% end %>
      </div>
      <div class="col-xs-5">
        <b><%= comment.title %></b>
        <p><%= comment.description %></p>
        <% customer = comment.customer %>
        <img class="img-circle align-left customer-picture"
             data-customer="<%=customer.id %>"
             data-locality=  "<%= t('activerecord.attributes.customer.located', :locality => customer.locality||'???') %>"
             data-created="<%=t('activerecord.attributes.customer.since', :created => l(customer.created_at, :format => :short) )%>" alt="" src="<%= customer.picture %>" style="width:40px;">

        <h6><%= link_to "#{customer.first_name} #{customer.name}", customer_path(customer) %></h6>

        <p><span class="date text-muted"><%= nice_date(comment.updated_at) %></span></p>

      </div>
      <div class="col-xs-3">
        <!--- stars --->
        <%= render :partial =>"comments/show_stars", :locals => {:score => comment.score,:simple => true} %>
        <!--- end stars --->

        <% # @TODO add report %>
        <div id="abus_comment_<%= comment.id%>">
            <p><%= link_to t('actions.abuses.new'), new_abuse_path(:comment_id => comment.id), :remote => true %></p>
        </div>
      </div>
    </div>
<!-- REVIEW - END -->