


<%= form_for(@comment, remote: true, :html => { :role => "form", 'data-model' => 'comment', :class => 'ajax_form' }) do |f| %>

    <div id="error_explanation" class="bg-danger text-danger">
      <% if @comment.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

            <ul>
              <% @comment.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

    </div>
    <%= f.hidden_field :product_id, :class => "form-control first_input"  %>
        <div class="form-group">
          <%= f.label :score, :class => "control-label" %>
          <%= f.number_field :score, class: 'rating kv-ltr-theme-fa-star rating-loading', 'data-max' => '5', 'data-step' => '1', 'data-show-clear' => 'false', 'data-size' => "xs"   %>
          <span class="help-block"></span>
        </div>
        <div class="form-group">
          <%= f.label :title, :class => "control-label"  %>
          <%= f.text_field :title, placeholder: t('activerecord.attributes.comment.place_title'), :class => "form-control" %>
          <span class="help-block"></span>
        </div>
        <div class="form-group">
          <%= f.label :description, :class => "control-label" %>
          <%= f.text_area :description, placeholder: t('activerecord.attributes.comment.place_description'), :rows => 5, :class => "form-control" %>
          <span class="help-block"></span>
        </div>
        <div class="form-group">
          <%= f.submit  @comment.new_record? ? t('actions.create') : t('actions.update'), :class => "btn btn-primary" %>
        </div>


<% end %>
