
<%= simple_form_for(@comment) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
        <% unless @comment.new_record? || @comment.score.nil? %>
        <div class="form-group string">
          <label>Score</label>
    <% 1.upto(5) do |i| %>

            <i class="glyphicon glyphicon-star<%='-empty' if i>@comment.score%>"> </i>
            <% end %>
          <span class='badge'><%=@comment.score%></span>
        </div>
        <% else %>
    <%= f.input :score, type: 'number', input_html: { class: 'rating', 'data-max' => '5' } %>
        <% end %>
    <%= f.input :title %>
    <%= f.input :description, as: :text %>
    <%= f.association :product, :include_blank => false %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
