<!-- REVIEW - START -->

<div class="media" id=<%= 'current_comment' if comment == @current_comment %> >
  <div class="media-left">


    <img class="media-object img-circle" alt="" src="<%= comment.customer.picture %>" style="width:120px;">
  </div>
  <div class="media-body">
    <h3 class="media-heading"><%= comment.customer.first_name %> <%= comment.customer.name %></h3>
    <div class="meta">
      <span class="date"><%= nice_date (comment.created_at) %></span>
      <%= render "comments/show_stars", :score => comment.score %>
    </div>
    <h5><%= comment.title %></h5>
    <p><%= comment.description %></p>
  </div>
</div>
<!-- REVIEW - END -->