<% @page_title = (I18n.translate 'activerecord.models.article', count: 2).capitalize %>

<h2><%= (I18n.translate 'activerecord.models.article', count: 2).capitalize %></h2>


<div class="row">
  <div class="col-sm-4">
    <!--- Country selector --->
    <div class="sidebar-menu">
      <%= form_tag(topic_articles_path, method: :get, class: "simple_form")  do  %>
          <%= select_tag('country_id', options_from_collection_for_select(Country.all,"id", "name", session[:country_store] ), class: "select optional form-control", :onchange => "this.form.submit()") %>
      <% end %>
    </div>
    <!--- end Country selector --->

    <%= render(partial: 'articles/topics', :current_topic => @topic) %>
  </div>
  <div class="col-sm-8">
    <h3><i class="fa fa-file-text" aria-hidden="true"></i> <%= @topic.name %></h3>
    <ul class="list-unstyled">
      <%= render(partial: 'articles/article', :collection => @articles) %>
    </ul>
  </div>
</div>


