<% provide(:title, (I18n.translate 'activerecord.models.article', count: 2).capitalize) %>


<h1><%= (I18n.translate 'activerecord.models.article', count: 2).capitalize %></h1>

<div class="row">
  <div class="col-sm-4">
    <!--- Country selector --->
    <div class="sidebar-menu">
      <%= form_tag(topic_articles_path, method: :get, class: "simple_form")  do  %>
          <%= select_tag('country_id', options_from_collection_for_select(Country.all,"id", "name", session[:country_store] ), class: "select optional form-control", :onchange => "this.form.submit()") %>
      <% end %>
    </div>
    <!--- end Country selector --->

    <!-- list of topics -->
    <%= render(partial: 'articles/topics', :current_topic => @topic) %>
    <!-- end list of topics -->
    <hr/>
  </div>
  <div class="col-sm-8">
    <h2>
      <span class="fa-stack">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-file-text fa-stack-1x fa-inverse"></i>
      </span>
      <%= @topic.name %>
    </h2>
    <ul class="list-unstyled">
      <%= render(partial: 'articles/article', :collection => @articles) %>
    </ul>
  </div>
</div>


