<% provide(:title, (I18n.translate 'activerecord.models.topic', count: 2).capitalize) %>



<!-- Image Header -->
<% content_for :slider do %>
    <div class="img-header parallaxed home_3 bg-inverse"  data-stellar-background-ratio="0.5">
      <div class="slider-caption">
          <h1><%= t('page.help')%></h1>
      </div>
    </div>
<% end %>
<!-- /.row -->

<%= javascript_include_tag *webpack_asset_paths('client', extension: 'js') %>
<div id="Client" country_id="<%=@current_country.id ||= Country.first.id %>" ></div>

<%# javascript_include_tag *webpack_asset_paths('faqApp', extension: 'js') %>
<div id="FaqApp" country_id="<%=@current_country.id ||= Country.first.id %>" ></div>

<div class="row">
  <div class="col-md-8">
    <!-- country selector -->
    <%= render(partial: 'countries/btn_countries') %>
    <!-- end country selector -->
    <ul class="list-unstyled">
      <%= render(:partial => 'topics/topic', collection: @topics) %>
    </ul>
  </div>
  <div class="col-md-4">
    <!-- search -->
    <div class="margined-vertical">
      <%= form_tag(search_articles_path, method: :post) do  %>
          <div class="input-group">
            <%= text_field_tag('query', nil, class: 'form-control', placeholder: I18n.t('page.search')) %>
            <div class="input-group-btn">
              <% unless (session[:query_store]).nil? %>
                  <%= button_tag :class => 'btn btn-success' do %>
                      <%= session[:query_store] %>
                      <i class="fa fa-times"></i>
                  <% end %>
              <% end %>
              <%= button_tag t('page.search'), class: 'btn btn-primary' %>
            </div>
          </div>
      <% end %>
    </div>
    <!-- end search -->

    <!-- top articles -->
      <%= render ('articles/top_articles') %>
    <!-- end top articles -->
  </div>
</div>
