<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @topic.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @topic.description %>
</p>

<p>
  <strong>Position:</strong>
  <%= @topic.position %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @topic.slug %>
</p>

<p>
  <strong>Country:</strong>
  <%= @topic.country %>
</p>

<%= link_to 'Edit', edit_topic_path(@topic) %> |
<%= link_to 'Back', topics_path %>
