<li class="forum_category-panel media" id="forum_category_<%= forum_category.id%>">
  <div class="media-left">
    <%= link_to forum_category_path(forum_category) do %>
        <%= image_tag(forum_category.visual.square, class: 'img-rounded visual-forum_category') %>
    <% end %>
  </div>
  <div class="media-body">
    <h3 class="media-heading"><%= link_to forum_category.name, forum_category_path(forum_category) %></h3>
    <ul class="list-meta">
      <li><%= forum_category.count_subjects %> <%= t('activerecord.models.forum_subject', count: forum_category.count_subjects) %></li>
      <li><i class="fa fa-comments"></i> <%= forum_category.count_messages %> <%= t('activerecord.models.forum_answer', count: forum_category.count_messages) %></li>
      <% unless forum_category.last_activity_date.nil? %>
          <li><i class="fa fa-clock-o"></i> <%= time_ago_in_words(forum_category.last_activity_date) %></li>
      <% end %>
      <% unless forum_category.last_activity_customer.nil? %>
          <li><%= link_to forum_category.last_activity_customer.full_name, customer_path(forum_category.last_activity_customer) %></li>
      <% end %>
    </ul>
  </div>
</li>