<p id="notice"><%= notice %></p>

<h1>Listing Forum Categories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Visual</th>
      <th>Forum family</th>
      <th>Position</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @forum_categories.each do |forum_category| %>
      <tr>
        <td><%= forum_category.name %></td>
        <td><%= forum_category.description %></td>
        <td><%= forum_category.visual %></td>
        <td><%= forum_category.forum_family %></td>
        <td><%= forum_category.position %></td>
        <td><%= link_to 'Show', forum_category %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

