<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @forum_family.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @forum_family.description %>
</p>

<p>
  <strong>Visual:</strong>
  <%= @forum_family.visual %>
</p>

<p>
  <strong>Country:</strong>
  <%= @forum_family.country %>
</p>

<p>
  <strong>Position:</strong>
  <%= @forum_family.position %>
</p>

<%= link_to 'Back', forum_families_path %>
