<% provide(:title, @forum_family.name) %>

<h1><%= yield :title %></h1>

<ol class="breadcrumb">
  <li>
    <%= link_to forum_families_path do %>
        <span class="fa fa-home fa-lg"></span> <%= t('page.forum') %>
    <% end %>
  </li>
</ol>

<%= image_tag(@forum_family.visual, class: 'img-responsive') %>

<%= render(partial: 'forum_families/forum_family', locals: {forum_family: @forum_family}) %>

