<% provide(:title, @forum_family.name) %>


<!-- Image Header -->
<div class="parallaxed banner" data-stellar-background-ratio="0.5"><span>
    <h1><%= yield :title %></h1>
</span>
</div>
<!-- /.row -->

<script language="JavaScript">
    $('.banner').css('background-image', 'url(<%= @forum_family.visual %>)');
</script>

<ol class="breadcrumb">
  <li>
    <%= link_to forum_families_path do %>
        <span class="fa fa-home fa-lg"></span> <%= t('page.forum') %>
    <% end %>
  </li>
</ol>


<%= render(partial: 'forum_families/forum_family', locals: {forum_family: @forum_family}) %>

