
<%= simple_form_for(@family) do |f| %>

    https://www.youtube.com/watch?v=0aBsUkJMbmE

  <%= f.error_notification %>

    <%= f.input :name %>
    <%= f.trix_editor :description %>
    <h3>Category</h3>

    <div id="categories_sortable" class="sortable" data-update-url="<%= sort_categories_url %>">

        <%= f.fields_for :categories do |cat| %>
            <%= render 'category_fields', f: cat %>
        <% end %>


      <p><%= link_to_add_association  f, :categories, class: 'btn btn-primary btn-sm' do %><i class="fa fa-plus" aria-hidden="true"></i> Add new category<% end %></p>
      </div>


    <%= f.button :button, class:'btn btn-primary' do %><i class="fa fa-check" aria-hidden="true"></i> Update Form<%end%>

<% end %>
