<p id="notice"><%= notice %></p>

<h1>Listing Families</h1>

<table calss="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @families.each do |family| %>
      <tr>
        <td><%= family.name %></td>
        <td><%= family.description %></td>
        <td><%= link_to family, class: 'btn btn-default btn-sm' do %><i class="fa fa-check-circle"></i> Show<% end %></td>
        <td><%= link_to edit_family_path(family), class: 'btn btn-info btn-sm' do %><i class="fa fa-edit"></i> Edit<% end %></td>
        <td><%= link_to family, class: 'btn btn-danger btn-sm', method: :delete, data: { confirm: 'Are you sure?' } do %><i class="fa fa-remove"></i> Destroy<% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to new_family_path, class: 'btn btn-primary' do %><i class="fa fa-plus"></i> New Family<% end %>
