<p id="notice"><%= notice %></p>

<h1>Listing Families</h1>

<div id="families_sortable" class="sortable" data-update-url="<%= sort_families_path %>">
    <% @families.each do |family| %>
      <div class="panel panel-default" id="family_<%=family.id%>">
        <%= link_to '#' do %>
            <li class="btn btn-success glyphicon glyphicon-sort handle">move</li>
        <% end %>
        <%= family.name %>
        <div class="btn-group pull-right">
          <%= link_to 'Show', family, class: "btn btn-default active" %>
          <%= link_to 'Edit', edit_family_path(family), class: "btn btn-default" %>
          <%= link_to 'Destroy', family, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
  <% end %>

</div>

<br>

<%= link_to 'New Family', new_family_path, class: 'btn btn-primary' %>
