<p id="notice"><%= notice %></p>

<h1>Listing Families</h1>

<table calss="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @families.each do |family| %>
      <tr>
        <td><%= family.name %></td>
        <td><%= family.description %></td>
        <td><%= link_to 'Show', family, class: 'btn btn-default btn-sm' %></td>
        <td><%= link_to 'Edit', edit_family_path(family), class: 'btn btn-info btn-sm' %></td>
        <td><%= link_to 'Destroy', family, class: 'btn btn-danger btn-sm', method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Family', new_family_path, class: 'btn btn-primary' %>
