<% provide(:title, @family.name) %>

<h1><%= @family.name %></h1>

<p>
  <strong><%= t('activerecord.attributes.family.description')%>:</strong>
  <%= raw(@family.description) %>
</p>

<h2><%= (I18n.translate 'activerecord.models.category', count: 2).capitalize %></h2>

<ul id="family_categories">
  <% @family.categories.each  do |cat| %>

      <li id="category_<%= cat.id %>">
        <%= link_to category_path(cat) do %>
            <%= cat.name %>
        <% end %>
      </li>

  <% end %>
</ul>

