<%
   forum_subject ||= @forum_subject
%>
  <ul class="replies forum_subject">
    <li class="forum_subject_<%= forum_subject.id%>">
      <div class="reply-customer">
        <%= render(partial: 'customers/customer', locals: {customer: forum_subject.customer, withcols: 'false'}) %>
      </div>
      <div class="reply-panel">
        <div class="arrow"></div>
        <div class="forum_subject-tools bottom-right">
          <%= render(partial: 'forum_subjects/tools', locals: {forum_subject: forum_subject})%>
        </div>
        <div class="reply-heading">
          <h4><%= forum_subject.name %></h4>
          <p><small class="text-muted"><i class="fa fa-clock-o"></i> <%= time_ago_in_words(forum_subject.created_at) %></small></p>
        </div>
        <div class="reply-body">
          <p><%= raw(forum_subject.text) %></p>
        </div>
      </div>
    </li>
  </ul>
