<% provide(:title, t('activerecord.models.forum_subject', count:2).capitalize) %>

<ol class="breadcrumb">
  <li>
    <%= link_to forum_families_path do %>
        <span class="fa fa-home fa-lg"></span> <%= t('page.forum') %>
    <% end %>
  </li>
</ol>

<h1><%= yield :title %></h1>

<% @forum_subjects.each do |forum_subject| %>
    <%= render(partial: 'forum_subjects/forum_subject', locals: {forum_subject: forum_subject}) %>
    <h3><%= link_to '...'+t('dialog.read_next'), forum_subject_path(forum_subject) %></h3>
<% end %>
