<p id="notice"><%= notice %></p>

<h1>Listing Forum Subjects</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Text</th>
      <th>Customer</th>
      <th>Forum category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @forum_subjects.each do |forum_subject| %>
      <tr>
        <td><%= forum_subject.name %></td>
        <td><%= forum_subject.text %></td>
        <td><%= forum_subject.customer %></td>
        <td><%= forum_subject.forum_category %></td>
        <td><%= link_to 'Show', forum_subject %></td>
        <td><%= link_to 'Edit', edit_forum_subject_path(forum_subject) %></td>
        <td><%= link_to 'Destroy', forum_subject, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Forum subject', new_forum_subject_path %>
