<% provide(:title, @forum_subject.name) %>

<% forum_category = @forum_subject.forum_category %>

<ol class="breadcrumb">
  <li>
    <%= link_to forum_families_path do %>
        <span class="fa fa-home fa-lg"></span> <%= t('page.forum') %>
    <% end %>
  </li>
  <li>
    <span class="fa fa-bullseye fa-lg"></span> <%= forum_category.forum_family.name %>
  </li>
  <li>
    <span class="fa fa-circle-o fa-lg"></span> <%= link_to forum_category.name, forum_category_path(forum_category) %>
  </li>
  <li class="active">
    <span class="fa fa-circle-o fa-lg"></span> <%= @forum_subject.name %>
  </li>
</ol>

<h1><%= @forum_subject.name %></h1>


<div class="row">
  <div class="col-md-8">
    <ul class="forum_subjects-list">
        <%= render(partial: 'forum_subjects/forum_subject', locals: {forum_subject: @forum_subject}) %>
    </ul>
    <ul class="forum_answers-list">
      <div class="divider divider-rounded divider-center"><i class="fa fa-reply-all"></i></div>

      <!-- add alert with call action to add answer -->
      <!-- if user is not logged-in we don't allow the creation -->
      <% if @forum_answers.count==0 %>
          <% if customer_signed_in? %>
          <%= render(partial: 'shared/dialog_alert', locals: {alert_message: t('dialog.forum_answer.alert_no_answer'),
                                                              alert_link_text: t('helpers.action.forum_answer.create'),
                                                              alert_link_path: new_forum_answer_path(forum_subject_id: @forum_subject.id), alert_remote: true}) %>
          <% else %>
              <%= render(partial: 'shared/dialog_alert', locals: {alert_message: t('dialog.forum_answer.alert_no_answer'),
                                                                  alert_link_text: t('helpers.action.forum_answer.create'),
                                                                  alert_link_path: new_customer_session_path, alert_remote: false}) %>
          <% end %>
      <% end %>
      <!-- end alert -->
      <% @forum_answers.each do |forum_answer| %>
          <%= render(partial: 'forum_answers/forum_answer', locals: {forum_answer: forum_answer}) %>
      <% end %>
      <div id="forum_answer-form"></div>
    </ul>

    <div id="infinite-scrolling-answers" class="row">
      <%= will_paginate(@forum_answers, :renderer => 'BootstrapPaginationHelper::LinkRenderer') %>
    </div>

  </div>
  <div class="col-md-4">
    <!-- top forum_subjects -->
    <ul class="nav nav-tabs nav-justified">
      <li role="presentation" class="active"><a href="#forum_subjects-popular" data-toggle="tab"><%= t('dialog.popular')%></a></li>
      <li role="presentation"><a href="#forum_subjects-latest" data-toggle="tab"><%= t('dialog.latest')%></a></li>
    </ul>
    <div id="myTabContent" class="tab-content">
      <div class="tab-pane tab-bordered fade active in" id="forum_subjects-popular">
        <ol class="list-unstyled">
          <% @top_forum_subjects.each do |forum_subject| %>
              <li class="with-dash">
                <div class="media">
                  <div class="media-left">
                    <%= link_to (forum_subject_path(forum_subject)) do %>
                        <%= image_tag forum_subject.forum_category.visual.square, class: 'media-object pull-left img-circle picture-adjusted' %>
                    <% end %>
                  </div>
                  <div class="media-body">
                    <%= link_to (forum_subject_path(forum_subject)) do %>
                        <h5 class="media-heading"><%= forum_subject.name %></h5>
                    <% end %>
                    <ul class="list-meta">
                      <li><span class="fa fa-eye"></span> <%= forum_subject.counter_cache %></li>
                      <li><span class="fa fa-reply-all"></span> <%= forum_subject.forum_answers.size %></li>
                      <li><%= nice_date(forum_subject.created_at) %></li>
                    </ul>
                  </div>
                </div>
          <% end %>


          </li>
        </ol>

      </div>

      <div class="tab-pane tab-bordered fade" id="forum_subjects-latest">
        <ol class="list-unstyled">
          <% last_forum_subjects = ForumSubject.all.limit(10) %>
          <% last_forum_subjects.each do |forum_subject| %>
              <li class="with-dash">

                <%= link_to (forum_subject_path(forum_subject)) do %>
                    <div class="media">
                      <div class="media-left">
                        <%= image_tag forum_subject.forum_category.visual.square, class: 'media-object pull-left img-circle picture-adjusted' %>
                      </div>
                      <div class="media-body">
                        <h5 class="media-heading"><%= forum_subject.name %></h5>
                        <ul class="list-meta">
                          <li><span class="fa fa-reply-all"></span> <%= forum_subject.forum_answers.size %> </li>
                          <li><%= nice_date(forum_subject.created_at) %></li>
                        </ul>
                      </div>
                    </div>
                <% end %>


              </li>
          <% end %>
        </ol>
      </div>
    </div>
      <!-- end top forum_subjects -->

  </div>
</div>

