<p id="notice"><%= notice %></p>

<p>
  <strong>Customer:</strong>
  <%= @like.customer %>
</p>

<p>
  <strong>Likeable:</strong>
  <%= @like.likeable %>
</p>

<%= link_to 'Edit', edit_like_path(@like) %> |
<%= link_to 'Back', likes_path %>
