<% provide(:title, @cycle.name) %>

<h1><%= @cycle.name %></h1>


<p>
  <strong><%= t('activerecord.attributes.cycle.description')%>:</strong>
  <%= sanitize(@cycle.description, scrubber: :prune) %>
</p>

<h2><%= (I18n.translate 'activerecord.models.level', count: 2).capitalize %></h2>

<ul id="cycle_levels">
<% @cycle.levels.each  do |lev| %>

    <li id="level_<%= lev.id %>">
      <%= link_to level_path(lev) do %>
        <%= lev.name %>
      <% end %>
    </li>

    <% end %>
</ul>
