<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @cycle.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @cycle.description.html_safe %>
</p>

<h3>Associated Levels</h3>
<ul id="levels_sortable" class="list-group sortable" data-update-url="<%= sort_levels_url %>">
<% @cycle.levels.each  do |lev| %>

    <li class="list-group-item" id="level_<%= lev.id %>">
      <a href="#" class="btn btn-success btn-sm handle"><span class="glyphicon glyphicon-sort" aria-hidden="true"></span> move</a>
        <%= lev.name %>,
        <%= lev.description %>
    </li>

    <% end %>
</ul>
<div class="btn-group">
  <%= link_to 'Edit', edit_cycle_path(@cycle), class: "btn btn-default" %>
  <%= link_to 'Back', cycles_path, class: "btn btn-default active" %>
</div>

