<% withcols ||= 'true' %>
<div class="<%= 'col-xs-6 col-sm-3' if withcols == 'true' %> customer_presentation" id="customer_presentation_<%= customer.id%>">
  <img class="media-object img-circle center-block customer-picture"
       data-customer="<%=customer.id %>"
       data-locality=  "<%= t('activerecord.attributes.customer.located', :locality => customer.locality||'???') %>"
       data-created="<%=t('activerecord.attributes.customer.since', :created => l(customer.created_at, :format => :short) )%>" alt="" src="<%= customer.picture %>" style="width:80px;">
    <div class="caption">
      <h5 class="media-heading two_lines"><%= customer.first_name %> <%= customer.name %></h5>

    <% if customer_signed_in? %>
      <% if current_customer.id != customer.id %>
      <h5>
      <div class="follow_form" id="follow_form_<%= customer.id%>">
        <% if current_customer.following?(customer) %>
            <%= link_to t('activerecord.attributes.peers.unfollow'), unfollow_peer_path(followed_id: customer.id), method: :delete, remote: true %>
        <% else %>
            <%= link_to t('activerecord.attributes.peers.follow'), follow_peer_path(followed_id: customer.id), method: :post, remote: true  %>
        <% end %>
      </div>
      </h5>

      <% else %>
          <h5>.</h5>
      <% end %>

    <% else %>
  <% end %>

      <!--- stars --->
        <%= render :partial =>"comments/show_stars", :locals => {:score => customer.score_comments, :nb_comments => customer.nb_comments,:simple => false} %>
      <!--- end stars --->



    </div>
</div>