<% withcols ||= 'true' %>
<% customer ||= @customer %>
<div class="<%= 'col-xs-6 col-sm-3 customer_presentation_'+customer.id.to_s if withcols == 'true' %> customer_presentation" id="customer_presentation_<%= customer.id%>">
  <!-- picture -->
  <div class="center-block">
    <img class="img-circle center-block customer-picture"
       data-customer="<%=customer.id %>"
       data-locality=  "<%= t('activerecord.attributes.customer.located', :locality => customer.locality.presence||'???') %>"
       data-created="<%=t('activerecord.attributes.customer.since', :created => l(customer.created_at, :format => :short) )%>" alt="" src="<%= customer.picture %>" style="width:80px;">
    </div>
  <!-- end picture -->
    <!--- name --->
    <div class="height_30 ellipsis">
      <h4><%= link_to "#{customer.first_name} #{customer.name}", customer_path(customer) %></h4>
    </div>
  <!--- name --->
    <!-- follow -->
    <div>
    <% if customer_signed_in? %>
      <% if current_customer.id != customer.id %>
      <h5>
      <div class="follow_form follow_form_<%= customer.id%>" id="follow_form_<%= customer.id%>">
        <% if current_customer.following?(customer) %>
            <%= link_to t('activerecord.attributes.peers.unfollow'), unfollow_peer_path(followed_id: customer.id), method: :delete, remote: true %>
        <% else %>
            <%= link_to t('activerecord.attributes.peers.follow'), follow_peer_path(followed_id: customer.id), method: :post, remote: true  %>
        <% end %>
      </div>
      </h5>

      <% else %>
          <h5>-</h5>
      <% end %>

    <% else %>
  <% end %>
      </div>
    <!-- end follow -->
      <!--- stars --->
    <div>
        <%= render :partial =>"comments/show_stars", :locals => {:score => customer.score_comments, :nb_comments => customer.nb_comments,:simple => false} %>
    </div>
    <!--- end stars --->



    </div>