<% withcols ||= 'true' %>
<% customer ||= @customer %>

<div class="<%= 'col-xs-6 col-sm-3' if withcols == 'true' %> customer_presentation_<%=customer.id.to_s%>" id="customer_presentation_<%= customer.id%>">
  <!-- picture -->
  <div class="center-block">
    <img class="img-circle center-block customer-picture"
       data-customer="<%=customer.id %>"
       data-locality=  "<%= t('activerecord.attributes.customer.located', :locality => customer.locality.presence||'???') %>"
       data-created="<%=t('activerecord.attributes.customer.since', :created => l(customer.created_at, :format => :short) )%>" alt="" src="<%= customer.picture %>" style="width:80px;">
    </div>
  <!-- end picture -->
    <!--- name --->
    <div class="height_40 ellipsis">
      <h5 class="height_40 ellipsis"><%= link_to "#{customer.first_name} #{customer.name}", customer_path(customer) %></h5>
    </div>
  <!--- name --->
    <!-- follow -->
    <div>
    <% if customer_signed_in? %>
      <% if current_customer.id != customer.id %>
      <div class="follow_form follow_form_<%= customer.id%>" id="follow_form_<%= customer.id%>">
        <% if current_customer.following?(customer) %>
            <%= render(partial: 'peers/unfollow',  locals: {:followed => customer, locale: locale} ) %>
        <% else %>
            <%= render(partial: 'peers/follow',  locals: {:followed => customer, locale: locale})  %>
        <% end %>
      </div>
      <!-- if customer is signed, direct link to his profile -->
      <% else %>
          <%= link_to(customer_path(customer), class: 'btn btn-default btn-sm' )  do %><i class="glyphicon glyphicon-user green" aria-hidden="true"></i> <%=t('page.my_profile')%><% end %>
      <% end %>

    <% else %>
  <% end %>
      </div>
    <!-- end follow -->
      <!--- stars --->
    <div>
        <%= render :partial =>"reviews/show_stars", :locals => {:score => customer.score_reviews, :nb_reviews => customer.nb_reviews,:simple => false} %>
    </div>
    <!--- end stars --->



    </div>