<% withcols ||= 'true' %>
<% customer ||= @customer %>

<div class="<%= 'col-xs-6 col-sm-3' if withcols == 'true' %> customer_presentation_<%=customer.id.to_s%>" id="customer_presentation_<%= customer.id%>">
  <div class="container-customer-lg">
    <!-- picture -->
    <div class="relative">
      <img rel="popover" class="img-circle center-block customer-picture-lg"
           data-customer=" <%=customer.id %>"
           data-locality="<%= t('activerecord.attributes.customer.located', :locality => customer.locality.presence||'???') %>"
           data-created="<%=t('activerecord.attributes.customer.since', :created => l(customer.created_at, :format => :short) )%>"
           alt="" src="<%= customer.picture %>" >
        <span class="top-right">
        <!-- follow -->
          <% if customer_signed_in? %>
              <% if current_customer.id != customer.id %>
              <div class="follow_form follow_form_<%= customer.id%>" id="follow_form_<%= customer.id%>">
                <% if current_customer.following?(customer) %>
                    <%= render(partial: 'peers/unfollow',  locals: {:followed => customer, locale: locale} ) %>
                <% else %>
                    <%= render(partial: 'peers/follow',  locals: {:followed => customer, locale: locale})  %>
                <% end %>
              </div>
              <!-- end follow -->
              <!-- if customer is signed, direct link to his profile -->
              <% else %>
                  <%= render(partial: 'customers/btn_edit', locals: {customer: customer}) %>
              <% end %>
          <% end %>
        </span>
    </div>
    <!-- end picture -->
    <!--- name --->
    <div class="text-center">
      <h4><%= link_to "#{customer.first_name} #{customer.name}", customer_path(locale: locale, id: customer.id) %></h4>
    </div>
    <!--- end  name --->
    <!--- stars --->
    <div class="text-center">
      <%= render :partial => 'reviews/show_stars', :locals => {:score => customer.score_reviews, :nb_reviews => customer.nb_reviews, :simple => false} %>
    </div>
    <!--- end stars --->


  </div>
</div>
