
<%= simple_form_for @customer do |f| %>
    <%= f.error_notification %>

    <div class="form-group">
      <% if @customer.new_record? %>
      <%= f.input :email, required: true, autofocus: true %>
      <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
      <%= f.input :password_confirmation, required: true %>
      <% end %>
      <%= f.input :language, :collection => LANGUAGES,:label => "Language" ,:include_blank => false %>
      <%= f.association :country, :include_blank => false %>
      <%= f.input :first_name %>
      <%= f.input :name %>
      <%= f.input :mobile, as: :tel %>

      <%= f.input :picture, :as => :image_preview %>
      <%= f.input :birthdate, as: :date_picker, input_html: {data: {date_options: {viewMode: 'years', showTodayButton: true}}} %>

      <%= f.input :formatted_address, :input_html => {:geocoding => 'formatted_address', class: 'geocoding_fulladdress'} %>
      <%= f.input :description, as: 'text', :input_html => {:class => 'summernote'} %>
      <div class="geo-details">
          <%= f.input :street_address, as: :hidden, :input_html => {:geocoding => 'name'} %>
          <%= f.input :administrative_area_level_1, as: :hidden, :input_html => {:geocoding => 'administrative_area_level_1'} %>
          <%= f.input :administrative_area_level_2, as: :hidden, :input_html => {:geocoding => 'administrative_area_level_2'} %>
          <%= f.input :postal_code, as: :hidden, :input_html => {:geocoding => 'postal_code'} %>
          <%= f.input :locality, as: :hidden, :input_html => {:geocoding => 'locality'} %>
          <%= f.input :lat, as: :hidden, :input_html => {:geocoding => 'lat'} %>
          <%= f.input :lng, as: :hidden, :input_html => {:geocoding => 'lng'} %>
      </div>

    </div>
    <div class="form-actions">
      <%= f.button :submit, class: 'btn btn-primary input-block-level form-control' %>
    </div>
<% end %>


