<div class="row">
  <div class="col-sm-3">
    <%= render('customers/customer', :customer => @customer, :withcols => 'false' ) %>

    <ul class="nav nav-pills nav-stacked">
      <li role="presentation"><%= link_to t('activerecord.attributes.customer.profile'), customer_path(@customer) %></li>
      <li role="presentation"><%= link_to t('activerecord.attributes.customer.wishes'), wish_list_customer_path %></li>
      <li role="presentation" class="active"><%= link_to t('activerecord.attributes.customer.followers'), circle_customer_path(@customer) %></li>
    </ul>


  </div>
  <div class="col-sm-9">
    <h4><%= t('activerecord.attributes.customer.followers') %></h4>
    <div class="tabs customer-tabs">
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#followers" role="tab" data-toggle="tab" aria-controls="description" aria-expanded="true"><%= t('activerecord.attributes.customer.followers') %></a></li>
        <li role="presentation" class=""><a href="#followeds" role="tab" data-toggle="tab" aria-controls="reviews" aria-expanded="false"><%= t('activerecord.attributes.customer.followeds') %></a></li>
      </ul>
      <div class="tab-content">
        <!--- followers --->
        <div role="tabpanel" class="tab-pane active in" id="followers">
          <br/>
          <div id="follower-list_<%=@customer.id%>">
            <!-- we alert for empty followeds -->
            <% if @customer.followers.count ==0 %>
                <%= render(partial: 'shared/dialog_alert', locals: {alert_message: t('dialog.customer.alert_no_followers')}) %>
            <% else %>
                <%= render(partial:'customers/customer', collection: @followers) %>
            <% end %>
          </div>
        </div>
        <!--- end followers --->
        <!--- followeds --->
        <div role="tabpanel" class="tab-pane" id="followeds">
          <br/>
          <div id="followed-list_<%=@customer.id%>">
            <!-- we alert for empty followeds -->
            <% if @customer.followeds.count ==0 %>
                <%= render(partial: 'shared/dialog_alert', locals: {alert_message: t('dialog.customer.alert_no_followeds')}) %>
            <% else %>
                <%= render(partial:'customers/customer', collection: @followeds) %>
            <% end %>
          </div>
        </div>
        <!--- end followeds --->
      </div>
    </div>
  </div>
</div>

