<h1>profile links</h1>
<h1>Sales</h1>
<%= line_chart OrderItem.group(:status).group_by_day(:created_at).count, id: 'OrderItems' %>
<%= area_chart Order.group(:status).group_by_day(:created_at).sum(:amount_paid), id: 'Orders' %>
<%= bar_chart Customer.group_by_week(:created_at).count, id: 'Users' %>
<h1>Orders</h1>
<h1>Favorite products</h1>
<h1>Followers</h1>
<%= render(partial:'customers/customer', collection: current_customer.followers) %>
<h1>Followeds</h1>
<div id="followed-list">
<%= render(partial:'customers/customer', collection: current_customer.followeds) %>
</div>

