<h1>Editing my profile</h1>

<%= render 'form' %>

<%= link_to 'Stripe oauth', stripe_oauth_path %> |

<%= link_to 'Stripe', stripe_standalone_path, :method => :post %> |

<%= link_to 'Show', @customer %> |
<%= link_to 'Back', customers_path %>
