<div class="row">
  <div class="col-md-3">
      <%= render('customers/customer', :customer => @customer, :withcols => 'false' ) %>

    <ul class="nav nav-pills nav-stacked">
      <li role="presentation" class="active"><a href='#'><%= t('activerecord.attributes.customer.profile') %></a></li>
      <li role="presentation"><%= link_to t('activerecord.attributes.customer.wishes'), wish_list_customer_path %></li>
      <li role="presentation"><%= link_to t('activerecord.attributes.customer.followers'), circle_customer_path(@customer) %></li>
      <li role="presentation"><%= link_to t('activerecord.attributes.customer.comments'), comments_list_customer_path(@customer) %></li>
    </ul>


  </div>
  <div class="col-md-9">
    <h1><%= t('activerecord.attributes.customer.profile') %>
      <!--- list of actions --->
      <% if (customer_signed_in? && current_customer.id == @customer.id) %>
            <%= link_to(t('actions.update'), edit_customer_path(current_customer), class: 'btn btn-default btn-sm' ) %>
      <% end %>
      <!--- end list of actions --->
    </h1>
    <blockquote>
      <%= raw(@customer.description) %>
    </blockquote>
    <h3><%= (I18n.translate 'activerecord.models.product', count: 2).capitalize %></h3>
      <!-- products of the customer -->
      <div id="products_customer">
        <!-- we alert for empty followeds -->
        <% if @products.count ==0 %>
            <%= render(partial: 'shared/dialog_alert', locals: {alert_message: t('dialog.customer.alert_empty_products')}) %>
        <% else %>
            <div id="catalog-products" class="row">

              <%= render(partial:'products/product', collection: @products) %>


            </div>

            <div id="infinite-scrolling-products-disabled" class="row">
              <%= will_paginate(@products, :renderer => 'BootstrapPaginationHelper::LinkRenderer') %>
            </div>


        <% end %>

      </div>
    </div>
</div>

