<div class="row">
  <div class="col-md-2">
    <div class="row">
      <%= render('customers/customer', :customer => @customer, :withcols => 'false' ) %>
    </div>

    <ul class="nav nav-pills nav-stacked">
      <li role="presentation" class="active"><a href="#"><%= t('activerecord.attributes.customer.profile') %></a></li>
      <li role="presentation"><a href="#">Favorite</a></li>
      <li role="presentation"><%= link_to t('activerecord.attributes.customer.followers'), circle_customer_path(@customer) %></li>
    </ul>


  </div>
  <div class="col-md-4">
    <h4><%= t('activerecord.attributes.customer.profile') %>
      <!--- list of actions --->
      <small>
            <%= link_to t('actions.update'), edit_customer_path(current_customer) if (customer_signed_in? && current_customer.id = @customer.id) %>
      </small>
      <!--- end list of actions --->
    </h4>
    <b>About</b>
    <blockquote>
      <%= raw(@customer.description) %>
    </blockquote>
    <mark>

    </mark>
  </div>
  <div class="col-md-6">
    <h4><%= (I18n.translate 'activerecord.models.product', count: 2).capitalize %></h4>
    <% @customer.products.active.each do |product| %>
        <%= render "products/product", :product => product %>
    <% end %>
  </div>
</div>

