<div class="panel panel-default">
  <div class="panel-heading">
    <img class="center-block" src="/images/accepted_cards.png">
  </div>
  <div class="panel-body">
    <%= form_tag(checkout_confirmation_path, method: 'get', id:'stripe-form', data: {locale: 'fr'}) do |f| %>
        <div class="row">
          <div class="col-xs-12">
            <span class="payment-errors"></span>
            <div class="form-group">
              <%= label_tag t('activerecord.attributes.payment.card_number'), nil, required: true %>
              <div class="input-group">
                <input type="text" size="20" class="form-control cc-number" data-stripe="number" autocomplete="cc-number" placeholder="•••• •••• •••• ••••">
                <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-8 col-md-8">
            <div class="form-group">
              <%= label_tag t('activerecord.attributes.payment.expiration_date'), nil, required: true %><br>
              <div class="col-xs-6 col-lg-6 pl-ziro">
                <%= select_month(Date.today, {use_two_digit_numbers: true},  class: 'form-control', data: {stripe: "exp-month"}) %>
              </div>
              <div class="col-xs-6 col-lg-6 pl-ziro">
                <%= select_year(Date.today.year, {start_year: Date.today.year, end_year: Date.today.year + 10}, class: 'form-control', data: {stripe: "exp-year"}) %>
              </div>
            </div>
          </div>
          <div class="col-xs-4 col-md-4 pull-right">
            <div class="form-group">
              <%= label_tag t('activerecord.attributes.payment.cv_code'), nil, required: true %>
              <%= password_field_tag :cvCode, nil, :class=> "form-control", :placeholder=> "CV", "data-stripe" => "cvc"%>
            </div>
          </div>
        </div>
        <!---
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="couponCode">COUPON CODE</label>
            <input type="text" class="form-control" name="couponCode" />
          </div>
        </div>
      </div>
      -->
        <div class="row">
          <div class="col-xs-12">
            <%= submit_tag t('helpers.action.pay'), class: "btn btn-success btn-lg btn-block" %>
          </div>
        </div>
        <div class="row" style="display:none;">
          <div class="col-xs-12">
            <p class="payment-errors"></p>
          </div>
        </div>
    <% end %>
  </div>
</div>