%table.table
  %thead
    %tr
      %td Item
      %td Price
      %td Tax
      %td Sub-Total
  %tbody
    - for item in order.order_items
      %tr
        %td.product
          = item.product.name
          - unless defined?(readonly)
            = link_to "Remove from Cart", item, remote: true, method: :delete, data: {confirm: "Remove from Cart: #{item.product.name}"}, class: "btn btn-danger"
        %td.money.price= number_to_currency item.sub_total
        %td.money.tax= number_to_currency item.tax_amount
        %td.money.total= number_to_currency item.total
  %tfoot
    %tr.subtotal
      %td{:colspan => 3} Total (excluding tax)
      %td.money= number_to_currency order.total_before_tax
    %tr.tax
      %td{:colspan => 3}= 'Tax'
      %td.money= number_to_currency order.tax
    %tr.total
      %td{:colspan => 3} Total
      %td.money= number_to_currency order.total
