<h2>Your Shopping Bag</h2>

<div class="chekout">
  <p>intro</p>
  <p>The items listed below are currently in your shopping bag. If you're ready to place your order
    just click the 'Checkout' button on the right and we'll ask for a few details and place the order.</p>
  <table class="table">
    <thead>
    <tr>
      <th>Product</th>
      <th>Price</th>
      <th>Tax rate</th>
      <th>Tax amount</th>
      <th>Order</th>
      <th colspan="1"></th>
    </tr>
    </thead>

    <tbody>
    <% @order.order_items.each do |order_item| %>
        <tr>
          <td><%= order_item.product.id %></td>
          <td><%= order_item.sub_total %></td>
          <td><%= order_item.tax_rate %></td>
          <td><%= order_item.tax_amount %></td>
          <td><%= order_item.order.id %></td>
          <td><%= link_to 'Destroy', remove_basket_item_path(order_item.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
    <% end %>
    </tbody>
  </table>

  <%= link_to 'continue shopping', products_path %>
</div>
