<% provide(:title, I18n.translate('dialog.shop.checkout')) %>



<script type="text/javascript">
    Stripe.setPublishableKey('<%= Rails.application.secrets.stripe_publishable_key %>');
</script>

<h1><%= t('dialog.shop.checkout') %></h1>
<h3><span class="fa fa-lock green"></span> <%= t('dialog.shop.securized_payment')%></h3>

<%= current_order.status if Rails.env.development? %>
<%= current_order.total if Rails.env.development? %>
<%= current_order.amount_paid if Rails.env.development? %>


<div class="row">

  <div class="col-xs-12 col-md-8">
    <div class="panel panel-default">
      <div class="panel-body">
          <div class="row">
            <div id="orderitem-dropped">
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <div id="order_items_index">
                <%= render(partial: 'order_items/order_item', collection: current_order.order_items) %>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>

  <% stripe_cards = current_customer.stripe_cards %>


  <div class="col-xs-12 col-md-4">
    <% if stripe_cards.count == 0 %>
        <%= render 'orders/new_card' %>
    <% else %>
        <div class="tabs mycards-tabs">
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#my_cards" role="tab" data-toggle="tab" aria-controls="description" aria-expanded="true"><span class="glyphicon glyphicon-user green"></span> <%= t('dialog.shop.my_cards')%></a></li>
            <li role="presentation" class=""><a href="#new_card" role="tab" data-toggle="tab" aria-controls="reviews" aria-expanded="false"><%= t('dialog.shop.other_card')%></a></li>
          </ul>
          <div class="tab-content">
            <!--- Existing Cards --->
            <div role="tabpanel" class="tab-pane active in" id="my_cards">
              <br/>
              <div id="customer-products" class="row">

                <ul>
                  <% current_customer.stripe_cards.each do |card| %>
                      <li class="list-unstyled">
                        <h4>
                              <span class="fa fa-credit-card"></span> (<%= card.brand %>) **** <%= card.last4 %>
                          <%= link_to t('helpers.action.pay')+' '+ nice_price(current_order.total), checkout_confirmation_path(stripeToken: card.stripe_id), class: 'btn btn-success' %>

                        </h4>
                      </li>
                  <% end %>
                </ul>


              </div>

            </div>
            <!--- end Existing Cards --->
            <!--- New Card --->
            <div role="tabpanel" class="tab-pane" id="new_card">
              <%= render 'orders/new_card' %>
            </div>
            <!--- end New Card --->
          </div>
        </div>
    <% end %>



  </div>

</div>

<div class="row">
    <%= render 'stripe/powered_by_stripe' %>
</div>



</div>

<div id="orderitem-modal" class="modal fade"></div>