<h2><%= t('page.my_orders')%></h2>

<table class ='table table-striped'>
  <thead>
  <tr>
    <th><%= sortable_bootstrap "id" %></th>
    <th><%= sortable_bootstrap "status", t('activerecord.attributes.order.status') %></th>
    <th><%= sortable_bootstrap "created_at", t('activerecord.attributes.creation_date') %></th>
    <th><%= sortable_bootstrap "amount_paid", t('activerecord.attributes.order.amount_paid')  %></th>
    <th colspan="1"></th>
  </tr>
  </thead>

  <tbody>
  <% if @orders.blank? %>
    MESSAGE : no Order
  <% end %>
  <% @orders.each do |order| %>
      <tr>
        <td><%= link_to order.id, order %></td>
        <td><%= nice_status(order.status) %></td>
        <td><%= nice_date(order.created_at) %></td>
        <td><%= nice_price(order.amount_paid) %></td>
      </tr>
  <% end %>
  </tbody>
</table>

