<table class ='table'>
  <thead>
  <tr>
    <th><%= sortable_bootstrap "status" %></th>
    <th><%= sortable_bootstrap "created_at", 'Creation date' %></th>
    <th><%= sortable_bootstrap "price", 'Price' %></th>
    <th colspan="1"></th>
  </tr>
  </thead>

  <tbody>
  <% @orders.each do |order| %>
      <tr>
        <td><%= order.status %></td>
        <td><%= nice_date(order.created_at) %></td>
        <td><%= nice_price(order.amount_paid) %></td>
        <td>
          <div class="btn-group pull-right">
            <%= link_to 'Show', order, class: "btn btn-default active" %>
          </div>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

