<p id="notice"><%= notice %></p>


<p>
  <strong>Customer:</strong>
  <%= @order.customer %>
</p>

<p>
  <strong>Customer Name:</strong>
  <%= @order.customer.name %>
</p>

<p>
  <strong>Customer FirstName:</strong>
  <%= @order.customer.first_name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @order.status %>
</p>


<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
