<%= simple_form_for(@payment) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :order %>
    <%= f.input :amount %>
    <%= f.input :reference %>
    <%= f.input :confirmed %>
    <%= f.input :refundable %>
    <%= f.input :amount_refunded %>
    <%= f.input :parent_payment_id %>
    <%= f.input :exported %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
