<!-- we have Articles associated to Topic -->
<% @categories = @object.categories %>

<h3><%= (I18n.translate 'activerecord.models.category', count: 2).capitalize %></h3>
<ol id="articles_sortable" class="list-group sortable" data-update-url="<%= main_app.sort_categories_path %>">
  <% @categories.each do |category| %>

      <li class="list-group-item" id="category_<%=category.id%>">
        <%= link_to '#', class: "btn btn-success" do %>
            <span class="fa fa-move handle"> move</span>
        <% end %>
        <%= category.name %>
      </li>
  <% end %>
</ol>

