<!-- we have Cycles associated to Country -->
<% @cycles = @object.cycles %>

<h3><%= (I18n.translate 'activerecord.models.cycle', count: 2).capitalize %></h3>
<ol id="cycles_sortable" class="list-group sortable" data-update-url="<%= main_app.sort_cycles_path %>">
  <% @cycles.each do |cycle| %>

      <li class="list-group-item" id="cycle_<%=cycle.id%>">
        <%= link_to '#', class: "btn btn-success" do %>
            <span class="fa fa-sort handle"> move</span>
        <% end %>
        <%= cycle.name %>
      </li>
  <% end %>
</ol>

<!-- we have Families associated to Country -->
<% @families = @object.families %>

<h3><%= (I18n.translate 'activerecord.models.family', count: 2).capitalize %></h3>
<ol id="families_sortable" class="list-group sortable" data-update-url="<%= main_app.sort_families_path %>">
  <% @families.each do |family| %>

      <li class="list-group-item" id="cycle_<%=family.id%>">
        <%= link_to '#', class: "btn btn-success" do %>
            <span class="fa fa-sort handle"> move</span>
        <% end %>
        <%= family.name %>
      </li>
  <% end %>
</ol>

<!-- we have Topics associated to Country -->
<% @topics = @object.topics %>

<h3><%= (I18n.translate 'activerecord.models.topic', count: 2).capitalize %></h3>
<ol id="topics_sortable" class="list-group sortable" data-update-url="<%= main_app.sort_topics_path(:locale => locale) %>">
  <% @topics.each do |topic| %>

      <li class="list-group-item" id="topic_<%=topic.id%>">
        <%= link_to '#', class: "btn btn-success" do %>
            <span class="fa fa-sort handle"> move</span>
        <% end %>
        <%= topic.name %>
      </li>
  <% end %>
</ol>

<!-- we have ForumFamilies associated to Country -->
<% @forum_families = @object.forum_families %>

<h3><%= (I18n.translate 'activerecord.models.forum_family', count: 2).capitalize %></h3>
<ol id="forum_families_sortable" class="list-group sortable" data-update-url="<%= main_app.sort_forum_families_path %>">
  <% @forum_families.each do |forum_family| %>

      <li class="list-group-item" id="forum_family_<%=forum_family.id%>">
        <%= link_to '#', class: "btn btn-success" do %>
            <span class="fa fa-sort handle"> move</span>
        <% end %>
        <%= forum_family.name %>
      </li>
  <% end %>
</ol>
