<h3><%= (I18n.translate 'activerecord.models.customer', count: 2).capitalize %></h3>
<%= line_chart main_app.created_customers_chart_path, id: 'CreatedCustomersChart' %>

<h3>Sign In</h3>
<%= line_chart main_app.sign_in_customers_chart_path, id: 'SignInCustomerChart' %>

<h3><%= (I18n.translate 'activerecord.models.review', count: 2).capitalize %></h3>
<%= line_chart main_app.created_reviews_chart_path, id: 'CreatedReviewsChart' %>
