<tr>
  <td><%= image_tag item_invoice.product.preview, class: 'img-thumbnail center-block' %></td>
  <td><%= item_invoice.product.name %></td>
  <td><%= item_invoice.product.nbpages %></td>
  <td><%= nice_price(item_invoice.tax_amount) %></td>
  <td><%= nice_price(item_invoice.price) %></td>
</tr>
