
  <div id="order_items_actions">
    <%= link_to t('dialog.shop.continue_shoping'), catalog_products_path, class: 'btn btn-primary btn-sm margined-vertical' %>
    <%= link_to checkout_path, class: 'btn btn-success pull-right margined-vertical' do %><i class="fa fa-shopping-cart"></i> <%= t('dialog.shop.checkout') %><% end %>
  </div>

  <div class="divider divider-short divider-border divider-center"><i class="fa fa-shopping-basket"></i></div>

  <div class="new-orderitem"></div>

  <div id="orderitem-dropped">
  </div>

  <ol id="order_items_index" class="list-unstyled">
      <%= render(partial: 'order_items/order_item', collection: @order_items) %>
  </ol>


  <!--- list of associated products --->
  <div class="row">
    <% associated_products = Product.associated_products(@products) %>
    <div class="col-xs-12">
      <h3><%= t('activerecord.attributes.product.similar') unless associated_products.count==0 %></h3>
    </div>
    <% associated_products.each do |associated| %>
        <%= render(partial: 'products/product_cart', locals: {:product => associated}) %>
    <% end %>
  </div>
  <!--- end list of associated products --->




<div id="orderitem-modal" class="modal fade"></div>