<p id="notice"><%= notice %></p>

<h1>Listing Countries</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Code2</th>
      <th>Code3</th>
      <th>Continent</th>
      <th>Tld</th>
      <th>Currency</th>
      <th>Eu member</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @countries.each do |country| %>
      <tr>
        <td><%= country.name %></td>
        <td><%= country.code2 %></td>
        <td><%= country.code3 %></td>
        <td><%= country.continent %></td>
        <td><%= country.tld %></td>
        <td><%= country.currency %></td>
        <td><%= country.eu_member %></td>
        <td><%= link_to 'Show', country %></td>
        <td><%= link_to 'Edit', edit_country_path(country) %></td>
        <td><%= link_to 'Destroy', country, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Country', new_country_path %>
