<% provide(:title, @country.name) %>

<h1><%= @country.name %></h1>

<!-- we have Cycles associated to Country -->
<% @cycles = @country.cycles %>

<h2><%= (I18n.translate 'activerecord.models.cycle', count: 2).capitalize %></h2>
<ul id="country_cycles">
  <% @cycles.each do |cycle| %>

      <li id="cycle_<%=cycle.id%>">
        <%= link_to cycle_path(cycle) do %>
            <%= cycle.name %>
        <% end %>
      </li>
  <% end %>
</ul>

<!-- we have Families associated to Country -->
<% @families = @country.families %>

<h2><%= (I18n.translate 'activerecord.models.family', count: 2).capitalize %></h2>
<ul id="country_families">
  <% @families.each do |family| %>

      <li id="cycle_<%=family.id%>">
        <%= link_to family_path(family) do %>
            <%= family.name %>
        <% end %>
      </li>
  <% end %>
</ul>

<!-- we have Topics associated to Country -->
<% @topics = @country.topics %>

<h2><%= (I18n.translate 'activerecord.models.topic', count: 2).capitalize %></h2>
<ul id="country_topics">
  <% @topics.each do |topic| %>

      <li id="topic_<%=topic.id%>">
        <%= link_to topic_path(topic) do %>
        <%= topic.name %>
        <% end %>
      </li>
  <% end %>
</ul>
