<%
   with_body ||= false
   with_cols ||= false
%>

<div class="post-panel <%= 'col-md-4' if with_cols %>">
  <div class="panel">
  <div style="clear:both;">
      <%= link_to(post_path(post), class: 'pull-left relative') do %>
          <%= image_tag post.preview, class: 'img-responsive' %>
          <span class="bottom-right white">
        <small><%= "#{post.customer.first_name} #{post.customer.name}"%></small>
            <%= image_tag post.customer.picture, class: 'img-circle customer-picture-xs bg-white' %>
      </span>
      <% end %>
  </div>
  <% if with_body %>
    <div class="post-content padded-content ellipsis" id="panel_post_<%=post.id%>">
      <p class="post-date"><small><%= nice_date(post.created_at)%></small></p>
      <div>
        <%= link_to (post_path(post)) do %>
            <h3><%= post.name %></h3>
        <% end %>
        <% if with_body %>
              <div class="post-description"><%= raw(post.description) %></div>
        <% end %>
      </div>
    </div>
  <% else %>
      <div class="post-content-short padded-content ellipsis" id="panel_post_<%=post.id%>">
        <p class="post-date"><small><%= nice_date(post.created_at)%></small></p>
        <div>
          <%= link_to (post_path(post)) do %>
              <h3><%= post.name %></h3>
          <% end %>
        </div>
      </div>
  <% end %>
  <p class="post-read-next"><%= link_to (post_path(post)) do %><small><%= t('dialog.read_next')%></small><% end %></p>
  </div>
</div>
