<div class="col-md-4">
  <%= link_to (post_path(post)) do %>
      <%= image_tag 'http://fakeimg.pl/300x150/', class: "img-responsive" %>
  <% end %>
      <p><small><%= "#{post.customer.first_name} #{post.customer.name}"%> <%= image_tag post.customer.picture, style: 'height:50px', class: 'img-circle pull-left' %></small></p>
      <p><small><%= nice_date(post.created_at)%></small></p>
  <%= link_to (post_path(post)) do %>
      <h3><%= post.name %></h3>
  <% end %>
      <div class="ellipsis" style="height:150px;">
        <p><%= raw(post.description) %></p>
      </div>

</div>
