<div class="row">
  <div class="col-xs-12">
<div class="pull-right">
  <!-- like it! -->
  <% if customer_signed_in? %>
      <% if post.liked?(current_customer) %>
          <%= render(partial: 'likes/unlike', locals: {context: post}, locale: locale) %>
      <% else %>
          <%= render(partial: 'likes/like', locals: {context: post}, locale: locale) %>
      <% end %>
  <% end %>
  <!-- end like it! -->

  <div class="pull-right" style="height: 30px">
    <%= link_to new_comment_path(:post_id => post.id),
                title: t('activerecord.models.comment.other'),
                data: {toggle: 'tooltip', placement: 'left'},
                :remote => true,
                class: 'btn-tool btn pull-right' do %>
        <span class="fa fa-comments fa-lg"></span> <span class="badge"><%= post.comments.count unless post.comments.count ==0 %></span>
    <% end %>
  </div>


  <% if post.owned?(current_customer) %>
    <div class="pull-right" style="height: 30px">
      <%= link_to edit_post_path(post),
                  title: t('helpers.action.edit'),
                  data: {toggle: 'tooltip', placement: 'left'},
                  class: 'btn-tool btn pull-right' do %>
          <span class="fa fa-pencil fa-lg"></span>
      <% end %>
    </div>
  <% end %>

</div>

  </div>
</div>
