<% provide(:title, (I18n.translate 'activerecord.models.post', count: 2).capitalize) %>



<!-- Image Header -->
<% content_for :slider do %>
    <div class="img-header parallaxed home_6 bg-inverse" data-stellar-background-ratio="1.5">
      <div class="slider-caption">
        <h1><%= t('activerecord.models.post', count: 2).capitalize %></h1>
      </div>
    </div>
<% end %>
<!-- /.row -->
<!-- new Post -->
<% if customer_signed_in? %>
    <div class="row">
      <div class="col-xs-12">
        <%= link_to new_post_path, class: 'btn btn-primary pull-right margined-vertical' do %><span class="fa fa-pencil fa-lg"></span> <%= t('helpers.action.post.create') %><% end %>
      </div>
    </div>
<% end %>
<!-- end new Post -->


<div id="index-posts" class="row">
  <% @posts.each do |post| %>
      <%# cache post do %>
        <%= render(:partial => 'posts/post', locals: {post: post, with_body: true, with_cols: true}) %>
      <%# end %>
  <% end %>
</div>

 <div id="infinite-scrolling-posts" class="row">
  <%= will_paginate(@posts, :renderer => 'BootstrapPaginationHelper::LinkRenderer') %>
 </div>
