<% provide(:title, (I18n.translate 'activerecord.models.post', count: 2).capitalize) %>



<!-- Image Header -->
<div class="parallaxed banner_6" data-stellar-background-ratio="0.5"><span>
    <h1><%= t('activerecord.models.post', count: 2).capitalize %></h1>
</span>
</div>
<!-- /.row -->
<!-- new Post -->
<% if customer_signed_in? %>
    <div class="row">
      <div class="col-xs-12" style="padding-bottom: 10px;">
        <%= link_to new_post_path, class: 'btn btn-primary pull-right' do %><span class="fa fa-pencil fa-lg"></span> <%= t('actions.posts.new') %><% end %>
      </div>
    </div>
<% end %>
<!-- end new Post -->

<div id="index-posts" class="row">
  <% @posts.each do |post| %>
      <%# cache post do %>
        <%= render(:partial => 'posts/post', locals: {post: post, with_body: true, with_cols: true}) %>
      <%# end %>
  <% end %>
</div>

 <div id="infinite-scrolling-posts" class="row">
  <%= will_paginate(@posts, :renderer => 'BootstrapPaginationHelper::LinkRenderer') %>
 </div>
