<% provide(:title, (I18n.translate 'activerecord.models.article', count: 1).capitalize + ' | ' + @post.name ) %>


<h1><%= @post.name %></h1>
<div class="row">
  <div class="col-xs-12">

<% customer = @post.customer %>
<%= image_tag(
            @post.customer.picture,
            class: 'pull-left img-circle customer-picture img-80',
            data: {
                    customer: customer.id,
                    locality:  t('activerecord.attributes.customer.located', :locality => customer.locality.presence||'???'),
                    created: t('activerecord.attributes.customer.since', :created => l(customer.created_at, :format => :short))
            })

    %>
    <div class="pull-left">
      <p class="lead"><%= "#{@post.customer.first_name} #{@post.customer.name}"%></p>
      <p><%= nice_date(@post.created_at)%></p>
    </div>

  </div>
</div>
<div class="row">
  <div class="col-md-8">


<!-- tools -->
<%= render(partial: 'posts/tools', locals: {post: @post}) %>
<!-- end tools -->

<%# image_tag 'http://fakeimg.pl/1200x600/', class: 'img-responsive' %>
    <div class="relative">
      <%= image_tag @post.visual, class: 'img-responsive' %>
      <!-- counter views -->
      <span class="bottom-right">
        <span class="btn btn-default">
          <span class="fa fa-eye fa-lg"></span> <span class="badge"><%= @post.counter_cache unless @post.counter_cache ==0 %></span>
        </span>
      </span>
      <!-- end counter views -->
    </div>

<p>
  <%= raw(@post.description) %>
</p>

<!-- tools -->
<%= render(partial: 'posts/tools', locals: {post: @post}) %>
<!-- end tools -->

<h2><%= t('activerecord.models.comment', count: 2)%></h2>

    <!-- comments -->
    <div id="comment-form_post_<%= @post.id %>"></div>
        <!-- alert if empty -->
        <% if @post.comments.count==0 %>
            <!-- add alert with call action to add comment -->
            <%= render(partial: 'shared/dialog_alert', locals: {alert_message: t('dialog.comment.alert_add')}) %>
        <% else %>
            <% @post.comments.each do |comment|%>
                <%= render(partial: 'comments/comment', locals: {comment: comment}) %>
            <% end %>
        <% end %>

      </div>
    <!-- end comments -->
  <div class="col-md-4">
    <%= link_to posts_path do %>
        <h2><%= t('activerecord.models.post.all') %></h2>
    <% end %>
    <h2><%= t('dialog.post.populars')%></h2>
    <div class="most-viewed-posts">
    <ol class="list-unstyled">
      <% @top_posts.each do |post| %>
          <li class>

            <%= link_to (post_path(post)) do %>
                <h3><i class="fa fa-star-o fa-1x active-star"></i>

            </span><%= post.name %></h3>
            <% end %>

            <%# render(:partial => 'posts/post', locals: {post: post, with_body: false, with_cols: false}) %>
          </li>
      <% end %>
    </ol>
    </div>
  </div>

</div>


<h2><%= t('dialog.post.other_posts', :customer => @post.customer.full_name) %></h2>
<div class="row">
  <% @post.customer.posts.each do |post| %>
    <%= render(partial: 'posts/post', locals: {post: post, with_body: false, with_cols: true}) unless post.id == @post.id %>
  <% end %>
</div>

