<% provide(:title, (I18n.translate 'activerecord.models.article', count: 1).capitalize + ' | ' + @post.name ) %>


<h1><%= @post.name %></h1>
<% customer = @post.customer %>
<p><%= "#{@post.customer.first_name} #{@post.customer.name}"%>
  <%= image_tag(
              @post.customer.picture,
              style: 'height:50px',
              class: 'img-circle pull-left customer-picture',
                data: {
                        customer: customer.id,
                        locality:  t('activerecord.attributes.customer.located', :locality => customer.locality.presence||'???'),
                        created: t('activerecord.attributes.customer.since', :created => l(customer.created_at, :format => :short))
                },
                style: "width:80px;")

  %></p>
<p><%= nice_date(@post.created_at)%></p>
<hr>
<div class="pull-right">
  <!-- like it! -->
  <% if customer_signed_in? %>
      <% if @post.liked?(current_customer) %>
          <%= render(partial: 'likes/unlike', locals: {context: @post}, locale: locale) %>
      <% else %>
          <%= render(partial: 'likes/like', locals: {context: @post}, locale: locale) %>
      <% end %>
  <% end %>
  <!-- end like it! -->

  <%= link_to '#', class: 'btn pull-right' do %>
      <span class="fa fa-comments fa-2x"></span>
  <% end %>

  <%= link_to edit_post_path(@post), class: 'btn pull-right' do %>
      <span class="fa fa-pencil fa-2x"></span>
  <% end %>
</div>
<hr>

<%= image_tag 'http://fakeimg.pl/1200x600/', class: 'img-responsive' %>

<p>
  <%= raw(@post.description) %>
</p>

<!-- like it! -->
<% if customer_signed_in? %>
      <% if @post.liked?(current_customer) %>
          <%= render(partial: 'likes/unlike', locals: {context: @post}, locale: locale) %>
      <% else %>
          <%= render(partial: 'likes/like', locals: {context: @post}, locale: locale) %>
      <% end %>
<% end %>
<!-- end like it! -->
 |
<%= link_to 'Add Comment', '#', class: 'btn btn-default' %> |

<%= link_to 'Back', posts_path, class: 'btn btn-default' %>

<h2>Other Posts from <%= @post.customer.name %></h2>
<div class="row">
  <% @post.customer.posts.each do |post| %>
    <%= render(partial: 'posts/post', locals: {post: post}) unless post.id == @post.id %>
  <% end %>
</div>

