<%= simple_form_for (@abuse) do |f| %>
  <%= f.error_notification %>

    <%= f.input :description %>
    <%= tag(:input, name: @context.class.to_s.downcase+'_id', type: 'hidden', value: @context.id)%>
  <div class="form-actions">
    <%= f.submit  @abuse.new_record? ? t('actions.create') : t('actions.update'), :class => "btn btn-primary" %>
    <%= f.button :submit %>
  </div>
<% end %>
