<h2><%= t('.resend_unlock_instructions') %></h2>

<%= simple_form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
    <%= f.error_notification %>

    <%= f.input :email, :as => :email, autofocus: true %>

    <div class="form-actions">
      <%= f.submit t('.resend_unlock_instructions'), class: 'btn btn-primary input-block-level form-control' %>
    </div>

<% end %>

<%= render "customers/shared/links" %>


