<% is_first ||=false %>
<% if f.object.new_record?  %>
    <div class="nested-fields col-sm-4 col-md-4 panel-product" id="attachment_<%=f.object.id%>">
      <div class="thumbnail" >
        <%= image_tag "empty_file.png", class: 'img-responsive panel-image-product' %>
        <div class="caption caption-file">
            <%= f.input :file, as: :attachment_preview %>
            <%= f.input :file_cache, as: :hidden  %>
            <!--- only when remove_ok flag is received we activate the link to remove --->
            <% unless is_first %>
            <%= link_to_remove_association t('dialog.product.remove_version'), f, class: 'btn btn-danger btn-sm center-block' %>
                <% end %>
            </div>
        </div>
    </div>

<% else %>
    <div class="nested-fields col-sm-4 col-md-4 panel-product" id="attachment_<%=f.object.id%>" style="height:590px">
      <!--- we put the anchor on thumbnail --->
      <div class="thumbnail" >
        <% attachment = f.object %>
        <%= image_tag f.object.file.url(:preview), class: 'img-responsive panel-image-product' %>
        <div class="caption caption-file">
          <h4><%= t('activerecord.attributes.attachment.detail')%></h4>
          <h6><strong><%= t('activerecord.attributes.creation_date')%> : </strong><%= nice_date(attachment.created_at) %></h6>
          <h6><strong><%= t('activerecord.attributes.attachment.file_size')%> : </strong><%= attachment.file_size %></h6>
          <h6><strong><%= t('activerecord.attributes.attachment.file_type')%> : </strong><%= attachment.file_type %></h6>
          <h6><strong><%= t('activerecord.attributes.attachment.nbpages')%> : </strong><%= attachment.nbpages %></h6>
          <h6><strong><%= t('activerecord.attributes.attachment.version_number')%> : </strong><%= attachment.version_number||0.0.round %></h6>
          <!--- only when remove_ok flag is received we activate the link to remove --->
          <% unless is_first %>
              <%= link_to_remove_association t('dialog.product.remove_version'), f, class: 'btn btn-danger btn-sm center-block' %>
          <% else %>
              <%= button_tag t('dialog.product.active_version'), class: 'btn btn-success btn-sm center-block' %>
          <% end %>
        </div>
      </div>
    </div>
<% end %>


