
<%= simple_form_for @product do |f| %>



    <!-- http://davidlesches.com/blog/rails-nested-forms-using-jquery-and-simpleform -->
    <%= f.error_notification %>

    <% if @product.errors.full_messages.size > 0 %>
        <ul class='alert alert-danger'>
          <% @product.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
          <% end %>
        </ul>
    <% end %>




    <div class="row">
      <div class="col-md-3">
        <!--- Categories List --->
        <%= render(partial: 'categories_list', locals: {f: f, country: @country})  %>

        <!--- Levels List -->
        <%= render(partial: 'levels_list', locals: {f: f, country: @country})  %>

      </div>
      <div class="col-md-9">

        <!--- Attachments --->
        <!--- only the first element can not be removed from the existing list -->
        <% is_first= true %>
        <div class="row sortgrid", id="product_attachments" data-update-url="<%= sort_attachments_path %>">
          <% unless @product.new_record?  %>
              <div class="col-sm-4 col-md-4" style="height:590px">

                <%= link_to_add_association t('dialog.product.add_version'), f, :attachments, class: 'btn btn-primary center-block' %>
                <p><i class="fa fa-reply fa-2x guiding"></i> <%= t('dialog.product.explain_add_version') %></p>
                <p><i class="fa fa-share fa-2x guiding"></i> <%= t('dialog.product.explain_order_version')%></p>
                <p><i class="fa fa-hand-pointer-o fa-2x guiding"></i> <%= t('dialog.product.explain_drag_version')%></p>

                <h4><%= t('dialog.product.explain_save') %></h4>

          </div>
          <% end %>
              <!--- list all already existing attachments --->
          <%= f.simple_fields_for :attachments do |att| %>
              <%= render(partial: 'products/attachment_fields', locals: {f: att, is_first: is_first }) %>
              <% is_first = false %>
          <% end %>
          <!-- end list existing attachments --->
        </div>
        <!-- end attachments -->

        <%= f.input :name, hint: t('activerecord.attributes.product.hint_name') %>
        <%= f.input :description, as: 'text', :input_html => {:class => 'summernote'}, placeholder: t('activerecord.attributes.product.place_description'), hint: t('activerecord.attributes.product.hint_description') %>
        <%= f.input :active, hint: t('activerecord.attributes.product.hint_active') %>
        <!-- price can be set only if Stripe is ok -->
        <% if(current_customer.stripe_account.nil?) %>
            <%= render(partial: 'stripe/alert_missing_stripe') %>
            <%= f.input :price, :collection => [nil].collect {|p| [ nice_price(p), p ] },hint: t('activerecord.attributes.product.hint_price'), include_blank: false %>
        <% else %>
            <%= f.input :price, :collection => Product::PRICE_LIST.collect {|p| [ nice_price(p), p ] },hint: t('activerecord.attributes.product.hint_price'), include_blank: false %>
        <% end %>
        <%= f.button :submit, class: 'btn btn-primary input-block-level form-control loading' %>
      </div>

    </div>



<% end %>


<!-- Modal -->
<div id="prepareProductModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><%= t('dialog.operation_in_progress') %></h4>
      </div>
      <div id="myInput" class="modal-body center-block">
          <h3><%= t('dialog.product.notice_preparing') %></h3>
                        <span class="fa-stack fa-1x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-diamond fa-stack-1x fa-inverse fa-spin fa-fw"></i>
                        </span>
                        <span class="fa-stack fa-2x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-diamond fa-stack-1x fa-inverse fa-spin fa-fw"></i>
                        </span>
                        <span class="fa-stack fa-3x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-diamond fa-stack-1x fa-inverse fa-spin fa-fw"></i>
                        </span>
                        <span class="fa-stack fa-4x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-diamond fa-stack-1x fa-inverse fa-spin fa-fw"></i>
                        </span>
        <h4>Voilà!</h4>
      </div>
    </div>

  </div>
</div>



<script language="JavaScript">

    jQuery(".loading").click(function(e){
        // wait for all operations before to submit
        e.preventDefault();
        $(this).addClass('disabled');
        $(this).attr('disabled', 'disabled');
        $(this).prop('disabled', true);
        // remove the submit button
        jQuery(this).hide();
        window.scrollTo(0, 0);
        // hide as a security
        jQuery('#prepareProductModal').modal('hide');
        // show the modal
        jQuery('#prepareProductModal').modal('show');
        $('#prepareProductModal').on('shown.bs.modal', function () {
            // do something...
            // when the modal as been presented
            $('.loading').closest("form")[0].submit();
        })
    });
</script>



