<%= simple_form_for @product, html: { class: 'horizontal_form' },
                    wrapper: :horizontal_form,
                    wrapper_mappings: {
                            check_boxes: :horizontal_radio_and_checkboxes,
                            radio_buttons: :horizontal_radio_and_checkboxes,
                            file: :horizontal_file_input,
                            boolean: :horizontal_boolean
                    } do |f| %>


    <%= f.error_notification %>

    <td class="form-inputs">
      <%= f.input :name, hint: 'Tip: Think about what a teacher might type into a search engine like Google to find a product like yours.' %>
      <%= f.input :sku %>
      <%= f.input :permalink %>
      <%= f.input :description, hint: 'Search results are tied to product titles and descriptions. Include relevant keywords and phrases as well as your store name in your description. Describe your product and how to use it thoroughly. Check your spelling. Look for typos.' %>
      <%= f.input :short_description, as: :wysihtml5 %>
      <%= f.input :active, hint: 'you can activate or not your product. Non active products can not be downloaded' %>
      <%= f.input :price, :collection => %w(0.00 0.99 4.99 9.99 14.99 19.99), hint: 'Value your work appropriately.' %>



      <div class="row">

        <%= f.fields_for :attachments do |att| %>
            <div class="duplicatable_nested_form col-sm-6 col-md-4">
              <div class="thumbnail">
                <% if att.object.new_record?  %>
                    <%= att.input :file %>
                    <%= att.input :file_cache, as: :hidden  %>
                    <%= link_to 'Remove', '', :remote => true, :class => 'destroy_duplicate_nested_form' %>
                <% else %>
                    <%= image_tag att.object.file.url(:preview), class: 'thumbnail'  %>
                    <%= link_to 'Remove', attachments_path(@attachment, att.object), :method => :delete, :remote => true, :class => 'destroy_duplicate_nested_form' %>
                    <%= att.input :id, as: :hidden %>
                <% end %>
                <div class="caption">
                  <h3>Attachment</h3>
                  <%= att.input :_destroy, as: :hidden, :class => 'removable' %>
                  <%= att.input :file_size, as: :hidden %>
                  <%= att.input :file_type, as: :hidden %>
                  <%= att.input :nbpages, as: :hidden %>
                  <%= att.input :version_number, as: :hidden %>

                  <p><%= att.input :active %></p>
                </div>
              </div>
            </div>
        <% end %>
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">

          </div>
          <div class="caption">
            <h3>Attachment</h3>
            <%= link_to 'Add Another attachement', '', class: 'duplicate_nested_form' %>

          </div>

        </div>
      </div>

    </td>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>
<% end %>
