<%= simple_form_for @product do |f| %>



    http://davidlesches.com/blog/rails-nested-forms-using-jquery-and-simpleform
    <%= f.error_notification %>

    <% @product.errors.full_messages.each do |msg| %>
        <p><%= msg %></p>
    <% end %>



      <%= f.input :name, hint: 'Tip: Think about what a teacher might type into a search engine like Google to find a product like yours.' %>
      <%= f.input :sku %>
      <%= f.input :permalink %>
      <%= f.trix_editor :description, hint: 'Search results are tied to product titles and descriptions. Include relevant keywords and phrases as well as your store name in your description. Describe your product and how to use it thoroughly. Check your spelling. Look for typos.' %>
      <%= f.input :short_description %>
      <%= f.input :active, hint: 'you can activate or not your product. Non active products can not be downloaded' %>
      <%= f.input :price, :collection => ['0.99', '4.99', '9.99', '14.99', '19.99'],hint: 'Value your work appropriately.' %>

    <div class="row panel-group" id="accordion" role="tablist" aria-multiselectable="true">

      <% Family.all.each do |family| %>
          <% if family.categories.to_a.length > 0  %>
              <div class="col-sm-4 col-md-3">
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading<%=family.id%>">
                  <h4 class="panel-title">
                    <a role="button" data-toggle="collapse"  data-parent="#accordion" href="#collapse<%=family.id%>" aria-expanded="false" aria-controls="collapse<%=family.id%>">
                      <i class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></i> <%=family.name%>
                    </a>
                  </h4>
                </div>
                <div id="collapse<%=family.id%>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading<%=family.id%>">
                  <div class="panel-body">
                    <%= f.association :categories, label: family.name, collection: family.categories, as: :check_boxes %>
                  </div>
                </div>
              </div>
              </div>
          <% end %>
      <% end %>
      <% f.association :categories, collection: Family.all, as: :grouped_select, group_method: :categories %>

    </div>

    <!--- Attachments --->
    <% remove_ok = false %>
    <div class="row", id="attachments">
        <%= f.fields_for :attachments do |att, index| %>
            <%= render 'attachment_fields', f: att, remove_ok: remove_ok %>
          <% remove_ok = true %>
        <% end %>

    </div>

    <div class="row">
      <div class="col-sm-4 col-md-3">
        <%= link_to_add_association 'Add new version', f, :attachments, class: 'btn btn-primary' %>
      </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-4 col-md-3">
        <%= f.button :submit %>
      </div>
    </div>
<% end %>


