<%= simple_form_for @product do |f| %>



    <!-- http://davidlesches.com/blog/rails-nested-forms-using-jquery-and-simpleform -->
    <%= f.error_notification %>
    <% if @product.errors.full_messages.size > 0 %>
        <ul class='alert alert-danger'>
          <% @product.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
          <% end %>
        </ul>
    <% end %>




    <div class="row">
      <div class="col-md-3">

        <!--- Categories List --->
        <%= render 'categories_list', f: f %>

        <!--- Levels List -->
        <%= render 'levels_list', f: f %>

      </div>
      <div class="col-md-9">
        <%= f.input :name, hint: 'Tip: Think about what a teacher might type into a search engine like Google to find a product like yours.' %>
        <%= f.input :sku %>
        <%= f.input :permalink %>
        <%= f.input :description, as: 'text', :input_html => {:class => 'wysihtml5'}, placeholder: 'Search results are tied to product titles and descriptions. Include relevant keywords and phrases as well as your store name in your description. Describe your product and how to use it thoroughly. Check your spelling. Look for typos.', hint: 'Be explicit in your description' %>
        <%= f.input :short_description, as: 'text', :input_html => {:class => 'summernote'} %>
        <%= f.input :active, hint: 'you can activate or not your product. Non active products can not be downloaded' %>
        <%= f.input :price, :collection => ['0.99', '4.99', '9.99', '14.99', '19.99'],hint: 'Value your work appropriately.' %>
      </div>

    </div>


    <!--- Attachments --->
    <!--- only the first element can not be removed from the existing list -->
    <% is_first= true %>
    <div class="row", id="product_attachments">
        <%= f.fields_for :attachments do |att| %>
            <%= render(partial: 'products/attachment_fields', locals: {f: att, is_first: is_first }) %>
          <% is_first = false %>
        <% end %>
    </div>

    <div class="row">
      <div class="col-sm-4 col-md-3">
        <%= link_to_add_association 'Add new version', f, :attachments, class: 'btn btn-primary' %>
      </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-4 col-md-3">
        <%= f.button :submit %>
      </div>
    </div>
<% end %>


<script type="text/javascript">
    $(document).ready(function(){

        $('.wysihtml5').each(function(i, elem) {
            $(elem).wysihtml5();
        });
        $('.summernote').summernote();


    })

</script>

