<%= simple_form_for @product do |f| %>



    <!-- http://davidlesches.com/blog/rails-nested-forms-using-jquery-and-simpleform -->
    <%= f.error_notification %>

    <% if @product.errors.full_messages.size > 0 %>
        <ul class='alert alert-danger'>
          <% @product.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
          <% end %>
        </ul>
    <% end %>




    <div class="row">
      <div class="col-md-3">

        <!--- Categories List --->
        <%= render 'categories_list', f: f %>

        <!--- Levels List -->
        <%= render 'levels_list', f: f %>

      </div>
      <div class="col-md-9">

        <!--- Attachments --->
        <!--- only the first element can not be removed from the existing list -->
        <% is_first= true %>
        <div class="row sortgrid", id="product_attachments" data-update-url="<%= sort_attachments_path %>">
          <% unless @product.new_record?  %>
              <div class="col-sm-4 col-md-4" style="height:590px">

                <%= link_to_add_association t('dialog.product.add_version'), f, :attachments, class: 'btn btn-primary center-block' %>
                <p><i class="fa fa-reply fa-2x guiding"></i> <%= t('dialog.product.explain_add_version') %></p>
                <p><i class="fa fa-share fa-2x guiding"></i> <%= t('dialog.product.explain_order_version')%></p>
                <p><i class="fa fa-hand-pointer-o fa-2x guiding"></i> <%= t('dialog.product.explain_drag_version')%></p>

                <h4><%= t('dialog.product.explain_save') %></h4>

          </div>
          <% end %>
              <!--- list all already existing attachments --->
          <%= f.simple_fields_for :attachments do |att| %>
              <%= render(partial: 'products/attachment_fields', locals: {f: att, is_first: is_first }) %>
              <% is_first = false %>
          <% end %>
          <!-- end list existing attachments --->
        </div>
        <!-- end attachments -->

        <%= f.input :name, hint: t('activerecord.attributes.product.hint_name') %>
        <%= f.input :sku %>
        <%= f.input :permalink %>
        <%= f.input :description, as: 'text', :input_html => {:class => 'summernote'}, placeholder: t('activerecord.attributes.product.place_description'), hint: t('activerecord.attributes.product.hint_description') %>
        <%= f.input :active, hint: t('activerecord.attributes.product.hint_active') %>
        <%= f.input :price, :collection => [nil, '0.99', '4.99', '9.99', '14.99', '19.99'].collect {|p| [ nice_price(p), p ] },hint: t('activerecord.attributes.product.hint_price'), include_blank: false %>
        <%= f.button :submit, class: 'btn btn-primary input-block-level form-control' %>
      </div>

    </div>



<% end %>



