

<div class="col-xs-6 col-sm-4 col-lg-4 col-md-4 product-panel" id="product-panel_<%=product.id%>">
  <!-- picture -->
  <div class="hovereffect center-block panel-image-product">
    <%= image_tag product.preview, class: 'img-thumbnail center-block' %>

    <div class="overlay">
      <!--- price --->
      <h2><%= nice_price(product.price) %></h2>
      <!--- end price --->
      <%= link_to product_path(product), class: 'info'  do %>
          <h4><%= product.name %></h4>
      <% end %>

    </div>
  </div>
  <!-- end picture -->
  <div class="product-like top-right">
    <% if customer_signed_in? %>
        <div class="wish_form wish_form_<%= product.id%>" id="wish_form_<%= product.id%>">

          <% if current_customer.wishing?(product) %>
              <%= render(partial: 'wish_lists/unwish', locals: {product: product}, locale: locale) %>
          <% else %>
              <%= render(partial: 'wish_lists/wish', locals: {product: product}, locale: locale) %>
          <% end %>
        </div>
    <% end %>
  </div>

  <!--- name --->
  <div class="product-name ellipsis">
    <h4><%= link_to product.name, product_path(product) %></h4>
  </div>
  <!--- end name --->

  <!--- stars --->
  <%= render(:partial =>"reviews/show_stars", :locals => {:score => product.score_reviews, :nb_reviews => product.nb_reviews,:simple => true}) %>
  <!--- end stars --->


</div>

