<div class="col-xs-6 col-sm-4 col-lg-4 col-md-4 panel-product" id="panel_product_<%=product.id%>">
  <!-- picture -->
  <div class="hovereffect center-block panel-image-product">
            <%= image_tag product.preview, class: 'img-thumbnail center-block' %>

        <div class="overlay">
          <!--- price --->
          <h2><%= nice_price(product.price) %></h2>
          <!--- end price --->
         <%= link_to product_path(product), class: 'info'  do %>
           <h4><%= product.name %></h4>
          <% end %>

        </div>
  </div>
  <!-- end picture -->

  <!--- name --->
  <div class="height_30 ellipsis" style="float: left">
    <h4><%= link_to product.name, product_path(product) %></h4>
  </div>
  <!--- end name --->

  <!--- stars --->
    <%= render :partial =>"comments/show_stars", :locals => {:score => product.score_comments, :nb_comments => product.nb_comments,:simple => true} %>
    <!--- end stars --->


</div>