<div class="col-xs-6 col-sm-3">
  <!-- picture -->
  <div class="hovereffect center-block panel-image-product">
        <% if product.preview.nil? %>
            <%= image_tag "product.preview", class: 'img-thumbnail center-block' %>
        <% else %>
            <%= image_tag product.preview, class: 'img-thumbnail center-block' %>
        <% end %>

        <div class="overlay">
          <!--- price --->
          <h2><%= nice_price(product.price) %></h2>
          <!--- end price --->
         <%= link_to product_path(product), class: 'info'  do %>
           <h5><%= product.name %></h5>
          <% end %>

        </div>
  </div>
  <!-- end picture -->

  <!--- name --->
  <div>
    <%= link_to buy_product_path(product), :method => :post, class:'float-left btn btn-block btn-primary btn-sm' do %><i class="fa fa-shopping-cart"></i> <%= t('dialog.shop.add_cart')%><% end %>
    <% if customer_signed_in? %>
        <!-- add to wish list -->
        <div class="wish_form wish_form_<%= product.id%>" id="wish_form_<%= product.id%>">

          <% if current_customer.wishing?(product) %>
              <%= render(partial: 'wish_lists/unwish', locals: {product: product}, locale: locale) %>
          <% else %>
              <%= render(partial: 'wish_lists/wish', locals: {product: product}, locale: locale) %>
          <% end %>
        </div>
        <!-- end wish list -->
    <% end %>  </div>
  <!--- end name --->



</div>