
<h1><%= t('page.title.catalog') %></h1>

<hr>
<!-- Page Content -->

<!-- search -->
<h5>SEARCH
<%= form_tag(catalog_products_path, method: :get) do |f| %>
    <%= text_field_tag 'query' %>
    <%= button_tag 'submit', class: 'btn btn-primary btn-sm' %>
    <%= session[:query_store] %>
<% end %>
</h5>
<hr>
<!-- end search -->




<!-- display catalog --->
  <div class="row">

    <div class="col-md-3">


      <!--- orders --->
      <div class="list-group" id="sort_option" role="tablist" aria-multiselectable="true">
        <div class="list-group-item">
          <%= t('dialog.method.order_by')%> <%= t('activerecord.attributes.product.creation_date') %>
        <%= link_to catalog_products_path(:sort =>'created_at', :direction => 'asc' ) do %>
            <i class="fa fa-angle-up" aria-hidden="true"></i> <% end%>
        <%= link_to catalog_products_path(:sort =>'created_at', :direction => 'desc' ) do %>
            <i class="fa fa-angle-down" aria-hidden="true"></i> <% end%>
        </div>
        <div class="list-group-item">
          <%= t('dialog.method.order_by')%> <%= t('activerecord.attributes.product.name') %>
            <%= link_to catalog_products_path(:sort =>'name', :direction => 'asc' ) do %>
                <i class="fa fa-angle-up" aria-hidden="true"></i> <% end%>
            <%= link_to catalog_products_path(:sort =>'name', :direction => 'desc' ) do %>
                <i class="fa fa-angle-down" aria-hidden="true"></i> <% end%>
        </div>
        <div class="list-group-item">
          <%= t('dialog.method.order_by')%> <%= t('activerecord.attributes.product.price') %>
            <%= link_to catalog_products_path(:sort =>'price', :direction => 'asc' ) do %>
                <i class="fa fa-angle-up" aria-hidden="true"></i> <% end%>
            <%= link_to catalog_products_path(:sort =>'price', :direction => 'desc' ) do %>
                <i class="fa fa-angle-down" aria-hidden="true"></i> <% end%>
        </div>
        <div class="list-group-item">
            Free products
        </div>
      </div>


      <!--- Family and Category --->
      <div class="panel panel-default sidebar-menu">
        <div class="panel-heading">
          <h3 class="panel-title">Categories</h3>
        </div>
        <div class="panel-body">
          <ul class="nav nav-pills nav-stacked category-menu">
            <li <%= "#{ 'class=active' if session[:family_for_products_id].nil? }"%> ><%= link_to 'All families', catalog_products_path(:family_id => 0) %></li>
            <% @families.each do |fam| %>
                <% family_active = (fam.id.to_s == session[:family_for_products_id].to_s)? true:false %>
                <li <%= "#{ 'class=active' if family_active }"%> > <%= link_to catalog_products_path(:family_id => fam.id) do %><%= fam.name %> <span class="badge pull-right"><%= Product.count_active_filtered_for_family(fam.id, @cycles.map(&:id), @levels.map(&:id))%></span><% end %>
                  <ul>
                    <% fam.categories.each do |cat| %>
                        <% if @categories.include?(cat)%>
                            <li>
                              <%= link_to catalog_products_path(:category_id => cat.id) do %><%=cat.name %><% end %>
                              <% if (cat.id.to_s == session[:category_for_products_id].to_s) %>
                              SELECTED
                              <% end %>
                              <b>(<%= Product.count_active_filtered_for_category(cat.id, @cycles.map(&:id), @levels.map(&:id))%>)</b>
                            </li>
                        <% end %>
                    <%   end %>
                  </ul>
                </li>
            <% end %>
          </ul>
        </div>
      </div>
      <!--- end Family and Category --->

      <!--- Cycle and Level --->
      <div class="panel panel-default sidebar-menu">
        <div class="panel-heading">
          <h3 class="panel-title">Cycles</h3>
        </div>
        <div class="panel-body">
          <ul class="nav nav-pills nav-stacked category-menu">
            <li <%= "#{ 'class=active' if session[:cycle_for_products_id].nil? }"%> ><%= link_to 'All cycles', catalog_products_path(:cycle_id => 0) %></li>
            <% @cycles.each do |cyc| %>
                <% cycle_active = (cyc.id.to_s == session[:cycle_for_products_id].to_s)? true:false %>
                <li <%= "#{ 'class=active' if cycle_active }"%> > <%= link_to catalog_products_path(:cycle_id => cyc.id) do %><%= cyc.name %> <span class="badge pull-right"><%= Product.count_active_filtered_for_cycle(cyc.id, @families.map(&:id), @categories.map(&:id))%></span><% end %>
                  <ul>
                    <% cyc.levels.each do |lev| %>
                        <% if @levels.include?(lev) %>
                            <li>
                              <%= link_to catalog_products_path(:level_id => lev.id) do %><%=lev.name %><% end %>
                              <% if (lev.id.to_s == session[:level_for_products_id].to_s) %> SELECTED
                              <% end %>
                              <b>(<%= Product.count_active_filtered_for_level(lev.id, @families.map(&:id), @categories.map(&:id))%>)</b>
                            </li>
                        <% end %>
                    <% end %>
                  </ul>
                </li>
            <% end %>
          </ul>
        </div>
      </div>
      <!--- end Cycle and Level --->


    </div>

    <div class="col-md-9">

      <div id="catalog-products" class="row">

        <%= render(partial:'products/product', collection: @products) %>


      </div>

      <div id="infinite-scrolling-products" class="row">
        <%= will_paginate(@products, :renderer => 'BootstrapPaginationHelper::LinkRenderer') %>
      </div>

    </div>

  </div>

<!-- /.container -->





