<% provide(:title, I18n.translate('page.catalog')) %>



<!-- Image Header -->
<% content_for :slider do %>
    <div class="img-header parallaxed banner_<%= rand(200..209)%> bg-inverse" data-stellar-background-ratio="0.5">
      <div class="bottom-caption">
        <div class="container">
          <h1><%= t('page.catalog') %></h1>
        </div>
      </div>
    </div>
<% end %>
<!-- /.row -->

<!-- Page Content -->

<!-- search -->
<div class="margined-vertical">
  <%= form_tag(catalog_products_path, method: :get) do  %>
    <div class="input-group">
    <%= text_field_tag('query', nil, class: 'form-control', placeholder: I18n.t('page.search')) %>
    <div class="input-group-btn">
      <% unless (session[:query_store]).nil? %>
          <%= button_tag :class => 'btn btn-success' do %>
              <%= session[:query_store] %>
              <i class="fa fa-times"></i>
          <% end %>
      <% end %>
      <%= button_tag t('page.search'), class: 'btn btn-primary' %>
    </div>
  </div>
  <% end %>
</div>
<!-- end search -->
<div class="input-group">
  <input type="text" class="form-control" placeholder="<%= t('dialog.method.order_by')%>...">
  <span class="input-group-btn">
    <% link_to catalog_products_path(:sort =>'score_reviews', :direction => 'asc' ), class: 'btn btn-default' do %>
        <%= t('activerecord.attributes.product.score_reviews') %>
        <i class="fa fa-sort-amount-asc" aria-hidden="true"></i>
    <% end%>
    <%= link_to catalog_products_path(:sort =>'score_reviews', :direction => 'desc' ), class: 'btn btn-default' do %>
                <%= t('activerecord.attributes.product.score_reviews') %>
        <i class="fa fa-sort-amount-desc" aria-hidden="true"></i> <% end%>
    <% link_to catalog_products_path(:sort =>'counter_cache', :direction => 'asc' ), class: 'btn btn-default' do %>
        <%= t('activerecord.attributes.product.counter_cache') %>
        <i class="fa fa-sort-amount-asc" aria-hidden="true"></i> <% end%>
    <%= link_to catalog_products_path(:sort =>'counter_cache', :direction => 'desc' ), class: 'btn btn-default' do %>
        <%= t('activerecord.attributes.product.counter_cache') %>
        <i class="fa fa-sort-amount-desc" aria-hidden="true"></i> <% end%>
    <% link_to catalog_products_path(:sort =>'created_at', :direction => 'asc' ), class: 'btn btn-default' do %>
        <%= t('activerecord.attributes.creation_date') %>
        <i class="fa fa-sort-amount-asc" aria-hidden="true"></i> <% end%>
    <%= link_to catalog_products_path(:sort =>'created_at', :direction => 'desc' ), class: 'btn btn-default' do %>
        <%= t('activerecord.attributes.creation_date') %>
        <i class="fa fa-sort-amount-desc" aria-hidden="true"></i> <% end%>
    <% link_to catalog_products_path(:sort =>'name', :direction => 'asc' ), class: 'btn btn-default' do %>
        <%= t('activerecord.attributes.product.name') %>
        <i class="fa fa-sort-amount-asc" aria-hidden="true"></i> <% end%>
    <% link_to catalog_products_path(:sort =>'name', :direction => 'desc' ), class: 'btn btn-default' do %>
        <%= t('activerecord.attributes.product.name') %>
        <i class="fa fa-sort-amount-desc" aria-hidden="true"></i> <% end%>
    <%= link_to catalog_products_path(:sort =>'price', :direction => 'asc' ), class: 'btn btn-default' do %>
        <%= t('activerecord.attributes.product.price') %>
        <i class="fa fa-sort-amount-asc" aria-hidden="true"></i> <% end%>
    <%= link_to catalog_products_path(:sort =>'price', :direction => 'desc' ), class: 'btn btn-default' do %>
        <%= t('activerecord.attributes.product.price') %>
        <i class="fa fa-sort-amount-desc" aria-hidden="true"></i> <% end%>
  </span>
</div>

<!-- display catalog --->
  <div class="row">

    <div class="col-md-3">


      <!--- Country selector --->
      <div class="sidebar-menu">
        <%= render(partial: 'countries/btn_countries') %>
      </div>
      <!--- end Country selector --->

      <!--- orders --->
      <div class="btn-group margined-vertical" style="width:100%">
        <div class="btn btn-primary" style="width:85%" href="#"><%= t('dialog.method.order_by')%> </div>
        <a class="btn btn-primary dropdown-toggle" style="width:15%" data-toggle="dropdown" href="#"><span class="caret"></span></a>
        <ul class="dropdown-menu" style="width:100%">
          <li>
            <%= link_to catalog_products_path(:sort =>'score_reviews', :direction => 'asc' ) do %>
                <%= t('activerecord.attributes.product.score_reviews') %>
                <i class="fa fa-sort-amount-asc" aria-hidden="true"></i> <% end%>
          </li>
          <li>
            <%= link_to catalog_products_path(:sort =>'score_reviews', :direction => 'desc' ) do %>
                <%= t('activerecord.attributes.product.score_reviews') %>
                <i class="fa fa-sort-amount-desc" aria-hidden="true"></i> <% end%>
          </li>
          <li>
            <%= link_to catalog_products_path(:sort =>'counter_cache', :direction => 'asc' ) do %>
                <%= t('activerecord.attributes.product.counter_cache') %>
                <i class="fa fa-sort-amount-asc" aria-hidden="true"></i> <% end%>
          </li>
          <li>
            <%= link_to catalog_products_path(:sort =>'counter_cache', :direction => 'desc' ) do %>
                <%= t('activerecord.attributes.product.counter_cache') %>
                <i class="fa fa-sort-amount-desc" aria-hidden="true"></i> <% end%>
          </li>
          <li>
            <%= link_to catalog_products_path(:sort =>'created_at', :direction => 'asc' ) do %>
                <%= t('activerecord.attributes.creation_date') %>
                <i class="fa fa-sort-amount-asc" aria-hidden="true"></i> <% end%>
          </li>
          <li>
            <%= link_to catalog_products_path(:sort =>'created_at', :direction => 'desc' ) do %>
                <%= t('activerecord.attributes.creation_date') %>
                <i class="fa fa-sort-amount-desc" aria-hidden="true"></i> <% end%>
          </li>
          <li>
            <%= link_to catalog_products_path(:sort =>'name', :direction => 'asc' ) do %>
                <%= t('activerecord.attributes.product.name') %>
                <i class="fa fa-sort-amount-asc" aria-hidden="true"></i> <% end%>
          </li>
          <li>
            <%= link_to catalog_products_path(:sort =>'name', :direction => 'desc' ) do %>
                <%= t('activerecord.attributes.product.name') %>
                <i class="fa fa-sort-amount-desc" aria-hidden="true"></i> <% end%>
          </li>
          <li>
            <%= link_to catalog_products_path(:sort =>'price', :direction => 'asc' ) do %>
                <%= t('activerecord.attributes.product.price') %>
                <i class="fa fa-sort-amount-asc" aria-hidden="true"></i> <% end%>
          </li>
          <li>
            <%= link_to catalog_products_path(:sort =>'price', :direction => 'desc' ) do %>
                <%= t('activerecord.attributes.product.price') %>
                <i class="fa fa-sort-amount-desc" aria-hidden="true"></i> <% end%>
          </li>
        </ul>
      </div>
      <!--- end orders --->


      <!--- Family and Category --->
      <%= render 'family_category.html.erb' %>
      <!--- end Family and Category --->

      <!--- Cycle and Level --->
      <%= render 'cycle_level.html.erb' %>
      <!--- end Cycle and Level --->


    </div>


    <div class="col-xs-12 col-md-9">

      <div id="catalog-products" class="row">
        <% @products.each do |product| %>
            <% cache product do %>
                <%= render(partial:'products/product', locals: {product: product}) %>
            <% end %>
        <% end %>

      </div>

      <div id="infinite-scrolling-products" class="row">
        <%= will_paginate(@products, :renderer => 'BootstrapPaginationHelper::LinkRenderer') %>
      </div>

    </div>



  </div>

<!-- /.container -->






