
<h1>Catalog</h1>

<hr>
  <h5>SEARCH</h5>
<hr>



<div class="row">
  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <%= link_to 'All families', catalog_products_path(:family_id => 0), class:'btn btn-default' %>
        </div>

      <% Family.with_products.each do |fam| %>
          <% if fam.id.to_s == session[:family_for_products_id].to_s
               family_active = true
             end %>
          <div class="panel panel-default">
            <div  role="tab" id="heading<%=fam.id%>">

                <% if family_active %>
                    <%= link_to "#{fam.name}", catalog_products_path(:family_id => fam.id), class: "btn btn-primary" %>
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse<%=fam.id%>" aria-expanded="true" aria-controls="collapse<%=fam.id%>">
                      <i class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></i>
                    </a>
              <% else %>
                    <%= link_to "#{fam.name}", catalog_products_path(:family_id => fam.id), class: "btn btn-default" %>
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse<%=fam.id%>" aria-expanded="false" aria-controls="collapse<%=fam.id%>">
                      <i class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></i>
                    </a>
              <% end %>

            </div>
            <div id="collapse<%=fam.id%>" class="panel-collapse collapse <%="in" if family_active%>" role="tabpanel" aria-labelledby="heading<%=fam.id%>">
              <div class="panel-body">
                <% Category.with_products_for_family(fam.id).each do |cat| %>
                    <% if cat.id.to_s == session[:category_for_products_id].to_s
                         category_active = true
                         btn_category_class = "btn btn-primary btn-sm"
                       else
                         btn_category_class = "btn btn-default btn-sm"
                       end %>
                    <% if category_active %>
                        <%= link_to "#{cat.name}", catalog_products_path(:category_id => cat.id), class: "btn btn-primary btn-sm" %>
                    <% else %>
                        <%= link_to "#{cat.name}", catalog_products_path(:category_id => cat.id), class: "btn btn-info btn-sm" %>
                    <% end %>
                <% end %>

              </div>
            </div>
          </div>
      <% end %>
      

</div>
  </div>
  <div class="col-lg-9 col-md-8 col-sm-6 col-xs-12">
    <div class="row carouselImg">
  <% @products.each do |product| %>
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
          <% if product.preview.nil? %>
              <%= image_tag "product.preview", class: 'img-thumbnail' %>
              <% else %>
          <%= image_tag product.preview, class: 'img-thumbnail' %>
              <% end %>
          <div class="overlay">
            <h2><%= product.name %></h2>

            <%= link_to 'detail informations', product_path(product.id), class:"info" %>
          </div>
        </div>
        <div href="/rooms/10855464?s=U_pEUuKW" target="listing_10855464" class="panel-overlay-bottom-left panel-overlay-label panel-overlay-listing-label">
          <div class="tooltip tooltip-fixed tooltip-bottom-left total-price-breakdown text-dark-gray" role="tooltip">
            <div class="loading"></div>
          </div>
          <div>
            <div class="price-amount-container">
              <sup class="h6 text-contrast"><span class="glyphicon glyphicon-eur" aria-hidden="true"></span> </sup>
              <span class="h3 text-contrast price-amount"><%= product.price||"Free" %></span>
              <sup class="h6 text-contrast"></sup>
            </div>
          </div>
        </div>
        <div>
            <p><%= product.short_description.html_safe %></p>
        </div>
      </div>
  <% end %>
</div>
    </div>
</div>

