
<h1>Catalog</h1>

<hr>
<h5>SEARCH</h5>
<hr>


<!-- Page Content -->

<!-- carousel -->
<div class="row">
  <div id="carousel-products" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-products" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-products" data-slide-to="1"></li>
      <li data-target="#carousel-products" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="http://placehold.it/1200x300" class="img-responsive" alt="...">
        <div class="carousel-caption">
          ...
        </div>
      </div>
      <div class="item">
        <img src="http://placehold.it/1200x300" alt="...">
        <div class="carousel-caption">
          ...
        </div>
      </div>
      <div class="item">
        <img src="http://placehold.it/1200x300" alt="...">
        <div class="carousel-caption">
          ...
        </div>
      </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-products" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-products" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <hr>
</div>

  <div class="row">

    <div class="col-md-3">


      <!--- orders --->
      <div class="list-group" id="sort_option" role="tablist" aria-multiselectable="true">
        <div class="list-group-item">
        order by date
        <%= link_to catalog_products_path(:sort =>'created_at', :direction => 'asc' ) do %>
            <i class="fa fa-angle-up" aria-hidden="true"></i> <% end%>
        <%= link_to catalog_products_path(:sort =>'created_at', :direction => 'desc' ) do %>
            <i class="fa fa-angle-down" aria-hidden="true"></i> <% end%>
        </div>
        <div class="list-group-item">
            order by name
            <%= link_to catalog_products_path(:sort =>'name', :direction => 'asc' ) do %>
                <i class="fa fa-angle-up" aria-hidden="true"></i> <% end%>
            <%= link_to catalog_products_path(:sort =>'name', :direction => 'desc' ) do %>
                <i class="fa fa-angle-down" aria-hidden="true"></i> <% end%>
        </div>
        <div class="list-group-item">
            order by price
            <%= link_to catalog_products_path(:sort =>'price', :direction => 'asc' ) do %>
                <i class="fa fa-angle-up" aria-hidden="true"></i> <% end%>
            <%= link_to catalog_products_path(:sort =>'price', :direction => 'desc' ) do %>
                <i class="fa fa-angle-down" aria-hidden="true"></i> <% end%>
        </div>
        <div class="list-group-item">
            Free products
        </div>
      </div>




      <!-- Family and Category -->
      <div class="list-group" id="accordion_family" role="tablist" aria-multiselectable="true" >
        <div class="list-group-item">
          <%= link_to 'All families', catalog_products_path(:family_id => 0), class:"btn #{ (session[:family_for_products_id].nil?)? 'btn-primary' : 'btn-default'}" %>
        </div>

        <% Family.with_products.each do |fam| %>
            <% if (session[:family_for_products_id]||%w[]).include? fam.id.to_s
                 family_active = true
               end %>
            <div class="list-group-item">
              <div  role="tab" id="heading_family<%=fam.id%>">

                <% if family_active %>
                    <%= link_to "#{fam.name}", catalog_products_path(:family_id => fam.id), class: "btn btn-primary" %>
                    <a role="button" data-toggle="collapse" data-parent="#accordion_family" href="#collapse_family<%=fam.id%>" aria-expanded="true" aria-controls="collapse_family<%=fam.id%>">
                      <i class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></i>
                    </a>
                <% else %>
                    <%= link_to "#{fam.name}", catalog_products_path(:family_id => fam.id), class: "btn btn-default" %>
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion_family" href="#collapse_family<%=fam.id%>" aria-expanded="false" aria-controls="collapse_family<%=fam.id%>">
                      <i class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></i>
                    </a>
                <% end %>

              </div>
              <div id="collapse_family<%=fam.id%>" class="panel-collapse collapse <%="in" if family_active%>" role="tabpanel" aria-labelledby="heading_family<%=fam.id%>">
                <div class="panel-body">
                  <ul class="list-unstyled">
                  <% Category.with_products_for_family(fam.id).each do |cat| %>
                      <% if  (session[:category_for_products_id]||%w[]).include? cat.id.to_s
                           category_active = true
                         end %>
                          <li><%= link_to catalog_products_path(:category_id => cat.id) do %><i class="fa fa-square<%='-o' unless category_active %>" aria-hidden="true"></i> <%=cat.name %><% end %></li>
                  <% end %>
                  </ul>
                </div>
              </div>
            </div>
        <% end %>
      </div>
      <!--  end of Family and Category -->

      <!-- Cycle and Level -->
      <div class="list-group" id="accordion_cycle" role="tablist" aria-multiselectable="true">
        <div class="list-group-item">
          <%= link_to 'All Cycles', catalog_products_path(:cycle_id => 0), class:"btn  #{(session[:cycle_for_products_id].nil?)? 'btn-primary' : 'btn-default'}" %>
        </div>

        <% Cycle.with_products.each do |cycle| %>
            <% if (session[:cycle_for_products_id]||%w[]).include? cycle.id.to_s
                 cycle_active = true
               end %>
            <div class="list-group-item">
              <div  role="tab" id="heading_cycle<%=cycle.id%>">

                <% if cycle_active %>
                    <%= link_to "#{cycle.name}", catalog_products_path(:cycle_id => cycle.id), class: "btn btn-primary" %>
                    <a role="button" data-toggle="collapse" data-parent="#accordion_cycle" href="#collapse_cycle<%=cycle.id%>" aria-expanded="true" aria-controls="collapse_cycle<%=cycle.id%>">
                      <i class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></i>
                    </a>
                <% else %>
                    <%= link_to "#{cycle.name}", catalog_products_path(:cycle_id => cycle.id), class: "btn btn-default" %>
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion_cycle" href="#collapse_cycle<%=cycle.id%>" aria-expanded="false" aria-controls="collapse_cycle<%=cycle.id%>">
                      <i class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></i>
                    </a>
                <% end %>

              </div>
              <div id="collapse_cycle<%=cycle.id%>" class="panel-collapse collapse <%="in" if cycle_active%>" role="tabpanel" aria-labelledby="heading<%=cycle.id%>">
                <div class="panel-body">
                  <ul class="list-unstyled">
                    <% Level.with_products_for_cycle(cycle.id).each do |level| %>
                        <% if  (session[:level_for_products_id]||%w[]).include? level.id.to_s
                             level_active = true
                           end %>
                        <li><%= link_to catalog_products_path(:level_id => level.id) do%><i class="fa fa-square<%='-o' unless level_active %>" aria-hidden="true"></i> <%=level.name %><% end %></li>
                    <% end %>
                  </ul>
                </div>
              </div>
            </div>
        <% end %>
      </div>
      <!--  end of Cycle and Level -->


      <ul class="nav nav-pills nav-stacked">
        <li role="presentation" class="active"><a href="#">Home</a></li>
        <li><i class="fa fa-square-o" aria-hidden="true"> </i> open</li>
        <li><i class="fa fa-square" aria-hidden="true"> </i> close</li>

        <li role="presentation"><a href="#">Profile</a></li>
        <li role="presentation"><a href="#">Messages</a></li>
      </ul>


      <div class="btn-group " role="group" aria-label="...">
        <button type="button" class="btn btn-default">Left</button>
        <button type="button" class="btn btn-default">Right very long dimension</button>
      </div>



      <div class="panel panel-default sidebar-menu">
        <div class="panel-heading">
          <h3 class="panel-title">Categories</h3>
        </div>
        <div class="panel-body">
          <ul class="nav nav-pills nav-stacked category-menu">
            <li <%= "#{ 'class=active' if session[:family_for_products_id].nil? }"%> ><%= link_to 'All families', catalog_products_path(:family_id => 0) %></li>
            <% Family.with_products.each do |fam| %>
                <% family_active = (fam.id.to_s == session[:family_for_products_id].to_s)? true:false %>
                <li <%= "#{ 'class=active' if family_active }"%> > <%= link_to catalog_products_path(:family_id => fam.id) do %><%= fam.name %> <span class="badge pull-right">42</span><% end %>
                  <ul>
                    <% Category.with_products_for_family(fam.id).each do |cat| %>
                        <li>
                          <%= link_to catalog_products_path(:category_id => cat.id) do %><%=cat.name %><% end %>
                          <% if (cat.id.to_s == session[:category_for_products_id].to_s) %>
                              <span class="badge pull-right">120</span>
                          <% end %>
                        </li>
                    <% end %>
                  </ul>
                </li>
            <% end %>
            <li><a href="category.html">Men <span class="badge pull-right">42</span></a>
              <ul>
                <li> <a href="category.html">T-shirts</a></li>
                <li><a href="category.html">Shirts</a></li>
                <li><a href="category.html">Pants</a></li>
                <li><a href="category.html">Accessories</a></li>
              </ul>
            </li>
            <li class="active"><a href="category.html">Girls <span class="badge pull-right">120</span></a>
              <ul>
                <li> <a href="category.html">T-shirts</a></li>
                <li><a href="category.html">Skirts</a></li>
                <li><a href="category.html">Pants</a></li>
                <li><a href="category.html">Accessories</a></li>
              </ul>
            </li>
            <li><a href="category.html">Kids <span class="badge pull-right">85</span></a>
              <ul>
                <li> <b><a href="category.html">T-shirts</a></b><span class="badge pull-right">120</span></li>
                <li><a href="category.html">Skirts</a></li>
                <li><a href="category.html">Pants</a></li>
                <li><a href="category.html">Accessories</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>



    </div>

    <div class="col-md-9">

      <div class="row">

        <%= render(partial:'products/product', collection: @products) %>


      </div>

    </div>

  </div>

<!-- /.container -->





