<% provide(:title, I18n.translate('page.catalog')) %>

<!-- Image Header -->
<div class="parallaxed banner_<%= rand(100..109)%>" data-stellar-background-ratio="0.5"><span>
<h1><%= t('page.catalog') %></h1>
</span>
</div>
<!-- /.row -->

<!-- Page Content -->

<!-- search -->
<%= form_tag(catalog_products_path, method: :get) do  %>
    <%= text_field_tag 'query' %>
    <%= button_tag t('page.search'), class: 'btn btn-primary btn-sm' %>
    <% unless (session[:query_store]).nil? %>
        <%= button_tag :class => 'btn btn-success' do %>
              <%= session[:query_store] %>
              <i class="fa fa-times"></i>
        <% end %>
    <% end %>
<% end %>
<hr>
<!-- end search -->


<!-- display catalog --->
  <div class="row">

    <div class="col-md-3">


      <!--- Country selector --->
      <div class="sidebar-menu">
        <%= form_tag(catalog_products_path, method: :get, class: "simple_form")  do  %>
            <%= select_tag('country_id', options_from_collection_for_select(Country.all,"id", "name", session[:country_store] ), class: "select optional form-control", :onchange => "this.form.submit()") %>
        <% end %>
      </div>
      <!--- end Country selector --->

      <!--- orders --->
      <div class="list-group" id="sort_option" role="tablist" aria-multiselectable="true">
        <div class="list-group-item">
          <%= t('dialog.method.order_by')%> <%= t('activerecord.attributes.product.score_comments') %>
          <%= link_to catalog_products_path(:sort =>'score_comments', :direction => 'asc' ) do %>
              <i class="fa fa-angle-up" aria-hidden="true"></i> <% end%>
          <%= link_to catalog_products_path(:sort =>'score_comments', :direction => 'desc' ) do %>
              <i class="fa fa-angle-down" aria-hidden="true"></i> <% end%>
        </div>
        <div class="list-group-item">
          <%= t('dialog.method.order_by')%> <%= t('activerecord.attributes.product.counter_cache') %>
          <%= link_to catalog_products_path(:sort =>'counter_cache', :direction => 'asc' ) do %>
              <i class="fa fa-angle-up" aria-hidden="true"></i> <% end%>
          <%= link_to catalog_products_path(:sort =>'counter_cache', :direction => 'desc' ) do %>
              <i class="fa fa-angle-down" aria-hidden="true"></i> <% end%>
        </div>
        <div class="list-group-item">
          <%= t('dialog.method.order_by')%> <%= t('activerecord.attributes.creation_date') %>
        <%= link_to catalog_products_path(:sort =>'created_at', :direction => 'asc' ) do %>
            <i class="fa fa-angle-up" aria-hidden="true"></i> <% end%>
        <%= link_to catalog_products_path(:sort =>'created_at', :direction => 'desc' ) do %>
            <i class="fa fa-angle-down" aria-hidden="true"></i> <% end%>
        </div>
        <div class="list-group-item">
          <%= t('dialog.method.order_by')%> <%= t('activerecord.attributes.product.name') %>
            <%= link_to catalog_products_path(:sort =>'name', :direction => 'asc' ) do %>
                <i class="fa fa-angle-up" aria-hidden="true"></i> <% end%>
            <%= link_to catalog_products_path(:sort =>'name', :direction => 'desc' ) do %>
                <i class="fa fa-angle-down" aria-hidden="true"></i> <% end%>
        </div>
        <div class="list-group-item">
          <%= t('dialog.method.order_by')%> <%= t('activerecord.attributes.product.price') %>
            <%= link_to catalog_products_path(:sort =>'price', :direction => 'asc' ) do %>
                <i class="fa fa-angle-up" aria-hidden="true"></i> <% end%>
            <%= link_to catalog_products_path(:sort =>'price', :direction => 'desc' ) do %>
                <i class="fa fa-angle-down" aria-hidden="true"></i> <% end%>
        </div>
      </div>
      <!--- end orders --->


      <!--- Family and Category --->
      <div class="panel panel-default sidebar-menu hidden-xs">
        <div class="panel-heading">
          <h3 class="panel-title"><%= (I18n.translate 'activerecord.models.category', count: 2).capitalize %></h3>
        </div>
        <div class="panel-body">
          <ul class="nav nav-pills nav-stacked category-menu">
            <li <%= "#{ 'class=active' if session[:family_for_products_id].nil? }"%> ><%= link_to t('activerecord.models.family.all'), catalog_products_path(:family_id => 0) %></li>
            <% @families.each do |fam| %>
                <% family_active = (fam.id.to_s == session[:family_for_products_id].to_s)? true:false %>
                <li <%= "#{ 'class=active' if family_active }"%> > <%= link_to catalog_products_path(:family_id => fam.id) do %><%= fam.name %> <span class="badge pull-right"><%= Product.count_active_filtered_for_family(fam.id, @cycles.map(&:id), @levels.map(&:id))%></span><% end %>
                  <ul class="nav-tree">
                    <% fam.categories.each do |cat| %>
                        <% if @categories.include?(cat)%>
                            <li class="nav nav-stacked <% if (cat.id.to_s == session[:category_for_products_id].to_s) %>active<% end %>">
                              <%= link_to catalog_products_path(:category_id => cat.id) do %><%=cat.name %><span class="badge pull-right"><%= Product.count_active_filtered_for_category(cat.id, @cycles.map(&:id), @levels.map(&:id))%></span><% end %>




                            </li>
                        <% end %>
                    <%   end %>
                  </ul>
                </li>
            <% end %>
          </ul>
        </div>
      </div>
      <!-- for smal device -->
      <div class="visible-xs">
        <div class="panel panel-default">

            <span><%= link_to t('activerecord.models.family.all'), catalog_products_path(:family_id => 0), :class => (session[:family_for_products_id].nil?)?'btn btn-primary':'btn btn-info' %></span><br/>
            <% @families.each do |fam| %>
                <% family_active = (fam.id.to_s == session[:family_for_products_id].to_s)? true:false %>
                <span><%= link_to catalog_products_path(:family_id => fam.id), :class => (family_active)?'btn btn-primary':'btn btn-info' do %><%= fam.name %> <% end %></span>

                    <% fam.categories.each do |cat| %>
                        <% if @categories.include?(cat)%>
                            <span>
                              <%= link_to catalog_products_path(:category_id => cat.id), :class => (cat.id.to_s == session[:category_for_products_id].to_s)?'btn btn-primary btn-xs':'btn btn-default btn-xs' do %><%=cat.name %><% end %>
                            </span>
                        <% end %>
                    <%   end %>
                <br/>
            <% end %>

        </div>
      </div>
      <!--- end Family and Category --->

      <!--- Cycle and Level --->
      <div class="panel panel-default sidebar-menu hidden-xs">
        <div class="panel-heading">
          <h3 class="panel-title"><%= (I18n.translate 'activerecord.models.level', count: 2).capitalize %></h3>
        </div>
        <div class="panel-body">
          <ul class="nav nav-pills nav-stacked category-menu">
            <li <%= "#{ 'class=active' if session[:cycle_for_products_id].nil? }"%> ><%= link_to t('activerecord.models.cycle.all'), catalog_products_path(:cycle_id => 0) %></li>
            <% @cycles.each do |cyc| %>
                <% cycle_active = (cyc.id.to_s == session[:cycle_for_products_id].to_s)? true:false %>
                <li <%= "#{ 'class=active' if cycle_active }"%> > <%= link_to catalog_products_path(:cycle_id => cyc.id) do %><%= cyc.name %> <span class="badge pull-right"><%= Product.count_active_filtered_for_cycle(cyc.id, @families.map(&:id), @categories.map(&:id))%></span><% end %>
                  <ul class="nav-tree">
                    <% cyc.levels.each do |lev| %>
                        <% if @levels.include?(lev) %>
                            <li class="nav nav-stacked <% if (lev.id.to_s == session[:level_for_products_id].to_s) %>active<% end %>">
                              <%= link_to catalog_products_path(:level_id => lev.id) do %><%=lev.name %><span class="badge pull-right"><%= Product.count_active_filtered_for_level(lev.id, @families.map(&:id), @categories.map(&:id))%></span><% end %>
                            </li>
                        <% end %>
                    <% end %>
                  </ul>
                </li>
            <% end %>
          </ul>
        </div>
      </div>
      <!-- for smal device -->
      <div class="visible-xs">
        <div class="panel panel-default">

          <span><%= link_to t('activerecord.models.level.all'), catalog_products_path(:cycle_id => 0), :class => (session[:cycle_for_products_id].nil?)?'btn btn-primary':'btn btn-info' %></span><br/>
          <% @cycles.each do |cyc| %>
              <% cycle_active = (cyc.id.to_s == session[:cycle_for_products_id].to_s)? true:false %>
              <span><%= link_to catalog_products_path(:cycle_id => cyc.id), :class => (cycle_active)?'btn btn-primary':'btn btn-info' do %><%= cyc.name %> <% end %></span>

              <% cyc.levels.each do |lev| %>
                  <% if @levels.include?(lev)%>
                            <span>
                              <%= link_to catalog_products_path(:level_id => lev.id), :class => (lev.id.to_s == session[:level_for_products_id].to_s)?'btn btn-primary btn-xs':'btn btn-default btn-xs' do %><%=lev.name %><% end %>
                            </span>
                  <% end %>
              <%   end %>
              <br/>
          <% end %>

        </div>
      </div>

      <!--- end Cycle and Level --->


    </div>

    <div class="col-xs-12 col-md-9">

      <div id="catalog-products" class="row">

        <%= render(partial:'products/product', collection: @products) %>


      </div>

      <div id="infinite-scrolling-products-disabled" class="row">
        <%= will_paginate(@products, :renderer => 'BootstrapPaginationHelper::LinkRenderer') %>
      </div>

    </div>



  </div>

<!-- /.container -->






