<% page_title= t('page.my_products') %>



<h1><%= t('page.my_products') %></h1>

<table class='table'>
  <thead>
  <tr>
    <th><%= sortable_bootstrap 'name', t('activerecord.attributes.product.name') %></th>
    <th><%= sortable_bootstrap 'active', t('activerecord.attributes.product.active') %></th>
    <th><%= sortable_bootstrap 'price', t('activerecord.attributes.product.price') %></th>
    <th><%= sortable_bootstrap 'price', t('activerecord.attributes.creation_date') %></th>
  </tr>
  </thead>

  <tbody>
  <% @products.each do |product| %>
      <tr>
        <td><%= link_to product.name, edit_product_path(product)%></td>
        <td><%= product.active %></td>
        <td><%= nice_price(product.price) %></td>
        <td><%= nice_date(product.created_at) %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= will_paginate(@products, :renderer => 'BootstrapPaginationHelper::LinkRenderer') %><br/>



<% if @products.size > 0 %>
    <%= link_to t('actions.products.new'), new_product_path, class: 'btn btn-primary' %>
<% else %>
    <%= link_to t('actions.products.new'), new_product_path, class: 'btn btn-primary', :data =>{toggle: "tooltip", placement: "bottom"}, :title =>t('dialog.product.explain_add') %>
<% end %>

<!-- needed -->
<script language="JavaScript">
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
