<% page_title= t('page.title.my_products') %>



<h1><%= t('page.title.my_products') %></h1>

<table class='table'>
  <thead>
  <tr>
    <th><%= sortable_bootstrap "name" %></th>
    <th><%= sortable_bootstrap "active" %></th>
    <th><%= sortable_bootstrap "price" %></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.active %></td>
        <td><%= nice_price(product.price) %></td>
        <td>
          <div class="btn-group pull-right">
            <%= link_to 'Show', product, class: "btn btn-default active" %>
            <%= link_to 'Edit', edit_product_path(product), class: "btn btn-default" %>
            <%= link_to 'Destroy', product, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?' } %>
          </div>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= will_paginate(@products, :renderer => 'BootstrapPaginationHelper::LinkRenderer') %>



<br>

<%= link_to 'New Product', new_product_path, class: 'btn btn-primary' %>
