<% provide(:title, @product.name) %>


<div class="row">
  <div class="col-sm-4">
    <p>
    <div class="relative">
      <%= image_tag @product.large, class: 'img-thumbnail center-block' %>
      <!-- counter views -->
      <span class="bottom-right">
        <span class="btn btn-default">
          <span class="fa fa-eye fa-lg"></span> <span class="badge"><%= @product.counter_cache unless @product.counter_cache ==0 %></span>
        </span>
      </span>
      <!-- end counter views -->
      </div>

      <!-- download link if available -->
    <div id="product_download">
      <% if customer_signed_in? %>
          <% if @product.candownload(current_customer) %>
              <%= link_to download_attachment_path(@product.attachment, format: :pdf), class: 'btn btn-success input-block-level form-control' do %>
              <span class="fa fa-download"></span> Download
              <% end %>
    <% end %>
      <% end %>
    </div>
      <!-- end download link -->
      <!--- list of actions --->
    <div id="product_actions">
      <% if customer_signed_in? && current_customer.own_product(@product) %>
          <%= link_to  edit_product_path(@product), class:'btn btn-primary input-block-level form-control' do %>
          <span class="fa fa-pencil"></span> <%= t('helpers.action.edit') %>
          <% end %>
      <% elsif (!customer_signed_in? || (customer_signed_in? && !@product.is_bought_by_customer(current_customer.id))) %>
          <%= link_to buy_product_path(@product), :method => :post, class:'btn btn-primary input-block-level form-control' do %><i class="fa fa-shopping-cart"></i> <%= t('dialog.shop.add_cart')%><% end %>
          <small><%= t('dialog.shop.explain_add') %></small>
      <% end %>
      <% if Rails.env.development? %>
      <%= link_to 'BUY', buy_product_path(@product), :method => :post, class: 'btn btn-warning' %>
      <% end %>
    </div>
    <!--- end list of actions --->

    </p>
  </div>
  <div class="col-sm-8">
    <div class="panel panel-default product_presentation_<%= @product.id %>">
      <!-- title -->
      <div class="panel-heading">
        <h3><%= @product.name %></h3>
        <!-- tools -->
        <div class="row">
          <div class="col-xs-12">
            <div class="row list-group-item-actions">
              <div class="pull-right">

                <!-- like it! -->
                <% if customer_signed_in? %>
                    <% if @product.liked?(current_customer) %>
                        <%= render(partial: 'likes/unlike', locals: {context: @product}, locale: locale) %>
                    <% else %>
                        <%= render(partial: 'likes/like', locals: {context: @product}, locale: locale) %>
                    <% end %>
                <% end %>
                <!-- end like it! -->

                <!-- report abuse problem -->
                <div class="pull-right">
                  <%= link_to new_abuse_path(:product_id => @product.id),
                              class: 'btn-tool btn',
                              title: I18n.translate('actions.abuses.new'),
                              alt: I18n.translate('actions.abuses.new'),
                              data: {toggle: 'tooltip', placement: 'top'},
                              :remote => true do %>
                      <span class="fa fa-bolt fa-lg"> </span>
                  <% end %>
                </div>
                <!-- end abuse -->

                <% if customer_signed_in? %>
                    <!-- add to wish list -->
                    <div class="wish_form wish_form_<%= @product.id%> pull-right" id="wish_form_<%= @product.id%>">

                      <% if current_customer.wishing?(@product) %>
                          <%= render(partial: 'wish_lists/unwish', locale: locale) %>
                      <% else %>
                          <%= render(partial: 'wish_lists/wish', locale: locale) %>
                      <% end %>
                    </div>
                    <!-- end wish list -->
                <% end %>

              </div>
            </div>
          </div>
        </div>
        <!-- end tools -->
        <div id="product_score">
          <%= link_to 'javascript:show_reviews();' do %>
            <%= render :partial => "reviews/show_stars", locals: {:score => @product.score_reviews, :nb_reviews => @product.nb_reviews} %>
          <% end %>
        </div>

      </div>
      <!-- title -->
      <div class="panel-body">
        <div class="row">
          <!-- short description -->
          <div class="col-sm-8">
            <h4 class="pull-right"><%= nice_price(@product.price) %></h4><br/>
            <p><%= t('activerecord.attributes.attachment.nbpages')%> : <%= @product.nbpages %></p>
            <p><%= t('activerecord.attributes.attachment.file_type')%> : <%= @product.file_type %></p>
            <p><%= t('activerecord.attributes.attachment.file_size')%> : <%= number_to_human_size(@product.file_size) %></p>
            <p>
            <%= (I18n.translate 'activerecord.models.category', count: 2).capitalize %> :
            <% @product.categories.each do |category| %>
                <%= link_to catalog_products_path(category_id: category.id) do%><span class="label label-default"><%= category.name %></span><% end %>

            <% end %>
            </p>
            <p>
            <%= (I18n.translate 'activerecord.models.level', count: 2).capitalize %> :
            <% @product.levels.each do |level| %>
                <%= link_to catalog_products_path(level_id: level.id) do%><span class="label label-default"><%= level.name %></span><% end %>

            <% end %>
            </p>
            <p><%= t('activerecord.attributes.creation_date')%> : <%= nice_date(@product.created_at)%></p>
            <p><%= t('activerecord.attributes.update_date')%> : <%= nice_date(@product.updated_at)%></p>

          </div>
          <!-- end short description -->
          <!-- author -->
          <div class="col-sm-4">
            <%= render :partial => 'customers/customer', :locals => {customer: @product.customer, :withcols => 'false'} %>
          </div>
          <!-- end author -->
        </div>

      </div>




    </div>

    <div class="row product-links" >
      <div class="col-xs-12">
        <!-- social buttons -->
        <p><a href='#'><%= social_share_button_tag(@product.name, :image => image_url(@product.preview), :'data-source' => image_url(@product.preview), :'data-type' => 'photo') %></p>
        <!-- end social buttons -->
      </div>
    </div>


  </div>


</div>

<div class="tabs product-tabs">
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#description" role="tab" data-toggle="tab" aria-controls="description" aria-expanded="true"><%= t('activerecord.attributes.product.description')%></a></li>
    <li role="presentation" class=""><a href="#reviews" role="tab" data-toggle="tab" aria-controls="reviews" aria-expanded="false"><%= (I18n.translate 'activerecord.models.review', count: 2).capitalize %> <span id="nb_reviews" class="badge"><%= @product.nb_reviews||0  %></span></a></li>
  </ul>
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active in" id="description">
      <p><%= raw(@product.description) %></p>
    </div>
    <div role="tabpanel" class="tab-pane" id="reviews">

    <!-- placeholder for the new reviews -->
      <hr>
    <div id="review-form"></div>
      <hr>

      <!-- only signed users can add review -->
      <% if customer_signed_in? %>
          <!-- only customer that have ordered the product can review -->
          <% if @product.canreview(current_customer)==true %>
              <!-- alert if empty -->
              <% if @reviews.count==0 %>
                  <!-- add alert with call action to add review -->
                <%= render(partial: 'shared/dialog_alert', locals: {alert_message: t('dialog.review.alert_add'), alert_link_text: t('actions.reviews.new'), alert_link_path: new_review_path(product_id: @product.id, locale: locale), alert_remote: true}) %>
              <% else %>
                <%= link_to t('actions.reviews.new'), new_review_path(product_id: @product.id), remote: true, class: 'btn btn-primary' %>
              <% end %>

          <% elsif (!current_customer.own_product(@product) && !@product.is_bought_by_customer(current_customer.id))  %>
          <!-- product is not owned nor ordered by the customer -->
              <% if @reviews.count==0 %>
                  <!-- add alert with call action to add to basket -->
                  <%= render(partial: 'shared/dialog_alert', locals: {alert_message: t('dialog.review.alert_add'), alert_link_text: t('dialog.shop.add_cart'), alert_link_path: buy_product_path(@product, locale: locale),:alert_link_method => :post}) %>
              <% else %>
                  <%= link_to t('dialog.shop.add_cart'), buy_product_path(@product, locale: locale), class: 'btn btn-primary',:method => :post %><br/>
              <% end %>
          <% end %>
          <% if Rails.env.development? %>
              <%= link_to 'REVIEW REMOTE', new_review_path(product_id: @product.id), remote: true, class: 'btn btn-warning' %>
              <%= link_to 'REVIEW', new_review_path(product_id: @product.id), class: 'btn btn-warning' %>
          <% end %>
      <!-- customer not signed -->
      <% else %>
          <!-- we alert for empty reviews -->
          <% if @reviews.count==0 %>
              <!-- add alert with call action to login -->
              <%= render(partial: 'shared/dialog_alert', locals: {alert_message: t('dialog.review.alert_add'), alert_link_text: t('actions.reviews.new'), alert_link_path: new_customer_session_path(:redirect_to => product_path(id: @product.id, locale: locale))}) %>
          <% else %>
              <%= link_to t('actions.reviews.new'), new_review_path(product_id: @product.id), remote: true, class: 'btn btn-primary' %>
          <% end %>
      <% end %>

      <div id="review_table" class="reviews">

        <% @reviews.each do |review| %>
            <%# Render table row partial for each person object %>
            <%= render partial: 'reviews/review', locals: {review: review} %>
        <% end %>

      </div>

      <div id="infinite-scrolling-reviews" class="row">
        <%= will_paginate(@reviews, :renderer => 'BootstrapPaginationHelper::LinkRenderer') %>
      </div>



    </div>
  </div>
</div>

<!--- list of associated products --->
<div class="row">
  <% associated_products = Product.associated_products(@product) %>
  <div class="col-xs-12">
    <h3><%= t('activerecord.attributes.product.similar') unless associated_products.count==0 %></h3>
  </div>
  <% associated_products.each do |associated| %>
    <%= render(partial: 'products/product_cart', locals: {:product => associated}) %>
  <% end %>
</div>
<!--- end list of associated products --->











<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- ==========================
    	ADD REVIEW - START
    =========================== -->
<div class="modal fade" id="addReview" tabindex="-1" role="dialog" aria-labelledby="addReviewLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times"></i></button>
        <h4 class="modal-title">Add a review</h4>
      </div>
      <div class="modal-body">

        <form class="review-form">
          <input type="hidden" name="product_id" value=<%= @product.id%> >
          <p class="review-notes"><span id="email-notes">You need to be logged in to review</span> Required fields are marked<span class="required">*</span></p>
          <div class="row">
            <div class="form-group col-sm-3">
              <label for="author">Score<span class="required">*</span></label>
              <input class="form-control" id="score" name="score" type="text" required="" value="" placeholder="Enter your Score">
            </div>
            <div class="form-group col-sm-9">
              <label for="title">Title<span class="required">*</span></label>
              <input class="form-control" id="title" name="title" type="title" required="" value="" placeholder="Enter your title">
            </div>
          </div>
          <div class="form-group">
            <label for="description">Description<span class="required">*</span></label>
            <textarea class="form-control" id="description" name="description" required="" placeholder="Enter your description"></textarea>
          </div>
          <button class="btn btn-primary" type="submit"><i class="fa fa-check"></i>Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- ==========================
    ADD REVIEW - END
=========================== -->

<script language="JavaScript">
  function show_reviews() {
      $('.nav-tabs a[href="#reviews"]').tab('show');
      var target = $('.nav-tabs a[href="#reviews"]');
      $('html,body').animate({
          scrollTop: target.offset().top-100
      }, 1000);
  }
</script>

<script language="JavaScript">
    // Javascript to enable link to tab
    var hash = document.location.hash;
    var prefix = "tab_";
    if (hash) {
        console.log('.nav-tabs a[href="'+hash.replace(prefix,"")+'"]');
        $('.nav-tabs a[href="'+hash.replace(prefix,"")+'"]').tab('show');
    }

    // Change hash for page-reload
    $('.nav-tabs a').on('shown', function (e) {
        window.location.hash = e.target.hash.replace("#", "#" + prefix);
    });
</script>
