<div class="row">
  <div class="col-xs-4">
    <p>
      <%= image_tag @product.preview, class: 'img-thumbnail' %>
    </p>
  </div>
  <div class="col-xs-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= @product.name %></h3>
        <div class="product-labels">
          <span class="label label-info">new</span>
          <span class="label label-danger">sale</span>
        </div>
        <div id="product_score">
          <%= render "comments/show_stars", :score => @product.score_comments %>
        </div>      </div>
      <div class="panel-body">
        <%= @product.price||= "Free" %>
        <hr>
        <ul>
          <li><span>type:</span> </li>
          <li><span>nb pages:</span> <%= @product.nbpages %></li>
        </ul>
        <p><%= @product.description.html_safe %></p>
      </div>
      <div class="panel-footer">
        <!--- list of actions --->
        <p>
          <% if customer_signed_in? && current_customer.own_product(@product) %>
              <%= link_to 'Edit', edit_product_path(@product), class:'btn btn-primary' %>
          <% else %>
              <%= link_to buy_product_path(@product), :method => :post, class:'btn btn-primary' do %><i class="fa fa-shopping-cart"></i> Add to cart<% end %>
          <% end %>
        </p>
        Categories:
        <% @product.categories.each do |category| %>
            <%= link_to catalog_products_path(category_id: category.id) do%><span class="label label-default"><%= category.name %></span><% end %>

        <% end %>
        <hr>

       Levels:
        <% @product.levels.each do |level| %>
            <%= link_to catalog_products_path(level_id: level.id) do%><span class="label label-default"><%= level.name %></span><% end %>

        <% end %>
      </div>
    </div>
    <ul class="list-inline product-links">
      <li><a href="#"><i class="fa fa-heart"></i> Add to wishlist</a></li>
      <li><a href="#"><i class="fa fa-exchange"></i> Compare</a></li>
      <li><a href="#"><i class="fa fa-envelope"></i> Email to friend</a></li>
    </ul>

  </div>
</div>

<div class="tabs product-tabs">
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#description" role="tab" data-toggle="tab" aria-controls="description" aria-expanded="true">Description</a></li>
    <li role="presentation" class=""><a href="#reviews" role="tab" data-toggle="tab" aria-controls="reviews" aria-expanded="false">Reviews <span id="nb_comments" class="badge"><%= @product.nb_comments||0  %></span></a></li>
    <li role="presentation" class=""><a href="#video" role="tab" data-toggle="tab" aria-controls="video" aria-expanded="false">Responsive Video</a></li>
  </ul>
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active in" id="description">
      <h4>Etiam posuere id nulla</h4>
      <%= @product.description.html_safe %>
      <p>Ut arcu ipsum, cursus vitae ligula id, semper sodales mauris. Etiam posuere id nulla lacinia convallis. Sed tortor nisi, semper a auctor id, aliquet et sem. Aliquam suscipit lectus ut arcu pretium, et malesuada tortor finibus. Pellentesque sed arcu nec lectus vulputate pharetra. Vestibulum lobortis dolor massa, et tristique ex tincidunt at. Donec imperdiet elit elit, sit amet posuere dui auctor id. Nullam vel augue varius, ornare purus a, mattis diam.</p>
      <ul>
        <li>Etiam posuere id nulla lacinia convallis</li>
        <li>Sed tortor nisi, semper a auctor id, aliquet</li>
        <li>Curabitur eros dui</li>
      </ul>
      <h5>Pellentesque vel felis pharetra</h5>
      <p>Interdum et malesuada fames ac ante ipsum primis in faucibus. Curabitur eros dui, viverra nec nisl quis, aliquet auctor nisi. Pellentesque vel felis pharetra, accumsan purus eu, mattis est. Aliquam tincidunt efficitur nibh nec volutpat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nulla ut nisl eu nisi vestibulum consectetur. Quisque egestas dolor neque, at bibendum lorem convallis sed. Maecenas finibus metus ante, non tristique sapien sagittis id. Nam et iaculis massa. Nulla facilisi. Integer at nunc neque. Phasellus posuere et nunc ac blandit. Mauris sollicitudin, sapien vitae luctus pellentesque, risus nunc mattis purus, sed laoreet ante leo congue sem. Etiam eget nisi ipsum. Phasellus consectetur vel turpis vitae eleifend.</p>
      <h5>Phasellus et libero</h5>
      <p>Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam erat volutpat. Phasellus et libero nec ligula imperdiet viverra quis et turpis. Aenean quis mattis nunc. Mauris consectetur sed eros sed convallis. Morbi non elit in est tempus scelerisque congue a purus. In eget ullamcorper magna. Nam libero turpis, ullamcorper sit amet molestie nec, cursus ac urna. Suspendisse blandit finibus est, quis pulvinar arcu pretium vel. Aenean et leo nisi. Donec at iaculis ligula. Proin condimentum lobortis ex, in congue nisi molestie eget.</p>
    </div>
    <div role="tabpanel" class="tab-pane" id="reviews">

    <hr>
      <% if customer_signed_in? %>
        <%= link_to 'add comment', new_comment_path(product_id: @product.id), remote: true, class: 'btn btn-primary' %>
      <% else %>
          <%= link_to 'You must log in to add a comment', new_customer_session_path(:redirect_to => product_path(id: @product.id)), class: 'btn btn-primary' %>
      <% end %>
    <hr>

      <div id="comment_table" class="comments">
        <div id="comment-form" style="display:none;"></div>
        <% @comments.each do |comment| %>
            <%# Render table row partial for each person object %>
            <%= render partial: 'comments/comment', locals: {comment: comment} %>
        <% end %>

      </div>

      <div id="infinite-scrolling-comments" class="row">
        <%= will_paginate(@comments, :renderer => 'BootstrapPaginationHelper::LinkRenderer') %>
      </div>

      <a class="btn btn-primary" data-toggle="modal" data-target="#addReview">Add Review</a>
      <a class="btn btn-primary" data-toggle="modal" data-target="#addReview">Add Review</a>


    </div>
    <div role="tabpanel" class="tab-pane" id="video">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe allowfullscreen="" src="http://www.youtube.com/embed/M4z90wlwYs8?feature=player_detailpage"></iframe>
      </div>
    </div>
  </div>
</div>












<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- ==========================
    	ADD REVIEW - START
    =========================== -->
<div class="modal fade" id="addReview" tabindex="-1" role="dialog" aria-labelledby="addReviewLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times"></i></button>
        <h4 class="modal-title">Add a review</h4>
      </div>
      <div class="modal-body">

        <form class="comment-form">
          <input type="hidden" name="product_id" value=<%= @product.id%> >
          <p class="comment-notes"><span id="email-notes">You need to be logged in to comment</span> Required fields are marked<span class="required">*</span></p>
          <div class="row">
            <div class="form-group col-sm-3">
              <label for="author">Score<span class="required">*</span></label>
              <input class="form-control" id="score" name="score" type="text" required="" value="" placeholder="Enter your Score">
            </div>
            <div class="form-group col-sm-9">
              <label for="title">Title<span class="required">*</span></label>
              <input class="form-control" id="title" name="title" type="title" required="" value="" placeholder="Enter your title">
            </div>
          </div>
          <div class="form-group">
            <label for="description">Description<span class="required">*</span></label>
            <textarea class="form-control" id="description" name="description" required="" placeholder="Enter your description"></textarea>
          </div>
          <button class="btn btn-primary" type="submit"><i class="fa fa-check"></i>Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- ==========================
    ADD REVIEW - END
=========================== -->
