<% provide(:title, @product.name) %>


<div class="row">
  <div class="col-sm-4">
    <p>
      <%= image_tag @product.preview, class: 'img-thumbnail center-block' %>
      <% if customer_signed_in? %>
          <% if @product.candownload(current_customer) %>
              <%= link_to 'Download', @product.file_url, class: 'btn btn-success input-block-level form-control' %>
          <% end %>
     <% end %>
    </p>
  </div>
  <div class="col-sm-8">
    <div class="panel panel-default product_presentation_<%= @product.id %>">
      <!-- title -->
      <div class="panel-heading">
        <h4 class="panel-title"><%= @product.name %></h4>
        <div id="product_score">
          <%= render :partial => "comments/show_stars", :score => @product.score_comments, :nb_comments => @product.nb_comments %>
        </div>      </div>
      <!-- title -->
      <div class="panel-body">
        <div class="row">
          <!-- short description -->
          <div class="col-sm-8">
            <h4 class="pull-right"><%= nice_price(@product.price) %></h4><br/>
            <span>nb pages:</span> <%= @product.nbpages %>
            <p>
            <%= (I18n.translate 'activerecord.models.category', count: 2).capitalize %> :
            <% @product.categories.each do |category| %>
                <%= link_to catalog_products_path(category_id: category.id) do%><span class="label label-default"><%= category.name %></span><% end %>

            <% end %>
            </p>
            <p>
            <%= (I18n.translate 'activerecord.models.level', count: 2).capitalize %> :
            <% @product.levels.each do |level| %>
                <%= link_to catalog_products_path(level_id: level.id) do%><span class="label label-default"><%= level.name %></span><% end %>

            <% end %>
            </p>

          </div>
          <!-- end short description -->
          <!-- author -->
          <div class="col-sm-4">
            <%= render :partial => 'customers/customer', :locals => {customer: @product.customer, :withcols => 'false'} %>
          </div>
          <!-- end author -->
        </div>
      </div>
      <!--- list of actions --->
      <div class="panel-footer">
          <% if customer_signed_in? && current_customer.own_product(@product) %>
              <%= link_to t('helpers.action.edit'), edit_product_path(@product), class:'btn btn-primary input-block-level form-control' %>
          <% else %>
                <%= link_to buy_product_path(@product), :method => :post, class:'btn btn-primary input-block-level form-control' do %><i class="fa fa-shopping-cart"></i> <%= t('dialog.shop.add_cart')%><% end %>
            <a href=""><small><%= t('dialog.shop.explain_add') %></small></a>
          <% end %>
      </div>
      <!--- end list of actions --->



    </div>
    <ul class="list-inline product-links">
      <li>
        <% if customer_signed_in? %>
            <div class="wish_form wish_form_<%= @product.id%>" id="wish_form_<%= @product.id%>">

              <% if current_customer.wishing?(@product) %>
                   <%= render(partial: 'wish_lists/unwish', locale: locale) %>
              <% else %>
                   <%= render(partial: 'wish_lists/wish', locale: locale) %>
              <% end %>
            </div>
        <% end %>
      <!-- social buttons -->
      <li><a href='#'><%= social_share_button_tag(@product.name) %></li>
      <!-- end social buttons -->
    </ul>

  </div>


</div>

<div class="tabs product-tabs">
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#description" role="tab" data-toggle="tab" aria-controls="description" aria-expanded="true"><%= t('activerecord.attributes.product.description')%></a></li>
    <li role="presentation" class=""><a href="#reviews" role="tab" data-toggle="tab" aria-controls="reviews" aria-expanded="false"><%= (I18n.translate 'activerecord.models.comment', count: 2).capitalize %> <span id="nb_comments" class="badge"><%= @product.nb_comments||0  %></span></a></li>
  </ul>
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active in" id="description">
      <p><%= raw(@product.description) %></p>
    </div>
    <div role="tabpanel" class="tab-pane" id="reviews">

    <hr>
      <% if customer_signed_in? %>
          <% if @product.cancomment(current_customer)==true %>

            <%= link_to t('actions.comments.new'), new_comment_path(product_id: @product.id), remote: true, class: 'btn btn-primary' %>
          <% end %>
      <% else %>


          <%= link_to t('actions.comments.new'), new_customer_session_path(:redirect_to => product_path(id: @product.id)), class: 'btn btn-primary' %>
      <% end %>
    <hr>

      <div id="comment_table" class="comments">

        <% if @comments.count ==0 %>
            <div class="alert alert-warning" role="alert">
              <span class="fa fa-bullhorn" aria-hidden="true"></span>
              <span class="sr-only">Error:</span>
              <%= t('dialog.comments.add')%>
            </div>
        <% end %>


        <% @comments.each do |comment| %>
            <%# Render table row partial for each person object %>
            <%= render partial: 'comments/comment', locals: {comment: comment} %>
        <% end %>

      </div>

      <div id="infinite-scrolling-comments" class="row">
        <%= will_paginate(@comments, :renderer => 'BootstrapPaginationHelper::LinkRenderer') %>
      </div>



    </div>
  </div>
</div>












<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- ==========================
    	ADD REVIEW - START
    =========================== -->
<div class="modal fade" id="addReview" tabindex="-1" role="dialog" aria-labelledby="addReviewLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times"></i></button>
        <h4 class="modal-title">Add a review</h4>
      </div>
      <div class="modal-body">

        <form class="comment-form">
          <input type="hidden" name="product_id" value=<%= @product.id%> >
          <p class="comment-notes"><span id="email-notes">You need to be logged in to comment</span> Required fields are marked<span class="required">*</span></p>
          <div class="row">
            <div class="form-group col-sm-3">
              <label for="author">Score<span class="required">*</span></label>
              <input class="form-control" id="score" name="score" type="text" required="" value="" placeholder="Enter your Score">
            </div>
            <div class="form-group col-sm-9">
              <label for="title">Title<span class="required">*</span></label>
              <input class="form-control" id="title" name="title" type="title" required="" value="" placeholder="Enter your title">
            </div>
          </div>
          <div class="form-group">
            <label for="description">Description<span class="required">*</span></label>
            <textarea class="form-control" id="description" name="description" required="" placeholder="Enter your description"></textarea>
          </div>
          <button class="btn btn-primary" type="submit"><i class="fa fa-check"></i>Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- ==========================
    ADD REVIEW - END
=========================== -->
