
<%= simple_form_for(@review) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
        <% unless @review.new_record? || @review.score.nil? %>
        <div class="form-group string">
          <label>Score</label>
    <% 1.upto(5) do |i| %>

            <i class="glyphicon glyphicon-star<%='-empty' if i>@review.score%>"> </i>
            <% end %>
          <span class='badge'><%=@review.score%></span>
        </div>
        <% else %>
    <%= f.input :score, type: 'number', input_html: { class: 'rating', 'data-max' => '5', 'data-step' => '1', 'data-show-clear' => 'false', 'data-size' => 'xs'} %>
        <% end %>
    <%= f.input :title, placeholder: 'Title or Summary (needed)' %>
    <%= f.input :description, as: :text %>
    <%= f.association :product, :include_blank => false %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
