<!-- REVIEW - START -->
    <div class="row">
      <div class="col-xs-4">
        <%= link_to product_path(review.product) do %>
            <h5 class="ellipsis"><%= review.product.name %></h5>
            <%= image_tag review.product.small, class: 'img-thumbnail center-block' %>
        <% end %>
      </div>
      <div class="col-xs-8">
        <b><%= review.title %></b>
        <p><%= review.description %></p>
        <% customer = review.customer %>
        <img class="img-circle align-left customer-picture-sm"
             data-customer="<%=customer.id %>"
             data-locality=  "<%= t('activerecord.attributes.customer.located', :locality => customer.locality||'???') %>"
             data-created="<%=t('activerecord.attributes.customer.since', :created => l(customer.created_at, :format => :short) )%>" alt="" src="<%= customer.picture %>">

        <h6><%= link_to "#{customer.first_name} #{customer.name}", customer_path(customer) %></h6>

        <p><span class="date text-muted"><%= nice_date(review.updated_at) %></span></p>

      </div>
      <div class="col-xs-8 col-xs-offset-4 col-sm-offset-0">
        <!--- stars --->
        <%= render :partial =>"reviews/show_stars", :locals => {:score => review.score,:simple => true} %>
        <!--- end stars --->

        <% # @TODO add report %>
        <div id="abus_review_<%= review.id%>">
            <p><%= link_to new_abuse_path(:review_id => review.id), :remote => true do %>
                  <span class="fa fa-bolt"></span> <%= t('actions.abuses.new') %>
              <% end %></p>
        </div>
      </div>
    </div>
<!-- REVIEW - END -->