<!-- REVIEW - START -->
    <div class="row" id='<%= "review_#{review.id}"%>'>
      <div class="col-xs-4">
        <%= link_to product_path(review.product) do %>
            <h5 class="ellipsis"><%= review.product.name %></h5>
            <%= image_tag review.product.small, class: 'img-thumbnail center-block' %>
        <% end %>
      </div>
      <div class="col-xs-8">
        <div class="quote-panel panel-tools">
          <div class="arrow"></div>
          <div class="panel-heading">
            <% customer = review.customer %>
            <img class="img-circle align-left customer-picture-xs"
                 data-customer="<%=customer.id %>"
                 data-locality=  "<%= t('activerecord.attributes.customer.located', :locality => customer.locality||'???') %>"
                 data-created="<%=t('activerecord.attributes.customer.since', :created => l(customer.created_at, :format => :short) )%>" alt="" src="<%= customer.picture %>">

            <h6><%= link_to "#{customer.first_name} #{customer.name}", customer_path(customer) %></h6>
            <p><span class="date text-muted"><%= nice_date(review.updated_at) %></span></p>
          </div>
          <div class="panel-body">
            <!--- stars --->
            <%= render :partial => 'reviews/show_stars', :locals => {:score => review.score, :simple => true} %>
            <!--- end stars --->
            <b><%= review.title %></b>
            <p><%= sanitize(review.description, scrubber: :prune) %></p>
          </div>
          <div class="panel-footer">
            <div class="tools-box">
              <%= render(partial: 'abuses/btn_create', locals: {context: review}) %>

            </div>
          </div>
        </div>


      </div>
    </div>
<!-- REVIEW - END -->