<!-- REVIEW - START -->
<li class="review-panel" id=<%= 'current_review' if review == @current_review %> >
  <div class="review-customer">
    <%= render(partial: 'customers/customer', locals: {customer: review.customer, withcols: 'false'}) %>
  </div>
  <div class="quote-panel panel-tools review-text">
    <div class="arrow"></div>
    <div class="panel-heading">
      <%= render :partial => 'reviews/show_stars', :locals => {:score => review.score, :simple => true} %>
      <h4><%= review.title %></h4>
      <p><small class="text-muted"><i class="fa fa-clock-o"></i> <%= time_ago_in_words(review.created_at) %></small></p>
    </div>
    <div class="panel-body">
      <p><%= raw(review.description) %></p>
    </div>
    <div class="panel-footer">
      <div class="tools-box">
        <%= render(partial: 'abuses/btn_create', locals: {context: review})%>
      </div>
    </div>
  </div>
</li>
<!-- REVIEW - END -->