<% forum_answer ||= @forum_answer %>

<li class="forum_answer-panel forum_answer_<%= forum_answer.id%>">
  <div class="forum_answer-customer">
    <%= render(partial: 'customers/customer', locals: {customer: forum_answer.customer, withcols: 'false'}) %>
  </div>
  <div class="quote-panel panel-tools forum_answer-text">
    <div class="arrow"></div>
    <div class="panel-heading">
      <p><small class="text-muted"><i class="fa fa-clock-o"></i> <%= time_ago_in_words(forum_answer.created_at) %></small></p>
    </div>
    <div class="panel-body">
      <p><%= raw(forum_answer.text) %></p>
    </div>
    <div class="panel-footer">
      <div class="tools-box">
        <%= render(partial: 'forum_answers/btn_answer', locals: {forum_subject_id: forum_answer.forum_subject.id}) %>
        <%= render(partial: 'comments/btn_comment', locals: {context: forum_answer}) %>
        <%= render(partial: 'forum_answers/btn_edit', locals: {forum_answer: forum_answer}) %>
      </div>
    </div>
  </div>

  <div class="clearfix"></div>

  <ul class="comments-list">
      <% forum_answer.comments.each do |comment| %>
          <%= render(partial: 'comments/comment', locals: {comment: comment}) %>
      <% end %>
      <div id=<%="comment-form_forum_answer_#{forum_answer.id}"%> ></div>
  </ul>

</li>

