<li class="forum_answer_<%= forum_answer.id%>">
  <div class="reply-customer">
    <%= render(partial: 'customers/customer', locals: {customer: forum_answer.customer, withcols: 'false'}) %>
  </div>
  <div class="reply-panel">
    <div class="arrow"></div>
    <div class="forum_answer-tools">
      <%= render(partial: 'forum_answers/btn_answer', locals: {forum_subject_id: forum_answer.forum_subject.id}) %>
      <%= render(partial: 'comments/btn_comment', locals: {context: forum_answer}) %>
      <%= render(partial: 'forum_answers/btn_edit', locals: {forum_answer: forum_answer}) %>
    </div>
    <div class="reply-heading">
      <% customer = forum_answer.customer %>
      <h5 class="reply-title"><%= link_to customer.full_name, customer_path(customer) %>
        <%= render :partial =>"reviews/show_stars", :locals => {:score => customer.score_reviews, :nb_reviews => customer.nb_reviews,:simple => true} %>
      </h5>
      <p><small class="text-muted"><i class="fa fa-clock-o"></i> <%= time_ago_in_words(forum_answer.created_at) %></small></p>
    </div>
    <div class="reply-body">
      <p><%= raw(forum_answer.text) %></p>
    </div>
  </div>
  <ul class="comments">
      <% forum_answer.comments.each do |comment| %>
          <%= render(partial: 'comments/comment', locals: {comment: comment}) %>
      <% end %>
      <div id=<%="comment-form_forum_answer_#{forum_answer.id}"%> ></div>
  </ul>

</li>

