<p id="notice"><%= notice %></p>

<h1>Listing Forum Answers</h1>

<table>
  <thead>
    <tr>
      <th>Text</th>
      <th>Customer</th>
      <th>Forum subject</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @forum_answers.each do |forum_answer| %>
      <tr>
        <td><%= forum_answer.text %></td>
        <td><%= forum_answer.customer %></td>
        <td><%= forum_answer.forum_subject %></td>
        <td><%= link_to 'Show', forum_answer %></td>
        <td><%= link_to 'Edit', edit_forum_answer_path(forum_answer) %></td>
        <td><%= link_to 'Destroy', forum_answer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Forum answer', new_forum_answer_path %>
