<div class="row">
  <div class="col-md-3 col-sm-3">
    <address>
      <strong>MyGoodCourse</strong><br>
      © <%= Time.new.year %>
    </address>
  </div>
  <div class="col-md-5 col-md-push-1 col-sm-5 col-sm-push-1">
    <div class="row">
      <div class="col-md-4 col-sm-4">
        <ul class="list-inline">
          <p><%= t('activerecord.attributes.customer.language')%></p>
          <li><%= link_to "English", :locale=>'en'%></li>
          <li><%= link_to "Français", :locale=>'fr'%></li>
        </ul>
      </div>
      <div class="col-md-4 col-sm-4">

      </div>
      <div class="col-md-4 col-sm-4">
        <ul class="list-inline">
          <li><%= link_to "Who we are", home_path %></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-3 col-md-push-1 col-sm-push-1">
    <div class="text-center">
      <a href="#"><i class="fa fa-twitter fa-lg"></i></a>
      <a href="#"><i class="fa fa-facebook fa-lg"></i></a>
      <a href="#"><i class="fa fa-dribbble fa-lg"></i></a>
      <a href="#"><i class="fa fa-behance fa-lg"></i></a>
    </div>
  </div>
</div>