<div class="row">
  <div class="col-md-3 col-sm-3">
    <address>
      <strong>MyGoodCourse</strong><br>
      © <%= Time.new.year %>
    </address>
  </div>
  <div class="col-md-6 col-sm-6">
    <div class="row hidden-print">
      <div class="col-md-4 col-sm-4">
        <p><%= t('activerecord.attributes.customer.language')%></p>
        <ul class="list-inline">
          <li><%= link_to 'English', :locale=>'en'%></li>
          <li><%= link_to 'Français', :locale=>'fr'%></li>
        </ul>
      </div>
      <div class="col-md-4 col-sm-4">

      </div>
      <div class="col-md-4 col-sm-4">
        <ul class="list-inline">
          <li><%= link_to t('page.who_we_are'), home_path %></li>
          <li><%= link_to t('activerecord.attributes.customer.terms_of_service'), terms_and_conditions_path %></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-3">
    <div class="text-center">
      <a href='#'><i class="fa fa-twitter fa-lg"></i></a>
      <a href='#'><i class="fa fa-facebook fa-lg"></i></a>
      <a href='#'><i class="fa fa-dribbble fa-lg"></i></a>
      <a href='#'><i class="fa fa-behance fa-lg"></i></a>
    </div>
  </div>
</div>