<%# add navigation links to this file %>

<% if customer_signed_in? %>
    <li>
    <img class="media-object img-circle"
         alt="" src="<%= current_customer.picture %>" style="width:50px;"></li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><%= link_to t('customers.passwords.edit.change_my_password'), edit_customer_registration_path(:id => current_customer.id) %></li>
        <li><%= link_to t('page.my_profile'), customer_path(current_customer) %></li>
        <li><%= link_to t('page.my_products'), myproducts_products_path %></li>
        <li><%= link_to t('page.my_orders'), myorders_orders_path %></li>
        <li><%= link_to t('customers.sessions.signed_out'), destroy_customer_session_path, :method=>'delete' %></li>
      </ul>
    </li>
    <li><%= link_to t('page.my_dashboard'), dashboard_customer_path(current_customer) %></li>
<% else %>
    <li><%= link_to t('customers.sessions.new.sign_in'), new_customer_session_path %></li>
    <li><%= link_to t('customers.registrations.new.sign_up'), new_customer_registration_path %></li>
<% end %>

<li><%= link_to t('page.catalog'), catalog_products_path %></li>


<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Manage <span class="caret"></span></a>
  <ul class="dropdown-menu">
    <li><%= link_to 'Cheating', cheating_path %></li>
    <li><%= link_to 'Customers', customers_path %></li>
    <li><%= link_to 'Products', products_path %></li>
    <li role="separator" class="divider"></li>
    <li><%= link_to 'Employees', employees_path %></li>
    <li role="separator" class="divider"></li>
    <li><%= link_to 'Cycles', cycles_path %></li>
    <li><%= link_to 'Levels', levels_path %></li>
    <li><a href="#">One more separated link</a></li>
    <li role="separator" class="divider"></li>
    <li><%= link_to 'Families', families_path %></li>
    <li><%= link_to 'Categories', categories_path %></li>
  </ul>
</li>
<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= t('activerecord.attributes.customer.language')%> <span class="caret"></span></a>
  <ul class="dropdown-menu">
      <li><%= link_to "English", :locale=>'en'%></li>
      <li><%= link_to "Français", :locale=>'fr'%></li>
  </ul>
</li>


