<%# navigation styled for Bootstrap 3.0 %>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'MyGoodCourse(beta)', catalog_products_path, class: 'navbar-brand' %>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-left">
        <%= render 'layouts/navigation_links' %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if customer_signed_in? %>
            <li class="dropdown">
              <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="padding: 2px;">
                <img class="media-object img-circle"
                     alt="" src="<%= current_customer.picture %>" style="width:50px; padding: 0px;">
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to t('customers.passwords.edit.change_my_password'), edit_customer_registration_path(:id => current_customer.id) %></li>
                <li><%= link_to t('page.my_profile'), customer_path(current_customer) %></li>
                <li><%= link_to t('actions.products.new'), new_product_path, class: 'btn btn-primary' %></li>
                <li><%= link_to t('page.my_products'), myproducts_products_path %></li>
                <li><%= link_to t('page.my_orders'), myorders_orders_path %></li>
                <li><%= link_to t('page.my_dashboard'), dashboard_customer_path(current_customer) %></li>
                <li><%= link_to destroy_customer_session_path, :method=>'delete' do%><i class="fa fa-sign-out pull-right"></i><%end%></li>
              </ul>
            </li>
        <% else %>
            <li><%= link_to t('customers.registrations.new.sign_up'), new_customer_registration_path %></li>
            <li><%= link_to t('customers.sessions.new.sign_in'), new_customer_session_path %></li>
      <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if has_order? && current_order.has_items? %>
            <li id="cart_summary">
              <%= render 'layouts/cart_summary' %>
            </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>


