<!DOCTYPE html>
<html lang='<%= I18n.locale %>'>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Facebook and Twitter integration -->
  <meta property="og:title" content="<%= full_title(yield(:title)) %>"/>
  <meta property="og:image" content=""/>
  <meta property="og:url" content=""/>
  <meta property="og:site_name" content=""/>
  <meta property="og:description" content=""/>
  <meta name="twitter:title" content="<%= full_title(yield(:title)) %>" />
  <meta name="twitter:image" content="" />
  <meta name="twitter:url" content="" />
  <meta name="twitter:card" content="" />

  <!-- favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="/manifest.json">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="theme-color" content="#ffffff">


  <title><%= full_title(yield(:title)) %></title>
  <meta name="keywords" content="<%= t('keywords') %>">
  <meta name="description" content="<%= t('description') %>">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <script src="https://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"></script>
  <script src="https://js.stripe.com/v2/"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_tag do %>
      I18n_defaultLocale = "<%= I18n.default_locale %>";
      I18n_locale = "<%= I18n.locale %>";
  <% end %>

  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js"></script>
  <![endif]-->

  <%= tag :meta, :name => 'stripe-key', :content => Rails.application.secrets.stripe_publishable_key %>

</head>
<body>

<header>
  <%= render 'layouts/navigation' %>
</header>

<div class="container">

  <div id="alert_notice_holder">

  </div>
  <% if notice %>
      <%= render(partial: 'shared/dialog_notice_flash', locals: {alert_notice: notice}) %>
  <% end %>
  <% if alert %>
      <%= render(partial: 'shared/dialog_alert_flash', locals: {alert: alert}) %>
  <% end %>

  <%= yield %>
  <!-- FOOTER -->
  <hr>

  <%= debug(params) if Rails.env.development? %>

</div>


<div class="modal fade" id="app_dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"  data-backdrop="static" data-keyboard="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title"></h3>
      </div>
      <div class="modal-body">
      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<footer class="bs-docs-footer" role="contentinfo">
  <%= render 'layouts/footer' %>
</footer>

</body>
</html>


