<!DOCTYPE html>
<html lang='<%= I18n.locale %>'>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
  <title><%= full_title(yield(:title)) %></title>
  <meta name="keywords" content="<%= t('keywords') %>">
  <meta name="description" content="<%= t('description') %>">
  <%# stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <script src="https://js.stripe.com/v2/"></script>
  <%# javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag *webpack_asset_paths('global', extension: 'js') %>
  <%= stylesheet_link_tag *webpack_asset_paths('global', extension: 'css') %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<style>


  .affix {
    top: 90px;
    width: 213px;
  }

  .affix-bottom {
    bottom: 200px;
    width: 213px;
    position: fixed;
  }
  @media (min-width: 1200px) {
    .affix {
      width: 263px;
    }
  }
</style>


  <%= javascript_tag do %>
      I18n_defaultLocale = "<%= I18n.default_locale %>";
      I18n_locale = "<%= I18n.locale %>";
  <% end %>

  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js"></script>
  <![endif]-->

  <%= tag :meta, :name => 'stripe-key', :content => Rails.application.secrets.stripe_publishable_key %>

</head>
<body data-spy="scroll" data-target="#navScrollspy" data-offset="70">

<header>
  <%= render 'layouts/navigation' %>
</header>


<div class="wrapper">
  <%= yield :page_header %>

  <div class="main main-raised">
    <div class="section">


    <div class="container">
  <div id="alert_notice_holder">

  </div>
  <% if notice %>
      <%= render(partial: 'shared/dialog_notice_flash', locals: {alert_notice: notice}) %>
  <% end %>
  <% if alert %>
      <%= render(partial: 'shared/dialog_alert_flash', locals: {alert: alert}) %>
  <% end %>

  <%= yield %>

  <%= debug(params) if Rails.env.development? %>

</div>

    </div>
  </div>
</div>


<!-- FOOTER -->
<footer class="footer" role="contentinfo">
  <%= render 'layouts/footer' %>
</footer>

<script language="javascript">
  $('.parallax').stellar();
</script>

</body>
</html>


